@media (max-device-width: 480px) {
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        margin-left: 0px !important;
        margin: auto !important;
    }

    .nav.sf-menu {
        display: none;
    }

    header > div.header-wrapper > div.container > div.header_widgets > div.header_wishlist {
        display: none;
    }

    .header-cart.sticky {
        align-self: center !important;
    }

    body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
        left: 0px !important;
        top: 0px !important;
    }
    
}


@media (max-device-width: 480px) {
    .content-area > div.custom_section > div > span:nth-child(1) {
        font-size: 24px !important;
    }

    .content-area > div.custom_section > div > span:nth-child(3) {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .content-area > div.custom_section > div:nth-child(3) > div > div > div {
        margin: auto;
    }

    .content-area > div.custom_section > div > div > div {
        margin-bottom: 20px !important;
    }

    body.sidenav-enabled.ltr .mobile_side_nav ul a {
        direction: rtl !important;
    }

    .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
        color: black !important;
        font-weight: 400;
        text-transform: lowercase;
    }
    
    .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a:first-letter{
        color: black !important;
        font-weight: 400;
        text-transform: uppercase;
    }

    .content-area > section > div > div > div.col-12.col-lg-6.bx-slider-wrapper.bx-on > div.bx-wrapper > div.bx-viewport {
        height: 450px !important;
    }
    
    body.ltr .header-cart .cart_drop_down.dropdown .dropdown-menu {
        left: -5px !important;
        width: 310px !important;
    }
    
    .footer-widgets > div.container > div > div.soc-icons.col-md-3 > div {
        padding-left: 0px !important;
        padding-top: 20px !important;
    }

    .content-area > section > div.flexwrap.checkout_form > div.register_block > div.form_checkout > div.seller-comments.form-group > label {
        font-size: 10px;
    }

    body#home .mobile_side_nav .sidenav_search {
        display: block !important;
    }

    .common-home .wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(3) > div > div > div {
        padding: 0 15%;
    }

    body.theme_11 .featured-products-carousel .bx-wrapper .bx-viewport {
        height: initial !important;
    }
    
    body.theme_11 .featured-products-carousel .bx-wrapper {
        max-height: inherit !important;
    }
    
    .bx-wrapper {
        margin: 0 auto 60px !important;
    }

    .mobile_side_nav_menu .arrow {
        display: block !important;
    }
    
    body.sidenav-enabled.ltr .flexy>.arrow {
        left: 0 !important;
    }

    .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > .panel-collapse > ul > li > a:after {
        display: none; 
    }

    body.bottom-nav-enabled nav.mobile_bottom_nav.nav-opened {
        z-index: 9998 !important;
    }
    
    .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
        text-transform: inherit !important;
        font-size: 18px !important;
        color: #454f5b !important;
    }
    
    nav.mobile_bottom_nav.nav-opened > ul > li.home_link {
        padding-left: 50px !important;
        font-size: 18px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
}