.wrapper .header .header-wrapper .header_widgets {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

body
  > div
  > header
  > div.header-wrapper
  > div.container-fluid
  > div.header_widgets
  > div.header_login
  > a.d-none.d-lg-block {
  display: none !important;
}

body
  > div
  > header
  > div.header-wrapper
  > div.container-fluid
  > div.header_widgets
  > div.header_login
  > a.d-none.d-sm-block.d-lg-none {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
