.product-product .product-single {
  justify-content: space-between;
  padding-bottom: 100px !important;
}

.product-single > .col-lg-6 {
  flex: 0 0 48% !important;
  max-width: 48% !important;
}


body .section-title.section-title-lg {
  border-bottom: none;
  height: auto !important;
}


.featured-products-carousel .bx-wrapper {
  margin: 0 auto;
}

body > div > div > section:nth-child(2) {
  margin-top: 80px;
}

body > div > div > section:nth-child(1) > div > div.row.product-single.product-item > div:nth-child(2) > a,
body > div > div > section:nth-child(1) > div > div.row.product-single.product-item > div:nth-child(2) > div.rating.d-inline-block {
  display: none !important;
}

.product-title {
  margin-top: 0;
  font-size: 22px;
}

@media (max-width: 768px) {
  .product-product .product-single {
    flex-direction: column;
  }
  .product-single > .col-lg-6 {
    max-width: 100% !important;
  }

  .product-product .product-single {
    padding-bottom: 30px !important;
  }
}