#tab-description {
  margin-top: 95px;
}

.product-product .product-single {
  justify-content: space-between;
}

.product-single > .col-lg-6 {
  flex: 0 0 48% !important;
  max-width: 48% !important;
}

body .section-title.section-title-lg {
  border-bottom: none;
  height: auto !important;
}

.content-tabs .tab-content {
  border: none;
  padding: 0;
  background: transparent;
}