body.ltr #review .comments .comment .comment-meta:after,
body.ltr #review .comments .comment .comment-date .fa {
  display: none;
}

body#home .media.comment .media-body {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

body .btn.btn-theme.btn-icon-left .fa {
  display: none;
}

#review .comments .comment .comment-meta {
  margin: 0;
  order: 1;
  display: flex;
}

#review .comments .comment .comment-text {
  order: 2;
}

#review .comments .comment {
  padding: 20px 0 !important;
}

#review .comments .comment,
.comments-form {
  border: none;
}

#review .comments .comment .stars {
  position: relative;
  top: 0;
  order: 3;
}