body.ltr #review .comments .comment .comment-meta:after,
.comment-date {
  display: none;
}

body#home .media.comment .media-body {
  margin-left: 30px;
}

body .btn.btn-theme.btn-icon-left .fa {
  display: none;
}

#review .comments .comment .comment-meta {
  margin: 0;
}

#review .comments .comment,
.comments-form {
  border: none;
}