.tab-content__container {
  display: flex;
  justify-content: space-between;
}

.tab-content__content {
  width: 48%;
}

.tab-content__content > p {
  margin: 0;
}

.tab-content__content > ul {
  list-style: disc;
}