.solutions__container {
  display: flex;
  width: 100%;
}

.solutions__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.solutions__column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.solutions__column_links {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding-top: 3rem;
}

.solutions__column_links a {
  line-height: 3rem;
}