@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

<<<<<<< HEAD
=======
@import '../../../fixes/js/FooterCopy/FooterCopy.css';

>>>>>>> ffb435838bcc42caf472fd704a05ee71c2a47c7f
@import './banner/banner.css';
@import './section-title/section-title.css';

@import './other/bs-menu-toggle.css';
@import './other/contacts.css';
@import './other/auth-title.css';
@import './other/section-title.css';
@import './other/side-categories.css';
@import './products/products.css';
@import './other/pay-delivery.css';
@import '../../../components/css-components/ColoredCategories/ColoredCategories.css';

@import '../../../modules/BigBanner/BigBanner.css';
<<<<<<< HEAD
/*@import '../../../fixes/FooterCopy/FooterCopy.css';*/
=======
>>>>>>> ffb435838bcc42caf472fd704a05ee71c2a47c7f
@import '../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
@import '../../../modules/ButtonListInHeader/style.css';
@import '../../../components//HorizontTitleDecription/HorizontTitleDecription.css';

@import './footer/footer.css';
@import './header/navigation.css';
@import './header/logo.css';
@import './header/header.css';
@import './product-page/product-page.css';


body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b {
  font-family: 'Noto Sans', sans-serif !important;
}

body.ltr ul {
  margin: 0 !important;
}

#home > div > footer > div.footer-meta > div > div.row.footer_content_wrapper {
  justify-content: center !important
}

#home > div > header > div.header-wrapper > div.container-fluid > ul:nth-child(3) {
  display: none;
}

.header_widgets {
  display: flex;
  align-self: center;
}

.header_widgets a {
  color: white !important;
  font-size: 20px !important;
}

.header_widgets .header_wishlist {
  margin-right: 15px;
}

.header-cart {
  display: flex;
  align-items: center;
}

