.main-slider .caption-content {
  text-align: left !important;
  margin: 0 !important;
}

.main-slider .caption-subtitle {
  text-transform: none !important;
  line-height: 1 !important;
  text-shadow: none !important;
  font-size: 37px !important;
}

body.common-home .main-slider .caption-content .caption-text .btn-theme {
  background: transparent !important;
  border: 1px solid black !important;
  border-radius: 0 !important;
  max-width: 280px;
  color: black !important;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-transform: none !important;
}

@media (max-width: 991px){
  .main-slider .caption-subtitle {
    font-size: 24px !important;
  }
}

@media (max-width: 480px) {
  .main-slider .caption-content {
    display: block !important;
    margin-left: 27% !important;
  }

  .main-slider {
    margin-top: 0 !important;
  }
}