@import './header-ico.css';
@import './header-cart.css';

.sf-menu.nav>li>a {
  font-weight: 600;
    font-family: 'Cormorant Garamond';
    font-size: 24px;
}

@media (max-width: 991px) {
  .nav.sf-menu{
    display: none !important;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    padding-right: 15px !important;
  }
}
