.banner-content {
  background: url('https://res.cloudinary.com/gz-company/image/upload/v1607591760/%D0%9A%D0%BE%D1%80%D1%81%D0%B5%D1%82%D1%8B/Group_13_se4xam.png') no-repeat;
  padding: 4%;
}

.banner-content__item_bg {
  max-width: 400px !important;
  left: 50%;
  right: auto;
}