
body .content-area .container,
body .page-section .container {
  max-width: 75% !important;
  min-width: inherit !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body .header .container {
  max-width: 75% !important;
  min-width: inherit !important;
}

@media (max-width: 1810px) {
  body .content-area .container {
    max-width: 80% !important;
  }
}

@media (max-width: 1694px) {
  body .content-area .container {
    max-width: 85% !important;
  }
}

@media (max-width: 1595px) {
  body .content-area .container {
    max-width: 95% !important;
  }
}
