.payment__block {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}

.payment__item img {
  width: 50%;
}

.payment__container>ul>li>h5,
.payment__container>ul>li:nth-child(2)>h5,
.payment__container>h5 {
  font-weight: 900;
}