<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 199e4a66a2ac23eff9af7219ce24fcfb0b8bd92a
@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import './pay-delivery/pay-delivery.css';
@import './../../../fixes/js/FooterCopy/FooterCopy.css';
<<<<<<< HEAD
=======
>>>>>>> main/main
=======
>>>>>>> 199e4a66a2ac23eff9af7219ce24fcfb0b8bd92a
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import '../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';

@import './pay-delivery/pay-delivery.css';
@import '../../../fixes/js/FooterCopy/FooterCopy.css';
@import '../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../templates/TemplateTypeTwo/styles/products/price-actions.css';
@import './contacts/contacts.css';


body,
a, p, span, div, li, ul,
h1, h2, h3, h4, h5, h6,
.price, .section-title {
  font-family: 'Comfortaa', cursive !important;
}
 
body.ltr .thumbnail .caption-title {
  text-align: center !important;
}

/* Docs */
.col-md-12 p {
  line-height: 1.5 !important
}
/* End */

/* Products */
body.ru.ltr .wrapper .page-section .products.grid .product-item {
  border: none !important;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

.page-header h1 {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

body .thumbnail .img-fluid, body .img-thumbnail {
  width: 100% !important;
  min-width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  padding-left: 0 !important;
}

/*body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
  padding-right: 0 !important;
}*/

@media (max-width: 1199px) {
  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px;
  }

  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 0 !important;
  }
}

@media (max-width: 768px) {
  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px !important;
  }

  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 30px !important;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item {
    padding: 30px !important;
  }
}

/* End */

/* Preloader */

.custom-preloader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: green;
  background-color: #fff;
  z-index: 1099;
}

.custom-preloader span {
  display: flex;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.9);
    opacity: 0.5;
  }
}

.custom-preloader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* End */


/* Subcategories */
.sf-menu ul {
  min-width: auto !important;
}
/* End */

/* Buy button and wishlist */

body .section-title {
  text-align: left !important;
  margin-top: 10% !important;
}

.add_to_cart button {
  width: 190px;
}

.add_to_cart>button>span {
  text-transform: inherit;
}


body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  position: static !important;
  margin-top: 10px !important;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: center !important;
}

.price_actions {
  flex-direction: column !important;
}

.price {
  font-size: 18px !important;
}

@media only screen and (max-width: 768px) {
  .product-item .thumbnail .caption, .product-layout .thumbnail .caption {
    max-height: 80px !important;
  }

  .thumbnail .add_to_cart .quantity, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button, .thumbnail .add_to_wishlist button {
    border-radius: 0px !important;
    background: transparent !important;
    height: 100%;
    border: 1px solid rgb(0, 0, 0) !important;
    color: black !important;
    font-weight: 100;
    width: 100%;
  }

  body.ltr .thumbnail .price_actions .add_to_cart {
    text-align: left !important;
  }
}


/* end */

/* Categories header */
body.theme-gray .header .navigation-wrapper {
  background-color: #fff !important;
  border-top: 1px solid #d3d5d7;
}

body.theme-gray .header {
  border-bottom: 0 !important;
}


/* end */

/* Footer */
body.ltr.ru .wrapper footer.footer .footer-widgets .widget .widget-title {
  text-transform: uppercase !important;
  font-size: 18px !important;
  margin-bottom: 30px !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a,
body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: black !important;
}

.footer-widgets .row {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  width: 100% !important;
}


@media (max-width: 991px) {
  .footer-widgets .row {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 767px) {
  .footer-widgets .row {
    margin: 0 !important;
  }

  body.ltr.ru .wrapper footer.footer .footer-widgets {
    border-top: 0 !important;
  }

  .footer-widgets .row .col-md-3:nth-child(1),
  .footer-widgets .row .col-md-3:nth-child(2) {
    margin-bottom: 20px !important;
  }

  .footer-widgets .row .col-md-3:nth-child(2),
  .footer-widgets .row .col-md-3:nth-child(3) {
    border-top: 0 !important;
    padding-top: 20px !important;
  }
}


/* footer end */

/* Section title */
body.ltr.ru .wrapper .latest-section h2.section-title {
  text-transform: none !important;
  text-align: left !important;
}

/* end */

/* Logo */

@media (max-width: 375px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 20% 0 auto !important;
  }
}

/* end */

/* Categories title */
.thumbnail.thumbnail-banner .caption-sub-title span, .thumbnail.thumbnail-banner .caption-title span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #41414185 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  text-transform: initial !important;
}

.thumbnail.thumbnail-banner .caption-sub-title, .thumbnail.thumbnail-banner .caption-title {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 1px;
  color: #fff;
}

.thumbnail.thumbnail-banner .caption-sub-title, .thumbnail.thumbnail-banner .caption-title {
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0 0 1px;
  color: #fff;
}

/* end */

/* Product layout */
.common-home .latest-section {
  margin-top: 0 !important;
}

body .section-title span:after, body .section-title span:before {
  display: none !important;
}

.product-product .product-single.product-item #tab-description~.table_holder  {
  display: none !important;
}


body.theme_11 .wrapper .page-section .products.grid .product-item {
  border: none !important;
  padding: 10px !important;
  /* margin: 0 20px 50px 0 !important; */
  max-width: 270px;
  width: 100%;
}

.wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
  padding: 0 !important;
}

/* Size product card */
.product-item .thumbnail .media img {
  min-height: auto;
  max-width: 100%;
}

.thumbnail .media-link {
  width: 100%;
  margin: 0 !important;
}

.product-item .caption {
  margin-top: 20px !important;
}

.product-item .caption a {
  font-size: 14px !important;
}
/* end */


/* Button With Border */

.thumbnail .add_to_wishlist {
  position: initial !important;
  height: 100%;
}

.thumbnail .add_to_wishlist button {
  width: 72px;
  padding: 0 !important;
}

.thumbnail .add_to_cart .quantity,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button,
.thumbnail .add_to_wishlist button {
  border-radius: 0px !important;
  background: transparent !important;
  height: 100%;
  border: 1px solid rgb(0, 0, 0) !important;
  color: black !important;
  font-weight: 100;
}

.thumbnail .price_actions .add_to_cart {
  max-width: 276px !important;
  width: 100%;
  height: 100% !important;
  margin-right: 10px;
  background: transparent !important;
}

.thumbnail .price_actions .add_to_cart button {
  padding: 5% 25%;
}


body .btn.btn-theme.btn-theme-transparent:hover i {
  color: rgb(0, 0, 0) !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field {
  height: 100% !important;
  max-height: 100% !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.thumbnail .caption-title {
  min-height: inherit !important;
  font-size: 16px;
}
/*
.section-title span,
.title {
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 43px !important;
  text-align: left !important;
  text-align: left;
  text-transform: none;
} */

body .section-title {
  text-align: left !important;
}

.thumbnail .price {
  font-size: 22px !important;
}

.thumbnail .price {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 0 15px !important;
  width: 100%;
}

/* h2.section-title > span::after {
  content: ' ';
  display: flex;
  height: 5px;
  background: linear-gradient(90.02deg, #90744c 0%, #d7bca1 99.99%);
  width: 100%;
} */


@media (max-width: 495px) {
  .thumbnail .price_actions .add_to_cart {
    max-width: 100% !important;
  }

  .thumbnail .add_to_wishlist button  {
    display: block !important;
    width: 42px !important;
  }
}

/* End */