.wrapper .header .header-wrapper .header-search input {
  border: none !important;
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 0 !important;
}

.header .header-search {
  max-width: 210px !important;
  position: relative;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

.wrapper .header .header-wrapper .header-search {
  margin: 0 0 0 auto !important;
}

.wrapper .header .header-wrapper .header-search input.form-control {
  padding: 0 2% !important;
  font-size: 16px !important;
}

.wrapper .header .header-wrapper .header-search input.form-control::placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.search_black_screen {
  display: none !important;
}

body.ltr .wrapper .header .header-wrapper .header-search button {
  right: 23px !important;
  left: auto !important;
  top: 5px !important;
  color: black !important;
}

body.ltr .wrapper .header .header-wrapper .header-search button i {
  font-size: 23px !important;
}

@media (max-width: 991px) {
  body.ltr .wrapper .header .header-wrapper .header-search {
    display: none !important;
  }
}

/* @media (max-width: 992px) and (min-width: 991px) {

} */
@media (max-width: 495px) {
  body.ltr.ru .wrapper .header .header-wrapper .header-search {
    display: none !important;
  }
}
