.header .navigation-wrapper {
  background: white !important;
  border: none !important;
}

.nav a {
  color: white;
}

.navigation .nav.sf-menu {
  justify-self: start !important;
}

.sf-menu > li > a {
  padding: 13px 25px !important;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.sf-menu li:hover,
.sf-menu.nav > li > a:focus,
.sf-menu.nav > li > a:hover {
  background: rgba(0, 0, 0, 0.2) !important;
  color: black;
}

.sf-menu .megamenu > ul {
  border-top: 2px solid black;
  box-shadow: none;
  margin: 50px 5% 0;
  left: 5%;
}

.sf-menu .megamenu > ul > .megaline {
  padding: 20px 20%;
}

.block-title span:after {
  display: none;
}

.sf-menu .megamenu>ul .megaline div .block-title {
    margin: 0 !important;
}

.sf-menu li.megamenu>ul li.megaline div {
     margin: 0 !important;
}

.sf-menu .megamenu ul li>a {
    padding: 0 10px;
}

.sf-menu li.megamenu ul {
    margin: 48px 0 0;
}

.sf-menu .megamenu>ul li ul li {
     display: flex !important;
     color: black !important;
    align-items: flex-end;
    margin-bottom: 30px;
}

.arrow {
    display: none;
}

.sf-menu li li.active, .sf-menu li li.sfHover, .sf-menu li li.sfHover>a, .sf-menu li li:hover {
  background: white !important;
}
body.theme-black .sf-menu li.megamenu ul a:hover {
  color: black;
}

.sf-menu > li.megamenu > ul > li.megaline > div > div > span > a {
  text-transform: uppercase;
  font-weight: bold;
  color: #8F8F8F;
}

.megamenu > ul > .megaline > div > div > span > a:hover {
  color: #8F8F8F;
}

@media (max-width: 1200px) {
      .sf-menu .megamenu > ul > .megaline {
             padding-left: 2% !important;
             padding-right: 2% !important;
      }
}

@media (max-width: 992px) {
  .button__list {
    display: none !important;
  }
}
