.header .navigation-wrapper {
  background: white !important;
  border: none !important;
}

.nav a {
  color: white;
}

.navigation .nav.sf-menu {
  justify-self: start !important;
}

.sf-menu > li > a {
  padding: 13px 25px !important;
  display: flex;
  justify-content: space-between;
  color: #000;
}

.sf-menu li:hover,
.sf-menu.nav > li > a:focus,
.sf-menu.nav > li > a:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

.sf-menu .megamenu > ul {
  border-top: 2px solid black;
  box-shadow: none;
  margin: 50px 5% 0;
  left: 5%;
}

.sf-menu .megamenu > ul .megaline {
  padding: 20px 10%;
}

.block-title span:after {
  display: none;
}
