.header .navigation-wrapper {
  background: #0077b6 !important;
}

.nav a {
  color: white;
}

.navigation .nav.sf-menu {
  justify-self: start !important;
}

.sf-menu>li>a {
  padding: 15px !important;
  display: flex;
  justify-content: space-between;
}

.sf-menu>.flexy.has_children {
    padding-left: 20px;
}

.sf-menu li:hover,
.sf-menu.nav>li>a:focus, .sf-menu.nav>li>a:hover {
  background: rgba(0, 0, 0, .2) !important;
}