body.sidenav-enabled.ltr .wrapper-opened {
  left: 0 !important;
}

body#home .mobile_side_nav .sidenav_search {
  display: none !important;
}

body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
  left: auto !important;
  right: 0 !important;
  box-shadow: none !important;
  border: none !important;
}

body.sidenav-enabled .mobile_side_nav>ul a {
  border: none;
}