body.sidenav-enabled.ltr .wrapper-opened {
  left: 0 !important;
}

body#home .mobile_side_nav .sidenav_search {
  display: none !important;
}

body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
  left: auto !important;
  right: 0 !important;
  box-shadow: none !important;
  border: none !important;
  top: 130px;
}

body.sidenav-enabled .mobile_side_nav > ul a {
  border: none;
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

body.sidenav-enabled .prevent_touch_banner {
  height: 64vh !important;
}

body.sidenav-enabled .prevent_touch_banner {
  width: 80vw !important;
}

body.ltr .header .header-wrapper .mobile-navigation-wrapper {
  left: auto;
  right: 15px;
}

.collapse:not(.show) {
  display: block;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul {
  margin-bottom: 30px;
}

body.sidenav-enabled.ltr .flexy>.arrow {
  border: none !important;
  left: 15% !important;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #8F8F8F;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > .arrow {
  display: none !important;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > .panel-collapse > ul > li > a:after {
  content: "\f054" !important;
  font-family: Font Awesome\ 5 Pro;
  font-weight: 300;
  margin-left: 10px;
}

.fa-caret-right:before {
  content: "\f054" !important;
}
