.sf-menu.nav>li>a {
    font-size: 16px !important;
    font-weight: 500;
    border-bottom: 0px !important
}

.wrapper .header .header-wrapper .header-search input {
    border-bottom: 0px !important;
}

.header_login {
    display: none !important;
}

i.fa-shopping-cart.far {
    color: black;
}

.header-wrapper input.form-control {
    position: relative;
    z-index: 999;
}

.sf-menu .flexy.has_children ul {
    margin: 0 !important;
    left: 0;

}

.sf-menu li:hover>a {
    color: #000;
}

.sf-menu .flexy.has_children ul li > a {
    height: 50px;
    display: flex;
    align-self: center;
    align-items: center
}

div#search_results {
    left: -300px !important;
}

#search_results .add_to_cart i.far.fa-shopping-cart {
    color: white;
}

#search_results .add_to_cart span {
    color: white;
}