@media (max-device-width: 480px) {
    .nav.sf-menu {
        display: none;
    }


    .header_wishlist {
        display: none !important;
    }

    .header-cart.sticky {
        display: none !important;
    }
    
    .common-home header {
        position: absolute !important;
    }

}

@media (max-width: 375px) {
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        margin: 0 !important;
    }
}



.mobile-navigation-wrapper.d-lg-none.d-xl-none.sticky {
    position: relative;
    z-index: 999;
}



.common-home header.header.with-search {
    width: 100% !important;
}

.common-home .header-wrapper {
    display: flex;
}

.common-home .mobile-navigation-wrapper.d-lg-none.d-xl-none.sticky {
    top: 0px !important;
}

i.fas.fa-bars {
    color: #3842FB;
}

h3.caption-subtitle {
    text-align: center !important;
}