#home > div > footer > div.footer-widgets > div.container > div {
    display: flex;
    justify-content: center;
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > h4 {
    display: none;
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul {
    display: flex;

}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(1) {
    display: none;
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(3) {
    display: none;
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li > a {
    font-size: 13px;
    margin-right: 10px;
}

body.ltr .widget-categories ul li a:before {
    display: none;
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li {
    border: 0px;
}

body .footer .footer-widgets {
    padding: 10px 0;
    margin-top: 0;
    background-color: white;
}

#home > div > footer > div.footer-meta {
    padding: 0px !important ;
}

#home > div > footer {
    border-top: 2px solid black;
}

/* other pages */

#home > footer > div.footer-widgets > div.container > div > div:nth-child(1) {
    display: none;
}

#home > footer > div.footer-widgets > div.container > div > div:nth-child(3) {
    display: none;
}

#home > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > h4 {
    display: none;
}

#home > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li {
    border: 0px;
}

#home > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul {
    display: flex;
}

#home > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li > a {
    font-size: 13px;
}

#home > footer > div.footer-widgets {
    padding: 10px;
}

#home > footer > div.footer-meta {
    padding: 0px !important;
}

@media (max-device-width: 480px) {
    #home > div > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul {
        flex-direction: column !important;
    }

    .about__item {
        padding: 0px;
    }
}