

#banner0 > div > div > div > div > div > div > div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px;
    border-radius: 10px !important;
}

#banner0 > div > div > div > div > div > div > div > div > div > div {
    display: none;
}

#banner0 > div > div > div > div > div > div > div > div > div > div {
    text-align: center;
}

#banner0 > div > div > div > div > div > div > div > div {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

#banner0 > div > div > div > div > div > div > div > div > div > h3 > span {
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-size: 25px;
    font-weight: 600;
}

body .main-slider .caption-content .caption-text {
    margin-top: 10px !important;
}

#banner0 > div > div > div > div > div > div > div > div > div > div {
    color: white;
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a {
    border: 1px solid rgb(0, 0, 0) !important;
    background: transparent;
    padding: 10px 50px 10px 50px;
}

#banner0 .btn.btn-theme {
    color: black !important;
}

.main-slider .caption-content {
    max-width: 500px;
    margin: 0 0 0 0;
    text-align: right;
}
 

@media (min-device-width: 480px) and (max-device-width: 1024px) {
    #home > div:nth-child(2) {
        display: none;
    }

    #home > div:nth-child(3) {
        display: none;
    }

    #home > div:nth-child(4) {
        display: none;
    }

    .common-home .mobile-navigation-wrapper.d-lg-none.d-xl-none.sticky {
        top: 25px !important;
    }
    #bx_product_featured > div {
        width: 230px !important;
    }
}


/* .featured-products-carousel.products.grid > div {
    max-width: 100% !important;
} */

/* #bx_product_featured > div {
    width: 229px !important;
    padding-left: 45px !important;
} */

.product-product .buttons.d-flex.flex-wrap .btn.btn-theme.btn-theme-transparent.btn-wish-list {
    border-radius: 0px !important;
}

