@import './_item/table-sizes__row_item.css';
@import './_title/table-sizes__row_item_title.css';

.table-sizes__row {
  border-bottom: 1px solid #e0dfdd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
