.common-home section.page-section.message-section.mt-4 {
    display: none;
}

#home > div > div.content-area > section.page-section.latest-section > div {
    margin-top: 100px !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 30px !important;
    text-transform: lowercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span::first-letter {
    text-transform: uppercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > div {
    justify-content: space-between;
    margin-top: 60px;
}

.product-item .caption a {
    font-weight: 400;    
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    font-size: 15px !important;
    font-weight: 600 !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    color: black !important;
    background-color: white !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover {
    background-color: white !important;
}

.add_to_cart>button > span {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.product-category .shop-sorting.mt-3.mt-lg-0.col-md-12 {
    display: none;
}

.product-category .content-area > section.page-section.titles {
    border: 0px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1608628768/man-virus-protective-suit-mask-disinfecting-buildings-coronavirus-with-sprayer-infection-prevention-control-epidemic-world-pandemic_1_1_h7mfsd.png);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 300px;
    display: flex;
}

.product-category .content-area > section.page-section.titles > div > div > h1 {
    color: white;
    position: relative;
}

span#preTitle {
    font-size: 30px;
    font-weight: 600;
}

#home > div > div.content-area > div {
    margin-top: 100px
}

body .section-title.section-title-lg {
    height: fit-content;
}

#home > div > div.content-area > section.page-section.overflow-hidden > div > h2 > span {
    font-size: 30px;
    font-weight: 600;
}
