.common-home section.page-section.message-section.mt-4 {
    display: none;
}

#home > div > div.content-area > section.page-section.latest-section > div {
    margin-top: 100px !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 30px !important;
    text-transform: lowercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span::first-letter {
    text-transform: uppercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > div {
    justify-content: space-between;
    margin-top: 60px;
}

.product-item .caption a {
    font-weight: 400;    
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    font-size: 15px !important;
    font-weight: 600 !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    color: black !important;
    background-color: white !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover {
    background-color: white !important;
}

.add_to_cart>button > span {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.product-category .shop-sorting.mt-3.mt-lg-0.col-md-12 {
    display: none;
}

.product-category .content-area > section.page-section.titles {
    border: 0px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1608628768/man-virus-protective-suit-mask-disinfecting-buildings-coronavirus-with-sprayer-infection-prevention-control-epidemic-world-pandemic_1_1_h7mfsd.png);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 300px;
    display: flex;
}

.product-category .content-area > section.page-section.titles > div > div > h1 {
    color: white;
    position: relative;
}

span#preTitle {
    font-size: 30px;
    font-weight: 600;
}

/* #home > div > div.content-area > div {
    margin-top: 100px
} */

body .section-title.section-title-lg {
    height: fit-content;
}

#home > div > div.content-area > section.page-section.overflow-hidden > div > h2 > span {
    font-size: 30px;
    font-weight: 600;
}



button#button-cart {
    background: #ff000000 !important;
    color: black !important;
    border: 1px solid #606060;
}



button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
    border: 1px solid #606060 !important;
}

.product-availability {
    color: #A0A0A0 !important;
    font-size: 18px !important;
    font-weight: 400;
    margin-top: 20px;
}

.product-price {
    font-size: 28px !important;
    font-weight: 700 !important;
}

div#tab-description {
    border-top: 0px !important;
}

#tab-description > h3 {
    font-size: 22px !important;
    font-weight: 700;
}

#home > div > div.content-area > section:nth-child(1) > div > div > div:nth-child(2) > div.share_page_wrapper > ul {
    visibility: hidden
}

.buttons.d-flex.flex-wrap.fixed_mobile_button .btn.btn-theme.btn-theme-transparent.btn-wish-list:hover {
    background: #ff000000;
}

.buttons__container .add_to_wishlist .btn.btn-theme.btn-theme-transparent.btn-wish-list {
    border: 1px solid #d1d1d1 !important;
    
}



@media (max-device-width: 480px) {
    .product-item.product-layout.col-12.col-sm-6.col-lg-4.col-xl-3.mb-0.mb-md-4 {
        max-width: 50%
    }
  
  .page-section.homefeatured_category .img-bg img {
    padding: 14px !important;
    height: 200px !important 
}

#home > div > div.content-area > section.page-section.homefeatured_category > div > div > div > div > div > a > div > div > div > h2 > span {
    font-size: 12px !important;
    padding-top: 30px !important;
    padding-left: 50px !important;
}
  #home > div > div.content-area > section.page-section.latest-section > div > h2 {
    margin-left: 0px !important;
}
  
  #home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 22px !important;
}
  
  .thumbnail .price_actions .add_to_cart {
    height: 70% !important;
}

.thumbnail .add_to_wishlist {
    height: 70%;
}

.thumbnail .add_to_wishlist button {
    width: 35px !important;
}
  
  .product-item .price {
    margin: 10px 0 15px !important;
}
}




/* product category */
@media (max-device-width: 480px) {
section.page-section.titles {
    height: 110px !important;
    background-size: cover !important;
}

section.page-section.titles > div > div > h1 {
    font-size: 22px;
}

body.theme_11 .wrapper .page-section .products.grid .product-item {

    margin: 0 0px 50px 0 !important;
    max-width: 50%;
}
  
  span#preTitle {
    font-size: 22px;
}

#home > div > div.content-area > div {
    margin-top: 30px
}
  
  
  
  
  
  
  .mobile_wishlist button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
    display: none;
}

body.theme_11.product-product .product-single.product-item .buttons.fixed_mobile_button {
    position: static;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
    bottom: 0;
    z-index: 9999;
    padding: 18px 15px;
    background-color: #fff;
}

#home > div > div.content-area > section.page-section.overflow-hidden > div > h2 > span {
    font-size: 20px !important;
}

#tab-description > span > p:nth-child(18) > span {
    width: 20px !important;
}

.MsoNormal span {
    font-weight: 400 !important;
}
}



.MsoNormal span {
    font-weight: 400
}



button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
    border-radius: 0px !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    border-radius: 0px !important;
    border-color: #d1d1d1 !important;
}

.product-category-5710.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

.product-category-5698.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061831/Component_1_3_t2acoo.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

.product-category-6459.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061983/Component_1_4_wsp3of.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

.product-category-6457.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611062152/Component_1_5_ufv3rc.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

.product-category-6458.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611063214/Component_1_6_bt1yt9.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }

    .product-category-5698.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }

    .product-category-6459.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }

    .product-category-6457.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }

    .product-category-6458.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-6460.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611063616/Component_1_7_yviklq.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-6460.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-6450.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611318430/Component_1_15_sv8dzq.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-6450.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5354.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611318503/Component_2_2_q9tatm.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5354.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5710_6451.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710_6451.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5710_6455.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710_6455.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5710_6453.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710_6453.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5710_6454.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710_6454.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

.product-category-5710_6456.product-category .content-area > section.page-section.titles {
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611061011/Component_1_1_emc9o2.png) !important;
    background-repeat: no-repeat !important;
    background-position-x: center !important;
}

@media (max-device-width: 480px) {
    .product-category-5710_6456.product-category .content-area > section.page-section.titles {
        background-size: cover !important
    }
} 

body.sidenav-enabled .mobile_side_nav {
    overflow-y: hidden;
}

.pz_zoomer_wrapper.zoomHolder {
    display: flex;
    justify-content: center
}

.product-product .product-single .product-title {
    font-size: 22px;
}

.product-product body.theme_11.product-product .product-single.product-item .buttons #button-booking, body.theme_11.product-product .product-single.product-item .buttons #button-cart {
    max-width: 40% !important;
}

@media (max-device-width: 480px) {
    .product-product body.theme_11.product-product .product-single.product-item .buttons #button-booking, body.theme_11.product-product .product-single.product-item .buttons #button-cart {
        max-width: 100% !important;
    }

    body.theme-black.theme_11 .header-cart .cart_drop_down.dropdown .dropdown-menu .cart-items .cart-items-inner .cart-content .vouchers .media.buttons .media-body .media-links .button-wrapper.cart-button a {
        font-size: 10px;   
    }
    
    .cart-content .checkout-button a {
        color: black !important;
        font-size: 10px
    }

    body.theme-black.theme_11 .header-cart .cart_drop_down.dropdown .dropdown-menu .cart-items .cart-items-inner .cart-content .vouchers .media.buttons .media-body .media-links .button-wrapper.cart-button a:hover {
        background-color: #000;
        color: #fff !important;
    }
}

body.theme-black.theme_11.product-product .product-single.product-item .buttons .btn-wish-list:hover i {
    color: white !important;
}

.dropdown-menu.dropdown-menu-right.show .btn.btn-theme.btn-call-checkout.w-100{
    color: black;
    border: 3px solid black !important;
    padding: 0px !important;
}

.dropdown-menu.dropdown-menu-right.show .btn.btn-theme.btn-call-checkout.w-100:hover {
    color: white !important;
    background: black !important
}

.header > div > div.container-fluid {
    display: flex;
    justify-content: center;
}

header > div > div.container-fluid > div.logo > a {
    justify-content: center;
}



footer > div.footer-widgets > div.container > div {
    display: flex;
    justify-content: center
}





a.btn.btn-theme.btn-call-checkout.w-100 {
    color: black;
    padding: 10px !important;
    border: 2px solid black !important;
}


.create-account .btn.btn-block.btn-theme.btn-theme-dark.btn-create {
    border: 2px solid black !important;
    padding: 10px !important;
    
}

#home > div > footer > div.footer-widgets > div.container > div > div:nth-child(1) > div > h4:first-letter {
    text-transform: uppercase;
}