.common-home section.page-section.message-section.mt-4 {
    display: none;
}

#home > div > div.content-area > section.page-section.latest-section > div {
    margin-top: 100px !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 30px !important;
    text-transform: lowercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span::first-letter {
    text-transform: uppercase !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > div {
    justify-content: space-between;
    margin-top: 60px;
}

.product-item .caption a {
    font-weight: 400;    
}

body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    font-size: 15px !important;
    font-weight: 600 !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    color: black !important;
    background-color: white !important;
}

body.theme-black.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover {
    background-color: white !important;
}