.footer {
  background-color: #1E1E1E !important;
}

.footer-widgets > .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}

.footer-meta {
  background: transparent !important;
}

@media (max-width: 460px) {
  .footer-widgets {
    padding-top: 0 !important;
  }
}