.footer {
  background-color: #1E1E1E !important;
  margin-top: 80px;
  border: none !important;
}

.footer-widgets > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0 auto;
}

.footer-meta {
  background: transparent !important;
}

.phh p {
  font-size: 24px;
  text-transform: uppercase;
  color: rgba(100,100,100,.5);
  text-align: center;
}

.footer_content_text img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  width: 30px;
}

#sellavi_logo > img {
  width: 50px !important;
}

#home > div > footer > div.footer-meta > div > div.row.footer_content_wrapper > div > div:nth-child(3) {
  display: none !important;
}

.sender {
  width: 70% !important;
}

.sender__form {
  height: 68px !important;
}

@media (max-width: 768px) {
  .sender__title {
    font-size: 33px;
    width: 100%;
  }

}


@media (max-width: 460px) {
  .footer-widgets {
    padding-top: 0 !important;
  }
}