#sellavi_logo {
  display: inline-block;
  width: 50px;
  float: right;
  height: 60px;
}

.footer_content_container {
  height: 15px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .footer .footer-widgets .widget-title {
  padding-bottom: 0 !important;
}

@media(min-width: 991px) {
  #sellavi_logo {
    width: 111px !important;
  }
}