@import './header-ico.css';

.sf-menu.nav>li>a {
  font-weight: normal !important;
}

@media (max-width: 991px) {
  /* .navigation {
    display: none !important;
  } */

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    padding-right: 15px !important;
  }
}
