@import './header-ico.css';
@import './header-cart.css';

.sf-menu.nav>li>a {
  font-weight: normal !important;
}

body .arrow {
  display: block !important;
}

body header nav .arrow {
  display: none !important;
}

@media (max-width: 991px) {
  header .navigation {
    display: none !important;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    padding-right: 15px !important;
  }
}
