@import './header-ico.css';
@import './header-cart.css';

.sf-menu.nav>li>a {
  font-weight: normal !important;
}

body .arrow {
  display: block !important;
}

body header nav .arrow {
  display: none !important;
}

.header .header-wrapper {
  padding: 10px 0 !important;
}

body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy>a, body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]>a {
  border: none !important;
  z-index: 9999;
}

body.ru.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul {
  padding-top: 44px !important;
  padding-bottom: 25px !important;
  margin-top: -5px;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li[data-nav-part='home']:hover > ul {
  width: 100% !important;
  left: auto !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li.megaline>div>ul, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul>li.megaline>div>ul {
  margin: 0 !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li[data-nav-part='home']:hover {
  position: unset !important;
}

header .navigation .nav.sf-menu {
  margin: 20px auto !important;
}

body.theme_11 .wrapper .subcategories_top>div>div>.media_holder>.thumbnail .media .media-link .img_holder {
  margin: 10px auto !important;
}

@media (max-width: 991px) {
  header .navigation {
    display: none !important;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    padding-right: 15px !important;
  }
}
