.wrapper .header .header-wrapper .header_widgets .header_login {
  padding: 0 20px !important;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #wishlist {
  color: black !important;
}