body.ltr.ru .wrapper .latest-section h2.section-title {
  color: #887568 !important;
  font-size: 36px !important;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}