body.theme_11 .wrapper .header .header-wrapper .header-search {
    border: 1px solid black;
    border-radius: 30px;
    max-width: 100% !important;
    width: 30%;
}

header > div.header-wrapper > div.container > div.header_widgets > div.header_login {
    display: none !important;
}


.wrapper .header .header-wrapper .header-search input {
    border-bottom: 0px !important;
}

body.ltr .wrapper .header .header-wrapper .header-search input.form-control {
    padding-left: 20px !important;
}

body.theme_11 .wrapper .header .header-wrapper .header-search input.form-control {
    height: 40px;
}

body.ltr .wrapper .header .header-wrapper .header-search button {
    top: 0px !important;
}

body.ltr .wrapper .header .header-wrapper .header-search.opened #search_results {
    max-width: 500px !important;
    width: 500px !important;
}

body.theme-blue-1.theme_11 .wrapper .header .header-wrapper .header-search input.form-control {
    border-radius: 35px !important;
}

#search_results > a > div.img {
    display: flex;
}

.wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul li {
    flex-wrap: nowrap !important;
}

.wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul li {
    justify-content: flex-start !important;
}

body.ru.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul {
    width: 400px !important;
    overflow: scroll !important;
}