body.ltr.ru .wrapper section.homefeatured_category > div.container {
    max-width: 1400px !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div {
    max-width: 441px;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
    padding: 14px;
    height: 231px;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
    font-weight: 700
}

#home > div.wrapper.wrapper-closed > div.content-area > section.page-section.homefeatured_category > div > h2 {
    margin-top: 50px !important;
    margin-bottom: 10px !important
}

#home > div > div > section.page-section.latest-section > div > h2 {
    margin-top: 70px !important;
}

#neww {
    color: black;
}