.common-home .main-slider .owl-item .caption-subtitle .position-relative {
    font-size: 30px !important;
    font-weight: 400;
    color: #fff;
    text-shadow: none;
    text-transform: none !important;
}

.common-home .main-slider .owl-item a.btn.btn-theme {
    background-color: transparent;
    border-color: #fff;
    padding: 20px 50px;
    font-weight: 400;
}

.common-home .main-slider .owl-item .caption-text {
    margin-top: 60px;
}