@import './sf-menu/sf-menu.css';
@import './header-widgets/header-widgets.css';

.common-home .header {
  position: absolute !important;
}

body.theme_11 .wrapper .header {
  width: 100% !important;
  z-index: 1111;
  padding: 2% 0;
}

body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  margin: 0 auto 0 17% !important;
}

@media (max-width: 1224px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto 0 8% !important;
  }
}

@media (max-width: 1024px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto 0 0 !important;
  }
}

@media (max-width: 495px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto 0 34% !important;
  }

  .logo img {
    max-width: 145px !important;
  }
}
