@media (min-width: 992px) {
  .header-catalog {
    display: flex !important;
    margin: 6px 0 0;
  }

  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    left: 25%;
    right: auto;
  }

  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    left: 25%;
    right: auto;
    padding: 5px;
    background: darkseagreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }

  .wrapper .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    right: 15px;
    top: 23px;
    max-width: 150px !important;
  }

  .catalog-title {
    margin-left: 5px;
  }

  .header .header-wrapper .mobile-navigation-wrapper a {
    font-size: 15px !important;
    color: #000;
  }

  .nav.sf-menu {
    display: none !important;
  }

  body.sidenav-enabled .mobile_side_nav {
    width: 100vw;
    height: 100vh;
    background: rgba(100,100,100,.2);
  }


  body.sidenav-enabled .mobile_side_nav>ul {
    background: white;
    max-width: 1140px;
    width: 100%;
    overflow: visible !important;
    height: fit-content !important;
    margin: 0 auto;
  }

  body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
    left: auto !important;
    right: 0 !important;
    box-shadow: none !important;
    border: none !important;
    border-left: 1px solid #e5e5e5;
    top: 98px !important;
  }
}