@media (min-width: 992px) {
  .header-catalog {
    display: flex !important;
    margin: 6px 0 0;
  }

  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    left: 25%;
    right: auto;
  }

  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    left: 25%;
    right: auto;
    padding: 5px;
    background: darkseagreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
  }
}