@import './../../../style/style.css';

.thumbnail .add_to_wishlist {
  position: initial !important;
  height: 100%;
}

.thumbnail .add_to_wishlist button {
  width: 72px;
  padding: 0 !important;
}

.thumbnail .add_to_cart .quantity, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button, .thumbnail .add_to_wishlist button {
  border-radius: 5px !important;
  background: var(--defaultBtn);
  height: 100%;
  border: 1px solid !important;
  color: var(--colored) !important;
  font-weight: 100;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover, .thumbnail .add_to_wishlist button:hover {
  border-radius: 5px !important;
  background: var(--btnHover) !important;
  height: 100%;
  border: 1px solid !important;
  color: var(--colored) !important;
  font-weight: 100;
}

.product-product .product-single .buttons .quantity .btn:hover {
  color: var(--colored) !important;
  background: var(--btnHover) !important;
}

.thumbnail .price_actions .add_to_cart {
  max-width: 276px !important;
  width: 100%;
  height: 100% !important;
  margin-right: 10px;
  background: transparent !important;
}

.thumbnail .price_actions .add_to_cart button {
  padding: 5% 25%;
}


body .btn.btn-theme.btn-theme-transparent:hover i {
  color: var(--colored) !important;
}

body  .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field {
  height: 100% !important;
  max-height: 100% !important;
}

body .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.thumbnail .caption-title {
  min-height: inherit !important;
  font-size: 16px;
}

body .section-title {
  text-align: left !important;
}

.thumbnail .price {
  font-size: 22px !important;
}

.thumbnail .price {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0 0 15px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-product .product-single .buttons .quantity .btn {
  float: right;
  background-color: var(--defaultBtn) !important;
  color: var(--colored) !important;
  padding: 0;
  max-height: 60px;
  border: 1px solid var(--colored);
}

.product-product .product-single .buttons .quantity .btn:hover {
  background-color: var(--btnHover) !important;
  color: var(--colored) !important;
}

.product-product .product-single .buttons .quantity .qty {
  float: right;
  margin: 0 1px;
  height: 60px;
  max-width: 40px;
  background-color: var(--defaultBtn) !important;
  color: var(--colored) !important;
  padding: 0;
  border-radius: 0;
  border: 1px solid var(--colored);
  text-align: center;
}

.product-product .product-single .buttons .btn-cart {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  max-width: 100%;
  background-color: var(--defaultBtn) !important;
  border-color: var(--colored) !important;
  border-width: 1px !important;
  color: var(--colored) !important;
  height: 60px;
  width: 270px;
  border-radius: 0;
}

body.ltr .btn.btn-theme {
  background-color: var(--defaultBtn) !important;
  color: var(--colored) !important;
  border: 1px solid !important;
}

body.ltr .btn.btn-theme:hover {
  background-color: var(--btnHover) !important;
  border-color: var(--colored) !important;
  color: var(--colored) !important;
}

body .btn.btn-theme-default:active, body .btn.btn-theme-default:focus, body .btn.btn-theme-default:hover {
  background: var(--btnHover) !important;
  border-color: transparent !important;
  color: var(--colored) !important;
}

.product-product .product-single .buttons .btn-cart:hover {
  background-color: var(--btnHover) !important;
  color: var(--colored) !important;
}

.product-product .product-single .buttons .quantity .qty:focus {
  background: #fff;
  border: 0 !important;
  color: #000;
}

.product-product .product-single .buttons .btn-compare, .product-product .product-single .buttons .btn-wish-list {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--colored) !important;
  background-color: var(--defaultBtn) !important;
  color: var(--colored) !important;
  border-radius: 0;
}

.product-product .product-single .buttons .btn-compare:hover, .product-product .product-single .buttons .btn-wish-list:hover {
  background-color: var(--btnHover) !important;
  color: var(--colored) !important;
}


body .btn.btn-theme-default {
  background: var(--defaultBtn) !important;
  border-color: var(--colored) !important;
  color: var(--colored) !important;
  border-width: 1px !important;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}


@media (max-width: 495px) {
  .thumbnail .price_actions .add_to_cart {
    max-width: 400px !important;
  }

  .thumbnail .add_to_wishlist button  {
    display: block !important;
    width: 42px !important;
  }

  .thumbnail .add_to_cart .quantity,
  body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button,
  .thumbnail .add_to_wishlist button {
    width: 100%;
  }
}