.buttons__container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .buttons__container {
    width: 250px;
    margin: 0 auto;
  }

  body .content-area .page-section .product-layout {
    margin: 0;
    padding-bottom: 25px;
  }

}

.thumbnail .add_to_wishlist, .thumbnail .remove_from_wishlist {
  position: relative;
  left: 0 !important; right: 0 !important; bottom: 0 !important; top: 0 !important;

}

.thumbnail .price {
  align-self: center;
  margin: 0 !important;
  width: 100%;
}

.price_actions .buttons__container {
  height: 48px !important;
}

