.categories__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.categories__item {
  display: flex;
  width: auto;
  margin: 1%;
}

.categories__item img {
  width: 320px;
}


@media only screen and (max-width: 495px) {
  body.product-category
    .wrapper
    > div.content-area
    > section.page-section.subcategories_top
    > div
    > div
    > div.media_holder {
    flex: 0 0 25%;
    max-width: 25%;
  }

  body.theme_11 .wrapper .subcategories_top>div>div {
    justify-content: space-around !important;
  }

  body.theme_11 .wrapper .subcategories_top > div > div,
  body.theme_11
    .wrapper
    .subcategories_top
    > div
    > div
    > .media_holder
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span,
  body.theme_11
    .wrapper
    .subcategories_top
    > div
    > div
    > .media_holder
    > .thumbnail
    .media
    .media-link
    .img_holder
    .img-bg
    img {
    padding: 0 !important;
  }

  body.theme_11 .wrapper .subcategories_top>div>div>.media_holder>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
    font-size: 12px !important;
  }

  body.theme_11
    .wrapper
    .subcategories_top
    > div
    > div
    > .media_holder
    > .thumbnail
    .media
    .media-link
    .img_holder {
    margin: 0 !important;
  }
}
