.footer-meta .container {
  max-width: 100% !important;
}

.footer_content_text {
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
}

.footer_content_text > p {
  display: none;
}

#home > div.wrapper.wrapper-closed > footer > div.footer-meta > div > div.row.footer_content_wrapper > div > div:nth-child(4) {
  display: none;
}

#home > div.wrapper.wrapper-closed > footer > div.footer-meta > div > div.row.footer_content_wrapper > div > div:nth-child(1) {
  display: none;
}

.footer_content_container {
  height: 30px !important;
}

#home > div.wrapper.wrapper-closed > footer > div.footer-meta > div > div.row.footer_content_wrapper > div > div:nth-child(2) {
  height: 30px !important;
}

#sellavi_logo {
  width: 100px !important;
}