.footer-meta .container {
  max-width: 100% !important;
}

.footer_content_text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer_content_text > p {
  display: none;
}