@import "./Search/Search.css";
@import "Cart/Cart.css";

body.ltr .wrapper header.header .cart-wrapper {
  background-color: transparent !important;
}

.header-cart .cart-wrapper {
  height: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  transition: border .3s;
}

body.ltr .cart-wrapper {
  margin-left: 0 !important;
  margin-right: auto;
}

.common-home .header-cart .cart-wrapper #cart {
  padding-left: 0 !important;
}

.header-cart .cart-wrapper #cart {
  background: 0;
  padding: 0;
  color: var(--defaultColor) !important;
  position: relative;
  top: 4px !important;
}
.header-cart .cart-wrapper #cart.colored{
  color: var(--colored) !important;
}

.header-cart .cart-wrapper #cart i {
  font-size: 21px;
  line-height: 11px;
  padding: 5px 0;
  margin: 9px 0 9px 7px;
}

#login, #wishlist {
  font-size: 21px !important;
  top: 28px !important;
  margin: 0 8px !important;
  color: var(--defaultColor) !important;
}

#login.colored, #wishlist.colored {
  color: var(--colored) !important;
}
