.section__banner_container {
  background: #BFDCAE;
  width: 100%;
  height: 600px;
}


.section__banner_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: #F7F7F7;
}

.section__banner_column {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}