.section__banner_container {
  position: absolute;
  width: 100%;
  height: 630px;
  background: #BFDCAE;
  z-index: -1;
}


.section__banner_column {
  width: 100%;
  max-width: 1200px;
  background: #F7F7F7;
  height: 850px;
  margin: 1% auto 10% auto;
  position: relative;
  top: 50px;
}

.section__banner_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
}

.section__banner_col {
  display: flex;
  flex-direction: column;
}

.description__section {
  padding: 5%;
  margin-top: 0;
}

.img__on__banner {
  position: absolute;
  left: 55%;
  z-index: 99;
}

.distributor {
  font-size: 12px;
}

.disphoto__custom_banner {
  width: 30%;
  margin-bottom: 2%;
}

.photo__custom_banner {
  margin-left: -100px;
  margin-top: -50px;
}

.sender-basic {
  width: 100%;
  border: 10px solid #455C6B !important;
  padding: 6% 8%;
  display: flex;
  flex-direction: column;
  margin: 80px 0;
}

.sender-basic form button {
  background: #455C6B !important;
  border-radius: 5px;
  border: none;
  color: white;
  width: 340px;
  height: 68px;
  font-weight: bold;
  font-size: 24px;
}

.cstm_photo {
  width: 20px;
  margin-top: -2px;
  margin-left: 5px;
}

.cstm_photo_site {
  width: 20px;
  margin-top: 1px;
  margin-left: 5px;
}

@media (max-width: 541px) {
  .sender-basic {
    border-width: 5px;
    margin: 25% 0 !important;
  }
}
