.advantages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.advantages__elem {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.advantages__elem img {
  width: 40px;
  height: auto;
}

@media (max-width: 992px) {
  .advantages {
    flex-wrap: wrap;
  }
}