.thumbnail .price_actions {
  flex-direction: column !important;
}

.thumbnail .price_actions .add_to_cart {
  text-align: left !important;
}

.thumbnail .price_actions .add_to_cart button {
  border: 1px solid black;
  padding: 5% 25%;
  border-radius: 0;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  max-height: initial !important;
  min-height: initial !important;
  margin: 20px 0 !important;
  overflow: hidden !important;
}
