.thumbnail .price_actions {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.thumbnail .price_actions .add_to_cart {
  text-align: left !important;
  max-width: 325px !important;
  width: 100%;
}

.product-product .product-single .buttons .btn-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thumbnail .price_actions .add_to_cart button {
  border: 1px solid black;
  padding: 5% 25%;
  border-radius: 10px !important;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_to_cart img {
  margin-right: 10px;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  /* max-height: initial !important;
  min-height: initial !important; */
  margin: 20px 0 !important;
  overflow: hidden !important;
}

.thumbnail .caption-title {
  min-height: inherit !important;
}

.thumbnail .media-link,
.latest-section .product-layout .thumbnail .media {
  margin: 0 !important;
}

.product-item .thumbnail .media img {
  min-height: inherit !important;
  max-width: inherit !important;
  max-height: inherit !important;

}