@import './title.css';
@import './card.css';
@import './buttons/bth-whishlist.css';
@import './buttons/button-container.css';

.content-area .page-section .product-layout {
  max-width: 400px !important;
  width: 100% !important;
  margin: 0 20px !important;
}