.section-title span:after,
body .section-title span:before {
  display: none;
}

.section-title span, .title {
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 43px !important;
  text-align: left !important;
  border-bottom: 3px solid black;
}


body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

body .content-area .page-section.titles h1 {
  font-size: 46px !important;
}

@media (max-width: 991px) {
  .section-title span, .title {
    font-size: 26px !important;
  }
}

@media (max-width: 495px) {
  body .content-area .page-section.titles h1 {
    font-size: 24px !important;
  }

  #home > div > section > div > h2 svg {
    display: none !important;
  }
}