.section-title span:after,
body .section-title span:before {
  display: none;
}

.section-title span {
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 43px !important;
  text-align: left !important;
  border-bottom: 3px solid black;
}
