#home > div.wrapper.wrapper-closed > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 22px !important;
    border-bottom: 0;
    font-weight: 600;
    color: black;
}
