.common-home .header {
  border-bottom: none;
  position: absolute;
  z-index: 99;
  width: 100%;
}

.header .header-wrapper {
  background: transparent;
  border: none;
}

.header .header-search {
  position: relative;
}

.header .header-cart {
  position: relative;
  top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important;
}

.header-cart .cart-wrapper {
  border: none;
  height: auto;
}

.header-cart .cart-wrapper #cart i,
.header-cart .cart-wrapper #cart, .header-cart .cart-wrapper #wishlist {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 0;
  text-align: initial;
}