@media (max-device-width: 480px) {
    body.theme_11.ltr .wrapper .header .header-wrapper .logo {
        margin-left: 0px !important;
        margin: auto !important;
    }

    .nav.sf-menu {
        display: none;
    }

    header > div.header-wrapper > div.container > div.header_widgets > div.header_wishlist {
        display: none;
    }

    .header-cart.sticky {
        align-self: center !important;
    }

    body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
        left: 0px !important;
        top: 0px !important;
    }
    
}


@media (max-device-width: 480px) {
    .content-area > div.custom_section > div > span:nth-child(1) {
        font-size: 24px !important;
    }

    .content-area > div.custom_section > div > span:nth-child(3) {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .content-area > div.custom_section > div:nth-child(3) > div > div > div {
        margin: auto;
    }

    .content-area > div.custom_section > div > div > div {
        margin-bottom: 20px !important;
    }
}