@import './CustomSection/CustomSection.css';
@import './ProductCard/ProductCard.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong,
.price,
.product-price,
.product-availability,
.product-product .product-single table .title,
.text-right,
.input-payment-firstname,
.input-payment-lastname,
.input-payment-email,
.input-payment-telephone,
.input-payment-address-1,
.input-payment-postcode,
label,
.input-payment-firstname {
  font-family: 'Montserrat', sans-serif !important;
}

body:not(.checkout-checkout) {
  background: url(https://res.cloudinary.com/sellavi-estarodubov/image/upload/v1612867804/sellavi/103506/Component_1_4_fcybcq.jpg) repeat-y center/cover fixed;
}

@media (max-width: 576px) {
  body:not(.checkout-checkout) {
    background: url(https://res.cloudinary.com/rostislavsellavi/image/upload/v1613860537/Group_276_ctwwht.jpg) !important;
    background-size: contain;
  }
}



.header-cart .cart-wrapper .cart-qty-circle {
  position: absolute;
  top: -18px;
  right: -5px;
  padding: 0;
  margin: 0;
  line-height: 1.5em;
  width: 1.8em;
  height: 1.8em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  box-sizing: border-box;
  background: #D3865E !important;
  color: #fff !important;
  font-size: .6em;
  border: 1px solid #000;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .common-home .logo {
    display: none;
  }

  .common-home>.wrapper>header.header>.header-wrapper>.mobile-navigation-wrapper {
    top: 45px !important;
  }
}

#home > div.content-area > section > div.flexwrap.checkout_form > div.register_block > div.logo.logo-edited > a > figure > img {
  max-width: 100px !important;
  max-height: fit-content !important;
}
