
@media (max-device-width: 480px) {
    .common-home .header .header-wrapper>.container {
        position: absolute;
    }

    .header .header-wrapper .mobile-navigation-wrapper {
        z-index: 9;
    }

    header > div.header-wrapper > div.container > div.header_widgets {
        z-index: 9;
    }

    header > div.header-wrapper > div.container > div.header_widgets > div.header_wishlist {
        display: none;
    }


    body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
        top: 0px !important;
        left: -1px !important;
    }

    body#home .mobile_side_nav .sidenav_search {
        display: block !important;
    }

    body.sidenav-enabled.ltr .mobile_side_nav ul a {
        direction: rtl
    }
}

header > div.header-wrapper > div.container {
    display: flex;
}

header > div.header-wrapper > div.container > ul {
    order: 2
}

header > div.header-wrapper > div.container > div.logo {
    order: 1;
}

.header-search  {
    order: 3
}

header > div.header-wrapper > div.container > div.header_widgets {
    order: 4
}

header > div.header-wrapper > div.container > div.header_widgets > div.header_login {
    display: none !important;
}

header > div.header-wrapper > div.container > ul > li:nth-child(1) > a {
    border-bottom-color: transparent !important;
}

/* header > div.header-wrapper > div.container > ul > li:nth-child(1):hover > a {
    border-bottom-color: red !important;
}

header > div.header-wrapper > div.container > ul > li:hover > a {
    color: #bfbfbf;
    border-bottom: 2px solid red;
}

footer.footer .footer-widgets .widget-categories ul li:hover a {
    border-bottom: 2px solid red;
} */


#banner0 > div > div > div > div > div > div > div > div > div > p {
    margin-top: 250px;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a {
    text-transform: none;
    background: rgb(231,212,146);
    background: linear-gradient(90deg, rgba(231,212,146,1) 0%, rgba(140,177,221,1) 100%);
    color: black;
    padding: 30px 60px;
    border-radius: 8px;
    font-size: 22px
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a:hover {
    text-transform: none;
    background: rgb(169 155 107);
    background: linear-gradient(90deg, rgb(165 151 105) 0%, rgb(96 122 152) 100%);
    color: white;
    padding: 30px 60px;
    border-radius: 8px;
    font-size: 22px
}

footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(5) {
    display: none;
}


.common-home > div > div.content-area > section.page-section.latest-section > div > h2 > span:after {
    content: " ";
    height: 2px;
    width: 100px;
    background: black;
    margin: 17px 40px;
}

.common-home > div > div.content-area > section.page-section.latest-section > div > h2 > span:before {
    content: " ";
    height: 2px;
    width: 100px;
    background: black;
    margin: 17px 40px;
}

.common-home > div > div.content-area > section.page-section.homefeatured_category > div > div.container > span:before {
    content: " ";
    background: black;
    padding: 1px 62px;
    font-size: 0px;
    position: relative;
    top: -12px;
    margin-right: 50px;
}

.common-home > div > div.content-area > section.page-section.homefeatured_category > div > div.container > span:after {
    content: " ";
    background: black;
    padding: 1px 62px;
    font-size: 0px;
    position: relative;
    top: -12px;
    margin-left: 50px;
}

.common-home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    color: black;
}

.common-home > div > div.content-area > div.contactsSection > div > div > div > div {
    margin-bottom: 0px !important;
} 

footer > div.footer-widgets > div.container > div > div.soc-icons.col-md-3 > div > div > div > a > img {
    width: 30px;
}

#search_results > a > div.add_to_cart > button {
    background: #fff;
    border: 2px solid black !important;
}

#search_results > a > div.add_to_cart > button:hover {
    background: #b0b0b0 !important;
}


body.ltr .wrapper .header .header-wrapper .header-search input.form-control {
    padding-right: 0px !important;
}