.header_widgets > div {
  margin: 0 12px;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  body.ltr .wrapper .header .header-wrapper .header_widgets {
    justify-content: flex-start !important;
    padding-left: 2%;
  }
}

@media (max-width: 396px) {
  .header_widgets > div {
    margin: 0 5px !important;
  }
}