.header_widgets > div {
  margin: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .header_widgets div {
  padding: 0 !important;
} */

@media (max-width: 991px) {
  body.ltr .wrapper .header .header-wrapper .header_widgets {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    padding-left: 2%;
  }
}

@media (max-width: 396px) {
  .header_widgets > div {
    margin: 0 5px !important;
  }
}