.sf-menu {
  font-size: 14px !important;
  font-weight: 100;
}

.header .header-wrapper .mobile-navigation-wrapper a {
  font-size: 23px;
  color: #D3865F !important;
}

@media only screen and (max-width: 992px){
  body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #wishlist {
    color: #D3865F !important;
  }
}

#home > div > header > div.header-wrapper > div.container > ul > li:nth-child(1) a {
  border: 0 !important;
}