@media (max-device-width: 480px) {
    .product-item.product-layout.col-6.two_col_grid.col-sm-6.col-lg-4.col-xl-3.mb-0.mb-md-4 {
        padding: 10px !important
    }

    button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile {
        display: block;
        width: 30px;
        height: 30px;
    }

    #home > div > div.content-area > section.page-section.latest-section > div > div.row.products.grid > div > div > div.caption.text-center > h4 > a {
        font-size: 12px;
        font-weight: 400;
    }

    #home > div > div.content-area > section.page-section.latest-section > div > div.row.products.grid > div > div > div.price_actions.d-flex.justify-content-between > div.price {
        font-size: 14px !important;
        font-weight: 600;
        text-align: left !important;
    }

    #home > div > div.content-area > section.page-section.latest-section > div > div.row.products.grid > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_cart > button > span {
        font-size: 12px;
        font-weight: 500;
    }

    #home > div > div.content-area > section.page-section.latest-section > div > div.row.products.grid > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_wishlist > button > i {
        font-size: 12px;
        font-weight: 500;
    }

    button.btn.btn-theme.btn-theme-transparent.btn-icon {
        height: 30px !important;
        padding: 0px !important;
    }

    h2.sender-basic__title {
        font-size: 22px;
        font-weight: 700;
    }

    p.sender-basic__text {
        font-size: 14px;
        font-weight: 400
    }

    li.contact__title {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 768px) {
    /* body.ru.ltr .wrapper .page-section .products.grid .product-item {
        padding: 10px !important;
    } */
}

@media (max-device-width: 480px) {
    .featured-products-carousel.products.grid > div {
        max-width: 267px;
    }

    body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button>i {
        display: inline;
        font-size: 10px 
    }
    
    .wrapper.wrapper-closed > div.content-area > section.page-section.latest-section > div > div.row.products.grid > div:nth-child(1) > div > div.price_actions.d-flex.justify-content-between > div.buttons__container > div.add_to_cart > button > span {
        font-size: 10px; 
    }
    
    .price_actions .buttons__container {
        height: 36px !important;
    }
}



@media (max-device-width: 480px) {
    .header-wrapper {
        display: flex !important;
    }

    .buttons__container {
        justify-content: center;
    }

    .mobile-navigation-wrapper.d-lg-none.d-xl-none.sticky {
        top: 0px !important;
    }

    .product-category section.page-section.titles > div {
        height: 100px !important;
    }

    .content-area > section.page-section.titles > div > div > h1 {
        font-size: 22px !important;
        font-weight: 600 !important;
    }
}

body.theme-gray.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover {
    background: transparent !important;
}

#home > div > div.content-area > section > div > div > div.col-lg-6.login_wrapper > form > div > div.col-md-6.button_holder > input.btn.btn-theme.btn-block.btn-theme-dark {
    background: black !important;
}

.buttons.d-flex.flex-wrap .btn.btn-theme.btn-cart.btn-icon-left.no_quantity {
    color: black !important;
}

/* .buttons.d-flex.flex-wrap .btn.btn-theme.btn-cart.btn-icon-left.no_quantity:hover, .buttons.d-flex.flex-wrap .btn.btn-theme.btn-cart.btn-icon-left.no_quantity:hover i {
    color: white !important;
} */

body.theme-gray.theme_11.product-product .product-single.product-item .buttons .btn-wish-list:hover i {
    color: white !important;
}

.product-search #button-search {
    color: black !important;
}

.alert.alert-success {
    z-index: 999;
}