.bread__crumbs_container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.bread__crumbs_container a {
  margin-right: 1%;
  display: flex;
}

.bread__crumbs_container .active__page {
  color: #c3c3c3;
  margin-left: 1%;
}