@import './ButtonsGroup/ButtonContainerProduct.css';
@import './ButtonsGroup/ButtonBorders.css';
@import './Alerts/Alerts.css';
@import './PageSection/PageSection.css';

body .section-title {
  display: none !important;
}

body.ltr .thumbnail .caption-title {
  text-align: center !important;
}

.checkout-cart small {
  text-align: center;
}

@media (max-width: 576px) {
  #home > div > div > section.page-section.titles {
    padding-top: 5% !important;
  }

  #content {
    padding-top: 5% !important;
    text-align: center;
  }
}
