.footer__docs {
  width: 100%;
}

.footer__docs ul {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer__docs ul li {
  margin: 0 25px 10px 0;
}

.footer__docs ul li a {
  font-size: 14px;
  color: white;
}
