body.theme-gray.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
  background: none !important;
  color: #000 !important;
  border: 1px solid;
}

.buttons__container button,
.thumbnail .add_to_wishlist button {
  border-color: #d1d1d1 !important;
}

.price_actions .buttons__container {
  height: 36px !important;
}

.thumbnail .add_to_wishlist button {
  width: 60px !important;
}