.common-home .latest-section {
  margin-top: 100px !important;
}

body .section-title span:after, body .section-title span:before {
  display: none !important;
}

.product-product .product-single.product-item #tab-description~.table_holder  {
  display: none !important;
}

@media (max-width: 768px) {
  .common-home .latest-section {
    margin-top: 40px !important;
  }
}