.banner__image {
  background: url('https://res.cloudinary.com/gz-company/image/upload/v1605265832/1985/dane-wetton-I7FsT6N94io-unsplash_udq9uu.jpg') !important;
}

.banner__caption {
  height: auto;
  z-index: 20;
  text-align: center;
  position: absolute;
  bottom: 10%;
  width: 195px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.banner__caption a {
  border-bottom: 1px solid white;
}

.banner__caption a, .banner__caption h1 {
  color: #fff;
}