.header .header-cart {
  position: relative;
  top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important;
}

.cart-wrapper {
  border: none !important;
  margin: 0 !important;
  position: relative;
  top: 0 !important; left: 0 !important; right: 0 !important; bottom: 0 !important;
  height: auto !important;
}

#cart {
  padding: 0;
}

#cart i {
  margin: 0 !important;
}