.cart-wrapper {
  border: none !important;
  margin: 0 !important;
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 41px;
}

#card {
  padding: 0;
}

#card i {
  margin: 0 !important;
}