@import './logo.css';
@import './cart.css';
@import './navigation.css';

/*.common-home .header {
  border: none !important;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
}*/

.common-home .header {
  position: absolute;
}

.header .navigation-wrapper {
  border: none !important;
}

.header-wrapper > .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header .header-wrapper {
  padding: 1em 0px !important;
  background: transparent;
}

.common-home .button__list_elem a {
  color: white;
}

#home > div > header > div.header-wrapper > div.container-fluid > ul > li.button__list_elem.icon-user {
  display: none;
}

#search > button {
  position: absolute !important;
  z-index: 998 !important;
}

#search > div.search_field {
  background: #f0000000 !important;
  position: relative !important;
  z-index: 999 !important;
}

.footer_content_wrapper ul {
  padding: 0px !important;
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
  padding: 0px !important;
}

.fa-shopping-cart:before {
  content: "\f07a";
  font-size: 30px !important;
}

.fa-heart:before {
  content: "\f004";
  font-size: 30px !important;
}

.fa-search:before {
  content: "\f002";
  font-size: 30px !important;
}

i.fa.fa-heart {
  margin: 0px !important;
}

