.logo {
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0;
}


@media (max-device-width: 480px) {
    #home > div > header > div.header-wrapper > div.container-fluid > div.logo > a > img {
      position: relative;
      z-index: 999;
    }

    #home > div > header > div.header-wrapper > div.container-fluid > div.logo > a > img {
      object-fit: cover;
    }

    #home > div > header > div.header-wrapper > div.container-fluid > div > a > img {
      position: relative;
      z-index: 1000 !important;
    } 
  }

  #home > div > header > div.header-wrapper > div.container-fluid > div {
    position: relative;
    z-index: 999;
}

  