.logo {
  position: relative;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: 0;
}


@media (max-device-width: 480px) {
    #home > div > header > div.header-wrapper > div.container-fluid > div.logo > a > img {
      position: relative;
      z-index: 999;
    }
  }

  #home > div > header > div.header-wrapper > div.container-fluid > div.logo {
    height: 100px !important;
}

#home > div > header > div.header-wrapper > div.container-fluid > div.logo > a > img {
    width: 120px !important;
    max-height: none !important;
}


#wishlist > i {
    font-size: 30px !important;
}

.fa-shopping-cart:before {
    content: "\f07a" !important;
    font-size: 25px !important;
}