.navigation .sf-menu {
  font-size: 16px;
}

.common-home .wrapper .header .header-wrapper div .navigation .nav .flexy a {
  color: white ;
}

.navigation .nav li a {
  padding: 8px !important;
}

.sf-menu > .flexy > a > span {
  display: none;
}

.sf-menu li:hover,
.sf-menu.nav > li > a:focus,
.sf-menu.nav > li > a:hover {
  background: transparent !important;
  color: #00b16a;
}

.sf-menu > li > ul {
  top: 40px !important;
  background: rgba(0, 0, 0, 0.6) !important;
  box-shadow: 2px 6px 5px 0 rgba(0, 0, 0, 0.1);
}

.sf-menu li:hover>ul, .sf-menu li.megamenu>ul li.megaline {
  background: rgba(0, 0, 0, 0.6) !important;
}

.sf-menu li:hover>ul>li>a {
  color: black !important;
}

.sf-menu ul a:hover {
  background: none !important;
}

.sf-menu .flexy:hover > ul > li > a,
.sf-menu .flexy:hover > ul > li > div> div > span > a {
  color: black !important;
}

#search > button {
  z-index: -1 !important;
}


@media (max-width: 991px) {
  .navigation {
    display: none;
  }
}


#search > div.search_close.d-block.d-lg-none > i {
  display: none;
}

.children.collapse.show {
  display: flex;
  flex-direction: column;
}

ul.closed {
  position: relative;
  z-index: 1000 !important;
}



/* .panel-collapse.collapse {
  position: absolute;
  z-index: 999 !important;
} */

.panel-collapse.collapse > ul > li > a {
  color: rgb(0, 0, 0);
}

.banner-title-button {
  position: absolute;
  z-index: 1000 !important;
  color: white;
  left: 46%;
  top: 20%;
  font-size: 30px;
}

ul.navigate-menu > .flexy > .panel-collapse {
  z-index: 99;
}

.navigate-menu .panel-collapse.collapse > ul > li > a {
  color: white;
}

#home > div.banner-title-button > a {
  color: white;
}