#home > div > div.content-area > section > div > div > div.col-4 > div > ul {
  display: flex !important;
  flex-direction: column !important;
}

.sf-menu.nav>li {
  margin: 0 !important;
}

.sf-menu li:hover>a {
  color: red !important;
}

.sf-menu.nav>li>a {
  font-size: 18px !important;
  margin: 0 !important;
  padding: 5px 0 !important;
  border: 0 !important;
}

#home > div > div.content-area > section > div > div > div.col-4 > div > ul > li:nth-child(1) {
  display: none;
}

body.theme_11 .wrapper .latest-section h2.section-title span {
  font-size: 18px !important;
  font-weight: 900 !important;
  line-height: 1.33 !important;
  text-align: center !important;
  color: #000 !important;
  margin: auto !important;
}

#home > div > div.content-area > section > div > div > div.col-4 > div > ul > li > a > span {
  display: none !important;
}

#home > div > div.content-area > section > div > div > div.col-4 > div > ul > li > ul {
  display: none !important;
}

#home > div > div.content-area > section > div > div > div.col-4 > div > ul > li {
  position: relative;
  height: 40px !important;
  transition: height 0.3s ease-in-out !important;
}

.categories-block {
  background: #DDDDDD !important;
  padding: 5% !important;
  border-radius: 5px !important;
  font-weight: 100 !important;
}

body .section-title {
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  text-transform: unset !important;
  text-align: center;
  color: #232323;
  overflow: hidden;
  margin: 18px 0 !important;
}

body .content-area .page-section {
  position: relative;
  padding: 0;
  margin-top: 25px;
}

.navigation .nav.sf-menu {
  display: none !important;
}

.panel-collapse > ul > li > a {
  display: flex;
  flex-direction: row;
  direction: ltr !important;
  position: relative;
  left: 35%;
  bottom: 5px;
}

@media screen and (max-width: 480px) {
  .categories__menu {
    display: none !important;
  }
}

