.main-page-categories {
  display: flex;
  flex-direction: column;
}

.main-page-categories>li {
  margin-top: 10px;
}

.main-page-categories>li:first-child {
  display: none;
}

.main-page-categories>li>a {
  display: flex;
  flex-direction: row;
}

.main-page-categories>li>a>.arrow {
  margin: 5px;
}

/*
#home > div > div.content-area > section > div > div > div.col-4 > div > div,
body.theme_11 .wrapper .latest-section h2.section-title span {
  font-size: 24px !important;
  font-weight: 900 !important;
  line-height: 1.33 !important;
  text-align: center !important;
  color: #000 !important;
  margin: auto !important;
}*/
