.main-page-categories {
  display: flex;
  flex-direction: column;
}

.main-page-categories>li {
  margin-top: 10px;
}

.main-page-categories>li:first-child {
  display: none;
}

.main-page-categories>li>a {
  display: flex;
  flex-direction: row;
}

.main-page-categories>li>a>.arrow {
  margin: 5px;
}