@import './caption/caption.css';

body.ru.ltr .wrapper .homefeatured_category {
  margin: 90px 0;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .img-bg
  img {
  padding: 0 !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span,
body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title {
  min-height: 20px !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner p {
  text-align: left !important;
}


body.ru.ltr .wrapper .homefeatured_category > div > div > div {
  max-width: 560px !important;
  width: 100% !important;
}

body.ltr .wrapper .homefeatured_category > div > div > div > .thumbnail,
body.ltr .wrapper .homefeatured_category>div>div>div {
  border: none !important;
}

@media only screen and (max-width: 992px) {
  body.theme_11 .wrapper .homefeatured_category > div > div > div {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            margin-bottom: 35px !important;
  }


}
