.info-card__bottom_text {
    display: flex;
    flex-direction: column !important;
}

.info-card__item_img {
    margin: 0px;
    margin-bottom: 15px;
}

#home > div > div > section > div.container > div.info-card > div > div > div > div > a > p > span {
    margin-bottom: 15px;
    font-weight: 800;
    font-family: "Open-sans", sans-serif;
}

.info-card__item {
    width: 20%;
}