@import './sf-menu/sf-menu.css';
@import './header-widgets/header-widgets.css';

body.theme_11 .wrapper .header {
  width: 100% !important;
  z-index: 1111;
}

@media (max-width: 495px) {
  .logo img {
    max-width: 145px !important;
  }
}