@import './sf-menu/sf-menu.css';
@import './header-widgets/header-widgets.css';

.common-home .header {
  position: absolute !important;
}

body.theme_11 .wrapper .header {
  width: 100% !important;
  z-index: 1111;
}

body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  margin: 0 auto 0 24% !important;
}

@media (max-width: 495px) {
  .logo img {
    max-width: 145px !important;
  }
}