.wrapper .header .header-wrapper .header_widgets .header-cart,
.wrapper .header .header-wrapper .header_widgets .header_login>a {
  background: none !important;
  min-width: 24px !important;
  height: auto;
}

.wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart i {
  margin: 0;
  font-size: 23px;
}

.cart-wrapper .dropdown {
  padding: 8% 0 !important;
}

.common-home .header-cart .cart-wrapper #cart {
  padding-left: 10px !important;
}

.header-cart .cart-wrapper .cart-qty-circle {
  line-height: 20px !important;
}

.wrapper .header .header-wrapper .header_widgets .header_login {
  padding: 0 !important;
}
/*
#cart > span {
  display: none !important;
} */