.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  min-height: 50px !important;
  max-height: 50px !important;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title {
  line-height: 1.5;
  width: 100%;
}

body.theme_11.product-product .product-single.product-item .buttons.fixed_mobile_button,
body.ru.ltr .wrapper .page-section .products.grid .product-item {
  background: black !important;
}

body.theme_11 .featured-products-carousel .bx-wrapper .bx-viewport {
  height: inherit !important;
}

@media (max-width: 495px) {
  body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title {
    line-height: 1.3;
  }
}