body .main-slider .owl-carousel .owl-item .item .img-bg .img-fluid {
    object-fit: contain;
}

body .main-slider .owl-carousel, body .main-slider .owl-carousel .owl-wrapper-outer, body .main-slider .owl-carousel .owl-wrapper, body .main-slider .owl-carousel .owl-item, body .main-slider .owl-carousel .owl-item .item, body .main-slider .owl-carousel .owl-item .item .img-bg, body .main-slider .owl-carousel .owl-item .item .img-bg .img-fluid {
    width: inherit;
}

#banner0 > div.owl-wrapper-outer > div {
    width: inherit !important;
}

#home > div > div.content-area > div.container > img {
    width: 75%;
}

#home > div > div.content-area > div.container {
    display: flex !important;
    justify-content: space-between;
    margin-top: 20px;
}

#home > div > div.content-area > section > div > h2 {
    margin-top: 50px !important;
}

#home > div > div.content-area > section > div > h2 > span {
    font-size: 30px;
    font-weight: 700;
    color: black;
}