.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.step {
  max-width: 367px;
  width: 100%;
  margin: 0 35px 50px 0;
}

.step-top {
  height: 64px;
  background: #1D5271;
  margin: 0 0 12px 0;
  position: relative;
}

.step-top .num {
  font-size: 58px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 26px;
  color: white;
  line-height: .7;
  position: absolute;
  bottom: 0;
}

@media (max-width: 768px) {
  .step {
    margin-right: 0;
  }
}