@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('../../fixes/fixes.css');
@import url('../../modules/BigCategories/BigCategories.css');

html, body,
body span,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body ul,
body li,
.product-availability,
.product-price,
#button-cart,
.title,
.price,
input.form-control,
input.form-control::placeholder,
.form_checkout,
.order_list_section__total-lines,
.checkout_table {
  font-family: 'Open Sans', sans-serif !important;
}

/* Header */
body.theme_10.common-home header.header .header-wrapper {
  background-color: #fff !important;
  transition: background-color .5s ease-in-out;
  z-index: 999;
}

.header .header-search button i {
  font-weight: 100;
}

.fa-search:before {
  content: "\f002";
  font-size: 14px;
}

.cart-norm-qty.d-none.d-lg-inline-block {
  font-size: 12px;
}

.header-cart .cart-wrapper #cart i {
  font-size: 12px;
  line-height: 11px;
  padding: 5px 0;
  margin: 9px 0 9px 7px;
}

.header-cart .cart-wrapper {
  height: 41px;
  border-radius: 4px;
  border: 1px solid #e9e9e9;
  transition: border .3s;
}

body.theme-gray .header {
  border-bottom: 0;
}

body.theme_10.common-home header.header .header-wrapper {
  background-color: transparent !important;
  transition: background-color .5s ease-in-out;
  z-index: 999;
}

body.theme_10 .wrapper header.header, body.theme_10 .wrapper header.header.sticky_trigger {
  z-index: 999;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
}

body.theme-gray .header .navigation-wrapper {
  background-color: #f5f6f7;
  border-top: 0;
}

/* End */

/* Banner */

.video__banner {
  position: relative;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.video__banner__text__content {
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}

.video__banner__text__content__header {
  color: #fff !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.video__banner__text__content__header a {
  color: #fff !important;
}

.navbar__block {
  display: flex;
  justify-content: flex-start;
}

.navbar_item {
  padding: 32px;
  color: #fff;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}


body.bottom-nav-enabled nav.mobile_bottom_nav .mobile_side_nav_menu li {
  position: relative;
  padding-right: 0;
  padding-left: 50px;
  line-height: 64px;
  font-size: 18px;
  margin-bottom: 0;
  border-bottom: 1px solid #dfe3e8;
}

body.theme-gray .header.bordered {
  border-bottom: 0 !important;
}

.header-cart .cart-wrapper #cart, .header-cart .cart-wrapper #wishlist {
  background: transparent;
  padding: 6px;
  color: #fff;
  position: relative;
}

body.theme_10 .wrapper header.header .cart-wrapper {
  background-color: transparent;
}

.header-cart .cart-wrapper {
  height: 41px;
  border-radius: 4px;
  border: 0;
  transition: border .3s;
}

.header-cart .cart-wrapper:hover {
  border: 0;
}

body.theme_10 .wrapper header.header .header-search input {
  background-color: transparent;
}

.header .header-search button i {
  font-weight: 100;
  color: #fff;
}

#search > div.search_field > input {
  border: 0;
}


/* End */

/* Categories */

#home > div.wrapper.wrapper-closed > div > section > div > ul > li:nth-child(1) > div > div {
  background: url(https://res.cloudinary.com/dd2edlvdy/image/upload/v1605698960/IMG_0250_xzsah1.webp) no-repeat top/cover;
  height: 100vh;
}

#home > div.wrapper.wrapper-closed > div > section > div > ul > li:nth-child(2) > div > div {
  background: url(https://res.cloudinary.com/dd2edlvdy/image/upload/v1605698960/IMG_0515_gbrexh.webp) no-repeat top/cover;
  height: 100vh;
}

.title__new__collection {
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

body .section-title span:after, body .section-title span:before {
  display: none;
}

.collection__products {
  width: 50%;
}

.thumbnail .media img {
  max-width: 100%;
  width: auto;
}

.thumbnail .price {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #333;
  float: right;
  display: inline-block;
}

/* End */


/* Content */

body.ltr .thumbnail .caption-title {
  text-align: center;
}

.products__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body .section-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 32px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #232323;
  overflow: hidden;
}

.product-item .thumbnail .media img {
  min-height: 400px;
  max-width: 500px;
  max-height: 400px;
}

/* end */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.logo.navbar__block > div,
  #home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.logo.navbar__block > a:nth-child(3),
  #home > div.wrapper.wrapper-closed > header > div.header-wrapper > div > div.logo.navbar__block > a:nth-child(4) {
    display: none;
  }

  .navbar__block {
    display: flex;
    justify-content: center;
  }

  .col-md-3 + .col-md-3 {
    margin-right: 5%;
  }

  .cards__item {
    display: flex;
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    margin-top: 25px;
  }

  .products__block {
    display: flex;
    flex-direction: column;
  }

  .collection__img {
    display: none;
  }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1500px) {
  .col-md-3 + .col-md-3 {
    margin-right: 5%;
  }
}