.icon-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, 290px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-category__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /*  */
}

.icon-category__elem_ico {
  width: 33px;
  height: auto;
}

.icon-category__elem_link {
  width: 220px;
}