body.dark-mode.theme_11.ltr,
body.dark-mode.theme_11.ltr header,
body.dark-mode.theme_11.ltr .footer .footer-meta,
body.dark-mode.theme_11.ltr .owl-carousel,
body.dark-mode.theme_11.ltr .cart-items .cart-items-inner,
body.dark-mode.theme_11.ltr .form-control,
body.dark-mode.theme_11.ltr .form-control:focus,
body.dark-mode.theme_11.ltr.account-login .create-account .button_holder .btn.btn-block,
body.dark-mode.theme_11.ltr .information-title {
  background: black !important;
}

body.dark-mode.theme_11.ltr .form-control::-webkit-input-placeholder {
  color: white !important;
}

body.dark-mode.theme_11.ltr .form-control::-moz-placeholder {
  color: white !important;
}

body.dark-mode.theme_11.ltr .form-control:-ms-input-placeholder {
  color: white !important;
}

body.dark-mode.theme_11.ltr .form-control::-ms-input-placeholder {
  color: white !important;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode a,
body.dark-mode li,
body.dark-mode span,
body.dark-mode b,
body.dark-mode strong,
body.dark-mode h1 font,
body.dark-mode .form-control,
body.dark-mode .thumbnail .price,
.thumbnail .add_to_cart .quantity,
body.dark-mode.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button,
body.dark-mode .thumbnail .add_to_wishlist button,
body.dark-mode.ltr
  .wrapper
  .header
  .header-wrapper
  .header_widgets
  .header-cart
  .cart-wrapper
  #cart,
body.dark-mode.theme_11 .wrapper .header .header-wrapper .header-search button,
body.dark-mode.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a,
body.dark-mode.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title,
body.dark-mode.theme_11.product-product .product-single .product-availability,
body.dark-mode.theme_11.product-product .product-single .product-price,
body.dark-mode.theme_11.ltr.product-product .product-single #tab-description h3,
body.dark-mode.theme_11.ltr.product-product .product-single.product-item .buttons #button-cart,
body.dark-mode.theme_11.ltr.product-product .tab-pane p,
body.dark-mode.theme_11.ltr .btn.dropdown-toggle,
body.dark-mode.theme_11.ltr.product-product .product-single.product-item .buttons .btn-wish-list i,
body.dark-mode.theme_11.ltr.checkout-cart
  .content-area
  .page-section
  .checkout_cart_inner
  .cart_product
  .product_row
  .qty_column
  .quantity
  > i,
  body.dark-mode.theme_11.ltr.checkout-cart
  .content-area
  .page-section
  .checkout_cart_inner
  .cart_product
  .product_row
  .qty_column
  .quantity
  > input,
  body.dark-mode.theme_11.ltr .form-control::placeholder,
  body.dark-mode.theme_11.ltr.account-login .create-account .button_holder .btn.btn-block,
  body.dark-mode.theme_11.ltr .form-login .forgot-password ,
  body.dark-mode.theme_11.ltr .cart-items .cart-items-inner,
  body.dark-mode.theme_11.ltr .information-title {
  color: white !important;
}

body.dark-mode.theme_11.ltr .wrapper .header .header-wrapper .header-search input.form-control,
body.dark-mode.theme_11.ltr .btn.dropdown-toggle,
body.dark-mode.theme_11.ltr.product-product .product-single.product-item .buttons #button-cart,
body.dark-mode.theme_11.ltr.product-product .product-single.product-item .buttons .btn-wish-list,
body.dark-mode.theme_11.ltr.product-product
  .product-single
  .bootstrap-select
  > .dropdown-menu
  .bs-searchbox
  .form-control,
body.dark-mode.theme_11.ltr.checkout-cart
  .content-area
  .page-section
  .checkout_cart_inner
  .cart_product
  .product_row
  .qty_column
  .quantity,
  body.dark-mode.theme_11.ltr.account-login .create-account .button_holder .btn.btn-block  {
  border-color: white !important;
}
