body.theme_11 .wrapper .homefeatured_category>div>div>div {
    max-width: 361px;
}

.caption-inner.div-cell .caption-title > span {
    font-size: 18px !important;
    font-weight: 700 !important;
}

.thumbnail.thumbnail-banner .caption-inner {
    border: 0px solid #fff;
    padding: 15px;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
    height: 265px;
}

.caption-title > span {
    padding-top: 10px !important;
    padding-left: 25px !important;
}