.main-slider  {
  margin: 0 !important;
}

.main-slider .img-fluid {
  height: auto;
  object-fit: contain;
}

body .main-slider .caption-content .caption-subtitle > span {
  text-align: center !important;
}

@media (max-width: 768px) {
  .main-slider .img-fluid {
    height: 80vh;
    object-fit: cover;
  }
}