body:not(.common-home) .wrapper .header {
  background: transparent !important;
  position: absolute !important;
}

body.theme-cumin.theme_11 .wrapper .header .navigation-wrapper {
  background: transparent !important;
}

