body.common-home .wrapper .header {
  background: transparent !important;
  position: absolute !important;
  width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 9999;
}

.common-home .header .header-wrapper {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) !important;
}

body.ry.ltr .wrapper .header .navigation-wrapper {
  background: transparent !important;
}

.wrapper .header .header-wrapper .header-search input.form-control {
  background: transparent !important;
}