@import '../../../templates/TemplateTypeOne/style/index.css';
@import '../../../components/ContactsWithMap/ContactsWithMap.css';
@import '../../../components/css-components/ColoredCategories/category/size/cat-col-3.css';
@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import '../../../fixes/fixes.css';
@import './pay-delivery/pay-delivery.css';
@import './header.css';
@import './banner.css';

body h1 {
  font-size: 1.8 rem;
}

.wrapper .header .header-wrapper .logo {
  z-index: 9999 !important;
}

.logo img {
  max-width: 155px !important;
}

body.theme-red-2.theme_11 .wrapper .header .header-wrapper .header-search button {
  color: black !important;
}
