body.theme-gray .header .navigation-wrapper {
    background-color: #f5f6f700;
    border-top: 0px solid #d3d5d7;
}

#search {
    position: absolute;
    left: 820px !important;
    top: 12px !important;
    z-index: 1000 !important;
}

#search > div.search_field {
    width: 60%;
    position: relative;
    left: 100px;
}

#search > div.search_field > input {
    border-bottom: 0px !important;
    position: relative;
    z-index: 1000 !important;
}

/* #home > div > header > div.header-wrapper {
    position: absolute;
    top: 38px !important;
} */

.common-home div > header > div.header-wrapper {
    position: absolute;
    top: 38px !important;
}

.common-home .sf-menu a {
    color: #ffffff;
}

nav.navigation.closed.clearfix.nav.nav-closed {
    right: 352px
}

.sf-menu>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header > div.header-wrapper > div.container > span {
    color: white;
    font-family: inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 219px;
    font-size: 2em;
}

.common-home .sf-menu li:hover {
    background-color: #23232300;
    color: #fff;
}

.common-home .sf-menu.nav>li>a:focus, .common-home .sf-menu.nav>li>a:hover {
    background-color: #23232300;
    color: #fff;
}

.sf-menu.nav>li>a {
    font-weight: 100;
}

#search > button {
    top: 1px;
}

.dropdown.cart_drop_down {
    bottom: 2px;
}

#home > div > div > section > div.container > h2 > span {
    text-transform: lowercase;
    font-weight: 900;
    font-size: 20px;;
}

#home > div > div > section > div.container > h2 > span::first-letter {
    text-transform: uppercase;
}


#home > div > header > div.header-wrapper > div.mobile-navigation-wrapper.d-lg-none.d-xl-none.sticky > div {
    position: absolute;
    left: 60px;
    color: white;
    font-size: 20px;
    font-family: inter;
    top: 15px;
}

#home > div > header > div.header-wrapper > div.container {
    z-index: 999;
}

#home > div > div > section.page-section.titles {
    top: -15px
}

#content {
    top: 20px;
}

#sidebar {
    top: 20px;
}

body.theme-gray .header {
    border-bottom: 0px solid #3c3c3c;
}

/* section.page-section.titles {
    margin-top: 100px;
}  */

.product-category.page-section.titles {
    background: #ff000000; border: 0px;
}