.sender-basic {
  flex-direction: row !important;
  padding: 50px 80px !important;
}

.sender-basic__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sender-basic__title {
  margin-bottom: 45px !important;
}

.sender-basic form {
  width: 100%;
  max-width: 380px !important;
}

.sender-basic form > .__container {
  flex-direction: column !important;
  width: 100%;
}

.sender-basic form .form__input {
  margin: 0 0  20px !important;
  height: 50px !important;
  width: 100% !important;
  font-size: 14px !important;
  padding-left: 3% !important;
}

.sender-basic form .form__input:last-child {
  margin-bottom: 0 !important;
}

.sender-basic form .form__button {
  margin-top: 40px !important;
  width: 100% !important;
}