.grid-photo {
  margin: 100px 0;
}

.grid-photo__container {
  max-width: 1300px;
  width: 100%;
  height: 890px;
  background: url(https://res.cloudinary.com/gz-company/image/upload/v1606232507/Miru/assets/Group_50_dzmnxz.png) no-repeat;
  background-size: cover;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .grid-photo__container {
    background: url(https://res.cloudinary.com/gz-company/image/upload/v1606304562/Miru/Group_72_swugft.png);
    width: 100%;
    height: auto;
  }
}
