
/* BANNER */
@import './banner/banner.css';
@import './banner/caption.css';

/* PRODUCTS */
@import './products/products.css';
@import './products/product.css';
@import './products/product-page.css';

/* Section-title */
@import './section-title/section-title.css';

/* Social icons */
@import './footer/social-icons.css';


body .content-area {
  position: relative;
  z-index: 1;
  padding-bottom: 0 !important;
}

body .content-area .page-section.latest-section {
  background: url(https://res.cloudinary.com/gz-company/image/upload/v1609330294/Miru/assets/Group_7423503_1_hutvtd.png) no-repeat !important;
    background-size: 101% !important;
}

body .section-title.section-title-lg {
  height: auto !important;
}