.footer {
  background: #204043 !important;
  border: none !important;
}

body .footer .footer-meta {
  background: #204043 !important;
}

body .footer .footer-widgets {
  padding: 50px 0 20px !important;
}

