.price_actions.d-flex.justify-content-between {
    flex-direction: column
}

.buttons__container > div {
    display: flex;
    justify-content: space-between;
    border: 1px solid #A1A1A1;
}

#home > div > div > section.page-section.latest-section > div > div > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_cart {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 10px;
}

#home > div > div > section.page-section.latest-section > div > div > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_wishlist {
    height: 100%;
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile:hover {
    background: transparent;
}

/* body .btn.btn-theme.btn-theme-transparent:hover i {
    color: black;
} */

@media(max-device-width: 480px) {
    .otherInfo {
        flex-direction: column !important;
    }

    .logo img {
        width: 156px;
    }

    h4.caption-title {
        text-align: left !important;
    }

    body .hide_on_mobile {
        display: block;
    }

    .add_to_cart {
        width: 100%;
    }

    .add_to_wishlist {
        width: 20% !important;
    }

    body .btn.btn-theme.btn-theme-transparent, body .btn.btn-theme.btn-theme-transparent:active, body .btn.btn-theme.btn-theme-transparent {
        font-size: 12px;
        font-weight: 500;
    }

    .thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
        padding: 0px;
    }

    .number {
        margin-bottom: 50px !important;
    }

}

.widget.side-categories {
    border: transparent;
    background: #F2F2F2;
}

.widget.shop-categories ul li+li, .widget.side-categories ul li+li {
    border-top: 0px;
}

.widget.shop-categories ul a, .widget.side-categories ul a {
    font-weight: 600;
}

.shop-sorting {
    display: none !important;
}

.product-category section.page-section.titles > div {
    background: url('https://res.cloudinary.com/dtqqfmyqb/image/upload/v1610458136/Component_1_1_sfbdif.png');
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-category body .content-area .page-section.titles {
    background: white;
    border: 0px;
}

.product-category section.page-section.titles > div > div > h1 {
    color: white;
}

section.page-section.titles {
    background: white !important;
    border: 0px !important;
}

.add_to_cart {
    width: 100%;
    margin-right: 20px;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
}

.add_to_wishlist {
    width: 26%;
}

@media (max-device-width: 480px) {
    .widget.side-categories {
        margin-bottom: 20px;
    }
    
    .add_to_cart {
        margin-right: 10px;
        height: 60%
    }
    
    .add_to_wishlist {
        height: 60%
    }
    
    
    
    button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile {
        height: 100%
    }

    section.page-section.titles > div {
        height: 100px !important;
        background-size: cover !important;
    }
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile {
    padding: 0px;
}

@media (max-device-width: 480px) {
    h2.section-title.mb-4.mt-4 {
        margin-top: 50px !important;
    }

    #home > div > div > section.page-section.latest-section > div > h2 > span {
        text-transform: lowercase;
    }
    
    #home > div > div > section.page-section.latest-section > div > h2 > span:first-letter {
        text-transform: uppercase;
    }
}

@media (max-device-width: 480px) {
    #home > div > div > section.page-section.latest-section > div > div > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_wishlist {
        justify-content: center;
        height: 50%
    }

    #home > div > div > section.page-section.latest-section > div > div > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_cart {
        height: 50%;
    }

    .mobile_two_columns .products .thumbnail .price_actions .price {
        text-align: left;
    }

    #home > div > div > section.page-section.latest-section > div > h2 > span {
        font-size: 22px;
        font-weight: 600;
    }
    
    .caption-title a {
        font-size: 12px;
        font-weight: 400;
    }
    
    .mobile_two_columns .products .thumbnail .price_actions .price {
        font-size: 14px;
        font-weight: 600;
    }
    
    body .btn.btn-theme.btn-theme-transparent, body .btn.btn-theme.btn-theme-transparent:active, body .btn.btn-theme.btn-theme-transparent {
        font-size: 10px;
        font-weight: 600 !important;
    }
    
    #home > div > div > div.contactsSection > div > div > div.contacts-title > span {
        font-size: 22px;
        font-weight: 700;
    }
    
    .soms-title {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    h1.product-title {
        font-size: 18px !important;
        font-weight: 400 !important;
    }
    
    .product-availability {
        font-size: 18px !important;
        font-weight: 400 !important;
        font-family: 'Montserrat', sans-serif;
    }
    
    body.ltr .product-single .product-price {
        font-size: 28px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    
    .product-product .product-single .buttons .btn-cart {
        margin-left: 0px;
    }
    
    footer > div.footer-widgets > div.container > div > div.soc-icons.col-md-3 > div {
        padding: 0px;
        margin-top: 40px;
    }
}

body.ltr .thumbnail .caption-title {
    font-weight: 400;
}

.checkout_form .register_block .registered_text a {
    font-weight: 400 !important;
}

.add_to_wishlist {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.price_actions .buttons__container {
    margin-top: 20px !important;
}

section.page-section.latest-section > div > div > div > div > div.price_actions.d-flex.justify-content-between > div > div.add_to_cart > button:hover {
    background: black;
    border-radius: 0px;
    color: white;
}

.thumbnail .price_actions .add_to_cart button {
    width: 100%;
}

.thumbnail .price_actions .add_to_cart button:hover i {
    color: white !important;
}

/* #home > div > div > section.page-section.latest-section > div > div > div> div > div.price_actions.d-flex.justify-content-between > div > div.add_to_wishlist:hover {
    background: black;
} */

.add_to_wishlist:hover i {
    color: white !important;
}

.thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
    height: 46px !important;
}

@media (max-device-width: 480px) {
    .thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
        height: 100% !important;
    }
}

.product-product .product-single .buttons .btn-cart:hover {
    background: #909090 !important;
    color: white !important;
}

.product-product .product-single .buttons .btn-compare, .product-product .product-single .buttons .btn-wish-list:hover {
    background: #909090 !important;
}