.info-card {
  padding: 80px 0;
  background: #f4f4f4;
}

.info-card__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.info-card__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  width: 218px;
  padding: 0 80px 10px 0;
  margin-bottom: 30px;
  text-align: left;
  border-bottom: 2px solid black;
}

.info-card__item {
  max-width: 415px;
  width: 100%;
  margin-right: 30px;
}

.info-card__item_img {
  margin: 0 0 50px 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info-card__item_img:last-child {
  margin-right: 0;
}

.info-card__bottom_text {
  font-size: 20px;
  line-height: 24px;
}

info-card__bottom_text span {
  font-size: 20px;
  font-weight: 600;
}

.info-card__bottom_text b {
  font-weight: bold;
}

@media (max-width: 768px) {
  .info-card__item_img {
    margin: 0 0 10px;
    width: 100%;
    max-height: 405px;
    height: auto;
  }

  .info-card__item {
    margin: 0 0 20px 0;
  }
}
