  body .container {
    max-width: 63% !important;
    min-width: inherit !important;
  }

  @media (max-width: 1810px) {
    body .container {
      max-width: 68% !important;
    }
  }

  @media (max-width: 1694px) {
    body .container {
      max-width: 73% !important;
    }
  }

  @media (max-width: 1595px) {
    body .container {
      max-width: 83% !important;
    }
  }