  body .content-area .container-fuid,
  body .page-section .container-fuid {
    max-width: 75% !important;
    min-width: inherit !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media (max-width: 1810px) {
    body .content-area .container-fuid {
      max-width: 80% !important;
    }
  }

  @media (max-width: 1694px) {
    body .content-area .container-fuid {
      max-width: 85% !important;
    }
  }

  @media (max-width: 1595px) {
    body .content-area .container-fuid {
      max-width: 95% !important;
    }
  }