@import '../../../fixes/css/ResetHeaderForMarketplace/ResetHeaderForMarketplace.css';
@import '../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
@import '../../../fixes/fixes.css';

@import '../../../components/VideoBanner/VideoBanner.css';

@import './pay-delivery/pay-delivery.css';
@import './header/header.css';
@import './caption-title/caption-title.css';
@import './banner/banner-caption.css';
@import './banner/banner-content.css';
@import './info-card/info-card.css';
@import './soc-icons/soc-icons.css';
@import './drop-down-cart/dropdown-cart.css';

@import '../../../components/PictureCategories/PictureCategories.css';
@import '../../../components/InfoCardTypeOne/InfoCardTypeOne.css';
@import '../../../components/FormBasic/FormBasic.css';
@import '../../../components/SocialIconsTypeOne/SocialIconsTypeOne.css';
@import '../../../components/ColorChoise/ColorChoise.css';
@import '../../../components/ContentBannerTypeOne/ContentBannerTypeOne.css';

@import '../../../templates/TemplateTypeTwo/styles/cart-wrapper/cart-wrapper.css';
@import '../../../templates/TemplateTypeTwo/styles/products/products.css';
@import '../../../templates/TemplateTypeTwo/styles/products/price-actions.css';
@import '../../../templates/TemplateTypeTwo/styles/section-title/section-title.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a {
  color: #887568 !important;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body b, body strong {
  text-transform: none;
}

body label.placeholder {
  color: lightgray;
}