#home > div > div > div.custom_section > div > div > div > div:nth-child(1) {
    background: #3A7FC1;
    height: 300px;
    border-radius: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    margin-right: 20px
}

#home > div > div > div.custom_section > div > div > div > div:nth-child(1) > div {
    font-size: 20px;
    margin-bottom: 10px;
}

#home > div > div > div.custom_section > div > div > div > div:nth-child(1) > ul > li {
    font-size: 15px;
    margin-bottom: 15px;
}

#home > div > div > div.custom_section > div > div > div > div:nth-child(2) {
    height: 300px;
    background: url('https://res.cloudinary.com/dtqqfmyqb/image/upload/v1611925885/three-colored-table-with-paint-jars-brushes_1_w9voix.png');
    border-radius: 20px;
    background-size: cover;
    margin-right: 20px;
}

#home > div > div > div.custom_section > div > div > div > div:nth-child(3) {
    background: #F9C704;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center
}

div.custom_section.container > div.contact-with-map > ul > li:nth-child(2) > p.contact__list-text {
    font-weight: 400;    
}

div.custom_section.container > div.contact-with-map > ul > li:nth-child(3) > p.contact__list-text > a {
    font-weight: 400;
}

div.custom_section.container > div.contact-with-map > ul > li:nth-child(4) > p.contact__list-text > a {
    font-weight: 400;
}









