@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@import '../../../../fixes/css/ResetHeaderForMarketplace/ResetHeaderForMarketplace.css';
@import '../../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';

@import '../../../../components/HeaderTypeTwo/HeaderTypeTwo.css';
@import '../../../../components/PictureCategories/PictureCategories.css';
@import '../../../../components/ColorChoise/ColorChoise.css';
@import '../../../../components/FormBasic/FormBasic.css';
@import '../../../../components/SocialIconsTypeOne/SocialIconsTypeOne.css';
@import '../../../../components/VideoBanner/VideoBanner.css';
@import '../../../../components/ContentBannerTypeOne/ContentBannerTypeOne.css';
@import '../../../../components/InfoCardTypeOne/InfoCardTypeOne.css';
@import '../../../../components/PopupWithTable/styles/popup.css';
@import '../../../../components/PopupWithTable/styles/table/table.css';

@import '../../../../templates/TemplateTypeTwo/styles/cart-wrapper/cart-wrapper.css';
@import '../../../../templates/TemplateTypeTwo/styles/products/products.css';
@import '../../../../templates/TemplateTypeTwo/styles/products/price-actions.css';
@import '../../../../templates/TemplateTypeTwo/styles/section-title/section-title.css';
@import '../../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import '../../../../templates/TemplateTypeTwo/styles/footer/footer.css';

@import './sf-menu/sf-menu.css';
@import './sub-categories/sub-categories.css';
@import './categories/categories.css';
@import './products-wrapper/products-wrapper.css';
@import './products-wrapper/buttons.css';
@import './section-title/section-title.css';
@import './sender-basic/sender-basic.css';
@import './soc-icons/soc-icons.css';
@import './footer/footer.css';
@import './product-page/product-page.css';
@import './cart-wrapper/cart-wrapper.css';
@import './table/table.css';

@import '../banner/banner-caption.css';
@import '../banner/banner-content.css';
@import '../info-card/info-card.css';

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body.common-home .wrapper .header {
  position: absolute;
}
body.ru.ltr .wrapper .header {
  z-index: 99999;
  width: 100%;
  padding: 1.2em 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong,
body label.placeholder,
body.checkout-checkout .radio.customized input[type=radio]:checked~label {
  color: #8f8476 !important;
}

.common-home .header-cart .cart-wrapper #cart,
body.ru.ltr.common-home .wrapper .header .header-wrapper .header-search button,
body.ru.ltr.common-home .wrapper .header .header-wrapper .header_widgets .header_login>a,
body .btn.btn-theme.btn-theme-transparent, body .btn.btn-theme.btn-theme-transparent:active, body .btn.btn-theme.btn-theme-transparent:focus,
.common-home .header .header-wrapper .mobile-navigation-wrapper a {
  color: white !important;
}


body.ru.ltr .checkout-progress-bar .step-number.active,
.checkout_form #cart_table .product-thumbnail__quantity {
  color: white !important;
}


body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  margin: -4px auto 0 17% !important;
}

body.sidenav-enabled.ltr .wrapper-closed {
  min-height: 55vh;
}

@media (max-width: 1224px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: -4px auto 0 8% !important;
  }
}

@media (max-width: 991px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: -4px auto !important;
  }
}

@media (max-width: 495px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto !important;
  }

  .logo img {
    max-width: 145px !important;
  }
}
