body.ltr .header-cart .cart-wrapper #cart {
  color: black !important;
}

body.ru.ltr .wrapper .header .header-wrapper .header_widgets .header-cart {

}

@media (max-width: 991px) {
  .header_widgets .header-search  {
    display: none !important;
  }

  .header_widgets .header-cart {
    display: flex !important;
    align-items: center;
  }

  .header_widgets .header-cart a {
    color: black !important;
  }

  .cart-content .checkout-button a {
    color: white !important;
  }

  .header-cart .cart_drop_down.dropdown .dropdown-menu {
    left: 10px !important;
    right: auto !important;
  }
}
