@media (max-width: 991px) {

  .header_widgets .header-search  {
    display: none !important;
  }
  .header_widgets .header-cart {
    display: block !important;
    top: 30px !important;
    left: 15px !important;
  }

  .header_widgets .header-cart a {
    color: black !important;
  }
}
