tabs-wrapper .content-tabs {
  background: white;
  box-shadow: 1px 4px 25px -21px black;
  margin-top: 30px;
  padding: 5%;
}

.content-tabs .nav-tabs {
  margin-bottom: 40px !important;
}

.content-tabs .nav-tabs > li > a {
  color: grey !important;
}

.content-tabs .tab-content {
  border: none;
  padding: 0 !important;
  background: transparent;
}

.content-tabs .nav-tabs > li > a,
.content-tabs .nav-tabs > li > a:focus {
  background: transparent;
  font-weight: normal;
  text-transform: none;
  border: none;
  padding: 5px 10px;
}

.content-tabs .nav-tabs > li > a.active {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  text-transform: none;
  padding: 5px 10px;
}

.content-tabs .nav-tabs > li > a.active:after,
.content-tabs .nav-tabs > li > a.active:before {
  display: none;
}
