body.ltr #review .comments .comment .comment-meta:after,
body.ltr #review .comments .comment .comment-date .fa {
  display: none;
}

body#home .media.comment .media-body {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .btn.btn-theme.btn-icon-left .fa {
  display: none;
}

#review .comments .comment .comment-meta {
  margin: 0;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#review .comments .comment .comment-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#review .comments .comment {
  padding: 20px 0 !important;
}

#review .comments .comment,
.comments-form {
  border: none;
}

#review .comments .comment .stars {
  position: relative;
  top: 0;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}