.sender-basic {
  border-color: #3ebab1 !important;
  border-radius: 10px !important;
}

.sender-basic form input {
  max-width: 319px;
  width: 100%;
}

.sender-basic .form-grp__container {
  display: grid;
  grid-template-areas:
    'a b c'
    'd d d';
  grid-column-gap: 15px;
  grid-row-gap: 20px;
}

.sender-basic .form-button {
  background: #3ebab1 !important;
  grid-area: d;
}

.sender__basic .form__input[name='userName'] {
  grid-area: a;
}

.sender__basic .form__input[name='email'] {
  grid-area: b;
}

.sender__basic .form__input[name='phone'] {
  grid-area: d;
}