@import '../../../vendor/fonts/Golos/golos.css';

@import './components/fixes.css';
@import './components/components.css';
@import './blocks/index.css';


body.product-category p,
body.information-information p,
body.information-information span,
body.product-category span,
body.information-information b,
body.product-category b {
  font-family: 'Times New Roman', Times, serif;
  text-rendering: optimizeLegibility;
  letter-spacing: .3px;
  /* font-size: 16px; */
}

body.product-category p,
body.information-information p {
  font-size: 14px !important;
  margin-bottom: 30px !important;
}