footer > div.footer-widgets > div.container > div {
    border-top: 1px solid black;
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
}

footer > div.footer-widgets > div.container > div > div {
    padding: 0px;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a {
    color: #afafaf !important;
    font-weight: 600
}