body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button,
  .thumbnail .add_to_wishlist button {
    color: #A68E7D !important;
    background-color: transparent !important;
    border: 1px solid #A68E7D;
    border-radius: 5px !important;
}

body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover,
  .thumbnail .add_to_wishlist button:hover
   {
    color: #887568 !important;
    background-color: #FFF1EA !important;
    border: 1px solid #887568 !important;
}

/* Btn WISHLIST */
body.ltr .thumbnail .add_to_wishlist button,
body.ltr .thumbnail .add_to_wishlist, body.ltr .thumbnail .remove_from_wishlist {
  height: inherit;
}

body.ltr .thumbnail .add_to_wishlist button {
  width: 60px !important;
}
