@import '../../modules/BigBanner/BigBanner.css';


/* Header */
.navbar__block {
  display: flex;
  justify-content: flex-start;
}

.navbar_item {
  padding: 32px;
  color: #000;
}

.header-cart .cart-wrapper #cart, .header-cart .cart-wrapper #wishlist {
  color: #000;
}

#home > div.wrapper.wrapper-closed > div.content-area > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > a {
  color: #fff;
  font-size: 21px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;

}

.banner__container {
  display: flex;
  width: 100%;
  height: 857px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3456&q=80") no-repeat center/cover;
}

.banner__item {
  display: flex;
  flex-direction: row;
}

.banner__column {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-self: center;
}

.banner__column__item {
  width: 812px;
}

.banner__item + .banner__item {
  margin-left: 5%;
}

.banner__column__item h4 {
  font-size: 50px;
  color: #fff;
  padding: 3rem;
}

.banner__submit__form {
  width: 590px;
  height: 667px;
  left: 0px;
  top: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.banner__submit__form>h6  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  padding-top: 65px;
}

.banner_submit__form__input {
  width: 462px;
  height: 68px;
  background: rgba(243, 243, 243, 0.2);
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
}

/* end */


