.footer {
  background: #0077b6 !important;
}

body .footer a,
.footer .footer-widgets .widget-title {
  color: white !important;
}

.footer .footer-widgets .widget-title {
  margin: 0 !important;
  padding: 0 !important;
}

.footer .footer-widgets .widget-title:before,
.widget-categories ul li a:before {
  display: none !important;
}

.widget-categories ul li+li {
  border: none !important;
}

.widget-categories ul li a {
  padding: 0 !important;
}


@media (min-width: 768px) {
  .col-md-3 {
      max-width: 17%;
  }
}

.thumbnail.no-border, .thumbnail.no-border.hover, .thumbnail.no-border:hover {
  border: none !important;
}

.add_to_wishlist {
  position: relative !important;
}

.media {
  display: flex;
  flex-direction:row-reverse;
}

.add_to_wishlist {
  position: relative !important;
}



.media {
  display: flex;
  flex-direction:row-reverse;
}

h3.img-inner_title {
  padding-left: 20px;
  padding-right: 20px;
}