

.product-availability {
    margin-top: 10px;
    color: #A0A0A0 !important;
}

.product-price {
    margin-bottom: 10px;
}

.quantity {
    display: none;
}

button#button-cart {
    background: white;
    border: 3px solid rgba(35,35,35,.1);
    color: black;
}

.table_holder {
    display: none;
}

.share_page_wrapper {
    display: none;
} 

@media (max-device-width: 480px) {
    .mobile_wishlist {
        display: none !important;
    }
    
    button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
        display: block;
    }

    .col-12.col-sm.product-description {
        text-align: center;
    }
}

.product-category #content > div > div > div:nth-child(1) {
    display: block !important;
}

.product-product .product-single .buttons .btn-compare:hover, .product-product .product-single .buttons .btn-wish-list:hover {
    background: white;
    border: 3px solid rgba(35,35,35,.1)
}

.wrapper .header .header-wrapper .header-search.opened #search_results>a .item_data {
    padding: 10px;
}

#content > div.row.mb-0.mb-md-3 {
    display: none;
}

.information-sitemap #content > div > div:nth-child(1) {
    margin-left: 10px;
}

.information-sitemap #content > div > div:nth-child(2) {
    margin-left: 10px;
}

.common-home .thumbnail .caption-title {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .content-area .page-section.titles {
    padding-top: 0px
}

.checkout-cart #content > div > div > div:nth-child(1) {
    display: block !important;
}

.information-information #content > div > div > div:nth-child(1) {
    display: none !important;
}

body.theme-gray .thumbnail .price_actions .add_to_cart button:hover, body.theme-gray .thumbnail .price ins {
    color: white;
    background: #909090 !important;
    border-radius: 0px;
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile:hover {
    background: #909090;
    border-radius: 0px;
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list.hide_on_mobile {
    padding: 0px;
    width: 100%;
    border-radius: 0px;
}

.information-information-5005.information-information #content > div > div > div:nth-child(1) {
    display: block !important;
}