@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import './pay-delivery/pay-delivery.css';

@import '../../../templates/TemplateTypeTwo/styles/index-withoutbanner.css';

@import './header-block/nav.css';

@import './banned/banner.css';

@import '../../../modules/ButtonContainerInProduct/btn-with-border.css';

@import './products-block/product-block.css';

@import './pre-map-info/style.css';

@import '../../../components/ContactsWithMap/ContactsWithMap.css';

@import './footer/footer.css';

@import './mobile/mobile.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}