body .wrapper .latest-section h2.section-title,
body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title,
body.theme_11.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: left !important;
  color: #887568 !important;
}

.section-title span, .title {
  border-color: lightgray !important;
}

body.theme_11 .wrapper .latest-section h2.section-title {
  padding-left: 6% !important;
}