.thumbnail .price_actions {
  flex-direction: column !important;
}


.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  max-height: initial !important;
  min-height: 60px !important;
  margin: 20px 0 !important;
  overflow: hidden !important;
}

.thumbnail .caption-title {
  min-height: inherit !important;
  font-size: 20px;
}

.thumbnail .media-link,
.latest-section .product-layout .thumbnail .media {
  margin: 0 !important;
}

.product-item .thumbnail .media img {
  min-height: inherit !important;
  max-width: inherit !important;
  max-height: inherit !important;

}