@import './title.css';
@import './card.css';
/* @import './buttons/bth-whishlist.css'; */
@import './buttons/button-container.css';
@import './buttons/buttons.css';
@import './page/product-page.css';
@import './page/reviews.css';

.content-area .products .product-item,
.featured-products .product-item,
.bx_product_featured .product-item {
  max-width: 412px !important;
  max-height: 750px;
  width: 100% !important;
  margin: 0 20px 90px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products {
  justify-content: center !important;
}

.fa-stack {
  width: 20px !important;
}
.common-home .page-section > .products {
  margin-bottom: 180px;
}

.cart_product {
  width: 100% !important;
}

.product-product .product-single .buttons .btn-cart {
  border: none !important;
  background: #509479 !important;
}

.product-product .product-single .buttons .btn-cart:hover {
  border: 3px solid #3b6b58;

}

.product-product .product-single .buttons .btn-wish-list,
.product-product .product-single .buttons .btn-wish-list:hover {
  border-color: #509479 !important;
  color: #509479 !important;
  background: transparent !important;
}

.product-product .product-single .buttons .btn-wish-list:hover {
  border-width: 1px !important;
}

.product-product .product-single .buttons .quantity .btn,
.product-product .product-single .buttons .quantity .qty {
  background: transparent !important;
}

.product-product .product-single .buttons .quantity .qty {
  color: #509479;
}

.product-product .product-single .buttons .quantity .qty[value] {
  font-size: 28px;
}
