.section-title span:after,
body .section-title span:before {
  display: none;
}

.section-title span, .title {
  font-weight: 600 !important;
  font-size: 24px !important;
  line-height: 43px !important;
  text-align: left !important;
  border-bottom: 3px solid black;
  text-align: left;
  border-bottom: 5px solid linear-gradient(90.02deg, #90744C 0%, #D7BCA1 99.99%);
}

.section-title span {
  border: none !important;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

body .content-area .page-section.titles h1 {
  font-size: 46px !important;
}