.product-product .buttons .btn,
.product-product .product-single .buttons .quantity .qty,
.product-product .btn.btn-theme {
  border-radius: 10px !important;
}

.buttons .quantity,
.buttons .btn-cart {
  margin-right: 10px !important;
}

.fa-stack {
  color: orange !important;
}

.product-product .product-single .buttons .quantity .qty {
  margin: 0 3px;
}