body.theme_11.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy > a,
body.theme_11.ltr
  .wrapper
  .header
  .navigation-wrapper
  nav.navigation
  ul.nav.sf-menu
  > li[data-nav-part='home']
  > a {
    color: white !important;
}

.sf-menu a {
  color: white !important;
  font-size: 18px !important;
}
