#banner0 > div > div > div > div > div > div > div > div {
    float: left !important;
}

#banner0 > div > div > div > div > div > div > div > div > div > h3 > span {
    text-align: left !important;
    display: flex;
    font-size: 30px;
    line-height: 50px;
    text-shadow: none;
    color: #2b2b2b;
   
}

#banner0 > div > div > div > div > div > div > div > div > div > p {
    display: flex !important;
}

#banner0 > div > div > div > div > div > div > div > div {
    display: flex !important;
    justify-content: center !important;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a {
    background: transparent;
    color: black;
    border: 1px solid black !important;
    padding: 20px 80px 20px 80px;
    border-radius: 0px;
}