.navigation-wrapper {
  margin-bottom: 30px !important;
}

.sf-menu.nav>li {
  margin: 5px 16px;
}

.sf-menu.nav>li>a {
  font-size: 18px !important;
  margin: 0;
  padding: 5px 0;
}

/* reset container size for .navigation-wrapper*/

body.theme_11 .wrapper .header .navigation-wrapper>div.container {
  max-width: 1140px !important;
}

/* end reset */