.navigation-wrapper {
  margin-bottom: 30px !important;
}

.sf-menu.nav>li {
  margin: 5px 16px;
}

.sf-menu.nav>li>a {
  font-size: 18px !important;
  margin: 0 !important;
  padding: 5px 0 !important;
}

.sf-menu.nav>li>a:hover,
.sf-menu.nav>li:hover {
  background: transparent !important;
}

.sf-menu.nav>li:hover {
  border: none !important;
}

/* reset container size for .navigation-wrapper*/

body.theme_11 .wrapper .header .navigation-wrapper>div.container {
  max-width: 1140px !important;
}

/* end reset */