.map-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#home > div > div > section > div.map-flex > div > div:nth-child(1) {
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 30px;
}

#home > div > div > section > div.map-flex > div > div.adress {
    margin-bottom: 20px;
}

#home > div > div > section > div.map-flex > div > div.adress > div:nth-child(1) {
    font-weight: 900;
}

#home > div > div > section > div.map-flex > div > div.phone {
    margin-bottom: 20px;
}

#home > div > div > section > div.map-flex > div > div.phone > div:nth-child(1) {
    font-weight: 900;
}

#home > div > div > section > div.map-flex > div > div.emails > div:nth-child(1) {
    font-weight: 900;
}

#home > div > div > section > div.map-flex > div > div.phone > div:nth-child(2) {
    color: #007735;
    text-decoration: underline;
}

#home > div > div > section > div.map-flex > div > div.phone > div:nth-child(3) {
    color: #007735;
    text-decoration: underline;
}

#home > div > div > section > div.map-flex > div > div.emails > div:nth-child(2) {
    color: #007735;
    text-decoration: underline;
}