@import './price-actions.css';

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  border: none !important;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

.page-header h1 {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  padding-left: 0 !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item:nth-child(4n) {
  padding-right: 0 !important;
}

@media (max-width: 1199px) {
  body.ru.ltr .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 0 !important;
  }
}

@media (max-width: 768px) {
  body.ru.ltr .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px !important;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 30px !important;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item {
    padding: 30px !important;
  }
}