@import './caption.css';

.main-slider .caption-content {
  display: block !important;
}

@media (max-width: 991px) {
  .main-slider .caption-content img {
    display: none;
  }
}

@media (min-width: 576px) {
  .main-slider picture img {
    height: 460px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
