body .main-slider .caption-content .caption-subtitle {
  -webkit-box-shadow: none !important;
          text-shadow: none !important;
          font-size: 27px !important;
          text-transform: none !important;
          color: white !important;
}