@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600;800&display=swap');


body.ltr.ru .wrapper .latest-section h2.section-title {
    text-align: center !important;
    margin-top: 50px !important;
}

.wrapper.wrapper-closed > div.content-area > section > div > div > div > div > div.media > a {
    border-radius: 30px
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    text-align: center !important;
    font-weight: 600;
}

.wrapper.wrapper-closed > div.content-area > section > div > div > div > div > div.caption.text-center > h4 > a {
    font-weight: 400;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .caption {
    margin-top: 0px !important;
}

.thumbnail .add_to_cart .quantity, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button, .thumbnail .add_to_wishlist button {
    border-radius: 8px !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover, .thumbnail .add_to_wishlist button:hover {
    background: #E0ECFF !important;
}


.wrapper.wrapper-closed > div.content-area > section > div > h2 > span {
    font-family: 'Roboto Slab', serif;
    text-transform: lowercase;
    font-size: 30px;
}

.wrapper.wrapper-closed > div.content-area > section > div > h2 > span:first-letter {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(1) {
    text-align: center !important;
    margin-top: 50px !important; 
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) {
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: 'Roboto Slab', serif !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(1) > span:nth-child(3) {
    font-weight: 600 !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(4) > div > div > div {
    padding-top: 10px !important;
    max-width: fit-content !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(4) > div > div > div {
    align-self: center !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(4) > div > div > div:nth-child(2) {
    padding-left: 0px !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(1) > div:nth-child(4) > div > div > div:nth-child(3) {
    padding-left: 0px !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(2) > div:nth-child(2) {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    text-align: center !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(2) > div:nth-child(2) > span:nth-child(1) {
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: 'Roboto Slab', serif !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(2) > div:nth-child(5) > div {
    text-align: center !important;
    margin-top: 30px !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(2) > div:nth-child(5) > div > div > div {
    font-weight: 600 !important;
}

.wrapper.wrapper-closed > div.content-area > div.custom_section > div:nth-child(2) > div:nth-child(4) > div {
    display: flex !important;
    justify-content: center !important;
}



.content-area > div.custom_section > div> span:nth-child(3) {
    font-size: 18px;
}




@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600;800&display=swap');


.content-area > div.custom_section > div {
    text-align: center !important;
    margin-top: 50px !important;
}

.content-area > div.custom_section > div > span:nth-child(1) {
    font-size: 30px !important;
    font-family: 'Roboto Slab', serif !important;
}

.content-area > div.custom_section > div:nth-child(3) > div > div > div {
    margin-top: 10px !important;
}

.content-area > div.custom_section > div:nth-child(3) > div > div > div > div {
    max-width: fit-content !important
}

.content-area > div.custom_section > div:nth-child(3) > div > div > div > div:nth-child(3) {
    padding-left: 0px !important;
}

.content-area > div.custom_section > div:nth-child(3) > div > div > div > div {
    align-self: center !important;
}

.content-area > div.custom_section > div:nth-child(3) > div > div > div > div:nth-child(1) {
    padding-left: 20px !important;
}

.content-area > div.custom_section > div:nth-child(7) > div > div > div {
    margin-top: 30px !important;
}

.content-area > div.custom_section > div:nth-child(7) > div > div > div > div {
  font-weight: 600 !important;
}

.content-area > div.custom_section > div:nth-child(7) > div > div > img {
    height: 210px;
}