@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import '../../../templates/TemplateTypeTwo/styles/index.css';

@import '../../../components/ColorChoise/ColorChoise.css';
@import '../../../components/FormBasic/FormBasic.css';
@import '../../../components/SocialIconsTypeOne/SocialIconsTypeOne.css';
@import '../../../components/PopupWithTable/styles/popup.css';
@import '../../../components/PopupWithTable/styles/table/table.css';

@import './sf-menu/sf-menu.css';
@import './sub-categories/sub-categories.css';
@import './categories/categories.css';
@import './products-wrapper/products-wrapper.css';
@import './products-wrapper/buttons.css';
@import './section-title/section-title.css';
@import './sender-basic/sender-basic.css';
@import './soc-icons/soc-icons.css';
@import './footer/footer.css';
@import './product-page/product-page.css';
@import './cart-wrapper/cart-wrapper.css';
@import './table/table.css';

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-family: 'Source Sans Pro', sans-serif;
  /* font-weight: normal;
  font-style: normal; */
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body b, body strong,
.common-home .header-cart .cart-wrapper #cart,
body.ltr .wrapper .header .header-wrapper .header-search button {
  color: #8F8476 !important;
}

body.ru.ltr .checkout-progress-bar .step-number.active,
.checkout_form #cart_table .product-thumbnail__quantity {
  color: white !important;
}

body.sidenav-enabled .mobile_side_nav > ul a {
  text-align: left !important;
}


.navigation_black_screen {
  display: none !important;
}


body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: center !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a {
  border: none !important;
}

@media only screen and (max-width: 991px) {
  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    left: 15px !important;
    right: auto !important;
  }

  body.ltr .wrapper .header .header-wrapper .header_widgets {
    justify-content: flex-end !important;
  }

  body.sidenav-enabled .mobile_side_nav {
    width: 100% !important;
  }

  body.sidenav-enabled.ltr .flexy>.arrow {
    display: block !important;
    left: 1% !important;
  }

  body.sidenav-enabled .mobile_side_nav .flexy>.arrow i {
    font-size: 16px !important;
  }

  body.sidenav-enabled .mobile_side_nav .flexy>.arrow.clicked {
    background: #fff1ea !important;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto !important;
  }



}