@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import '../../../templates/TemplateTypeTwo/styles/index.css';

@import '../../../components/ColorChoise/ColorChoise.css';
@import '../../../components/FormBasic/FormBasic.css';
@import '../../../components/SocialIconsTypeOne/SocialIconsTypeOne.css';

@import './sf-menu/sf-menu.css';
@import './sub-categories/sub-categories.css';
@import './categories/categories.css';
@import './products-wrapper/products-wrapper.css';
@import './products-wrapper/buttons.css';
@import './section-title/section-title.css';
@import './sender-basic/sender-basic.css';
@import './soc-icons/soc-icons.css';
@import './footer/footer.css';
@import './product-page/product-page.css';
@import './cart-wrapper/cart-wrapper.css';

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body span, body b, body strong,
.common-home .header-cart .cart-wrapper #cart,
body.ltr .wrapper .header .header-wrapper .header-search button {
  color: #8F8476 !important;
}

body.ru.ltr .checkout-progress-bar .step-number.active,
.checkout_form #cart_table .product-thumbnail__quantity {
  color: white !important;
}