.main-slider .caption-content {
  text-align: left !important;
}

.main-slider .caption-subtitle {
  text-transform: none !important;
}

.caption-text .btn-theme {
  background: linear-gradient(92.24deg, #7FADF4 -1.13%, #1271FD 99.7%) !important;
  border: none;
  font-weight: 100;
  text-transform: capitalize;
}