.navigation-wrapper {
  background: transparent !important;
  border: none !important;
}

.navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy > a,
  .wrapper
  .header
  .navigation-wrapper
  nav.navigation
  ul.nav.sf-menu
  > li[data-nav-part='home']
  > a {
    border-right: none !important;
    border-left: none !important;
  }

  body .arrow {
    display: none !important;
  }

  body.ru.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul, body.ru.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul div, body.ru.ltr .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul li {
    background: white !important;
  }