@import './price-actions.css';

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  border: none !important;
  padding-top: 0 !important;
}

.product-product .content-area {
  margin-top: 50px;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

.page-header h1 {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

body .register_block .form_checkout h2 {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

body.checkout-cart .product_row {
  border: none !important;
}

body.product-product .btn.btn-theme.btn-theme-transparent:hover i {
  color: white !important;
}

body.ru.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button {
  padding: 0 !important;
}

/* .product-product .product-single .buttons .btn-cart,
.product-product .product-single .buttons .btn-compare,
.product-product .product-single .buttons .btn-wish-list,
.product-product .product-single .buttons .quantity {
  border-radius: 10px !important;
} */
body.ltr .page-section.homefeatured_category {
  margin-top: 80px;
}

body.ltr.common-home .page-section h2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body.ltr .page-section h2:not(.block-title) span {
  margin: 0 20px;
}

body.ltr section.page-section > div > h2:after,
body.ltr section.page-section > div > h2:before {
  content: '';
  height: 1px;
  width: 100px;
  background: #c4c4c4;
  margin: 7px 0 0;
}

body.ru.ltr .thumbnail .price_actions .add_to_cart .buttons_added.quantity,
.thumbnail .add_to_wishlist button,
body.ru.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button {
  border-radius: 5px !important;
}

body .thumbnail .img-fluid,
body .img-thumbnail {
  width: 100% !important;
  min-width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
}
/*
body.ru.ltr .wrapper .page-section .products.grid .product-item {
  padding-left: 0 !important;
} */

/* body.ru.ltr:not(.mobile_two_columns)
  .wrapper
  .page-section
  .products.grid
  .product-item:nth-child(4n) {
  padding-right: 0 !important;
} */

body.ru.ltr.ru.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover,
body.ru.ltr.ru.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .more_details_btn_wrapper
  > button:hover,
body.ru.ltr.ru.ltr .btn.btn-theme.btn-theme-transparent.btn-icon:hover i {
  color: white !important;
}
/*
@media (max-width: 1199px) {
  body.ru.ltr:not(.mobile_two_columns)
    .wrapper
    .page-section
    .products.grid
    .product-item:nth-child(4n) {
    padding-right: 30px;
  }

  body.ru.ltr:not(.mobile_two_columns)
    .wrapper
    .page-section
    .products.grid
    .product-item:nth-child(3n) {
    padding-left: 0 !important;
  }
} */

@media (max-width: 768px) {
  /* body.ru.ltr:not(.mobile_two_columns)
    .wrapper
    .page-section
    .products.grid
    .product-item:nth-child(4n) {
    padding-right: 30px !important;
  }

  body.ru.ltr:not(.mobile_two_columns)
    .wrapper
    .page-section
    .products.grid
    .product-item:nth-child(3n) {
    padding-left: 30px !important;
  } */

  /* body.ru.ltr .wrapper .page-section .products.grid .product-item {
    padding: 30px !important;
  } */
}

.price_actions .buttons__container {
  height: 50px !important;
}

.thumbnail .add_to_wishlist button {
  width: 60px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-product .product-single .buttons {
  width: 300px !important;
}

.mobile_two_columns .products .thumbnail .caption {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

@media (max-width: 495px) {
  body.ru.ltr.ltr .wrapper .header .header-wrapper .logo img {
    width: 80px !important;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .thumbnail .add_to_wishlist button {
    width: 72px !important;
  }

  body.ru.ltr .wrapper .header .header-wrapper .header_widgets .header_login {
    display: none !important;
  }


}


@media only screen and (max-width: 576px) {

  body.theme_11 .wrapper .content-area .page-section .products.grid {
    padding: 0 !important;
    margin: 0 !important;
  }

  body.ru.ltr .wrapper .content-area .page-section .products.grid .product-item {
    padding: 0 !important;
  }

  body.ru.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    > button
    > i {
    display: inline-block;
  }

  .thumbnail .add_to_wishlist button {
    display: block !important;
    height: 30px !important;
    width: 30px !important;
  }

  body.ru.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    > button {
    padding: 8px 5px !important;
    height: auto !important;
  }

  body.ru.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    .buttons_added.quantity
    input.quantity_field {
    height: 28px !important;
  }

  body.ltr.ru.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    > button
    span {
    font-size: 12px !important;
  }

  body.ltr.ru.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    > button {
    display: block !important;
  }

  body.ru.ltr.ltr
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    .buttons_added.quantity {
    display: none !important;
  }

  .thumbnail.no-padding.no-border {
    padding: 10px 5px !important;
  }

  .thumbnail.no-padding.no-border {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    font-size: 10px !important;
  }

  /* body > div > div.content-area > section > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  } */

  body.ltr .thumbnail .price_actions .add_to_cart {
    padding-right: 5px !important;
    margin: 0 !important;
  }

  .thumbnail.no-padding.no-border {
    padding: 10px 5px !important;
  }

  .add_to_wishlist i {
    font-size: 11px !important;
  }
  body.ltr .page-section.homefeatured_category {
    margin-top: 30px;
  }
}