.footer .footer-meta {
  padding: 15px 0 !important;
  border: none !important;
}

.footer_content_container {
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*
.footer_content_text::after {
  display: none !important;
}
/*
.footer .copyright_row {
  display: none;
} */
/*
.footer_content_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer_content_text > p {
  display: none !important;
} */

#sellavi_logo {
  width: 70px !important;
}

#home
  > div.wrapper.wrapper-closed
  > footer
  > div.footer-widgets
  > div.container
  > div
  > div:nth-child(2)
  > div
  > ul
  > li:nth-child(7) {
  display: none !important;
}

@media (max-width: 450px) {
  #sellavi_logo {
    margin: 10px auto 0 auto;
  }

  footer > div.footer-meta > div {
    padding-left: 0px;
  }
}

.footer_content_text img {
  margin: 0 5px !important;
  height: 100%;
  -o-object-fit: contain !important;
  object-fit: contain !important;
}
/*
body footer .footer-meta .footer_content_wrapper {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
} */

.footer_content_wrapper ul {
  margin: 0 !important;
  padding: 8px;
}
