@import './Burger/Burger.css';
@import './Buttons/Buttons.css';
@import './Logo/Logo.css';

.widgets_block {
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

#login, #wishlist {
  font-size: 18px !important;
  top: 30px !important;
  margin-left: 15px !important;
}