@import './Burger/Burger.css';
@import './Buttons/Buttons.css';
@import './Logo/Logo.css';

.widgets_block {
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

body.ltr .wrapper header.header .cart-wrapper {
  background-color: transparent !important;
}

.header-cart .cart-wrapper {
  height: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  transition: border .3s;
}

body.ltr .cart-wrapper {
  margin-left: 0 !important;
  margin-right: auto;
}

.common-home .header-cart .cart-wrapper #cart {
  padding-left: 5px !important;
}

.header-cart .cart-wrapper #cart {
  background: 0;
  padding: 0;
  color: #fff !important;
  position: relative;
  top: 4px !important;
}

.header-cart .cart-wrapper #cart i {
  font-size: 21px;
  line-height: 11px;
  padding: 5px 0;
  margin: 9px 0 9px 7px;
}

#login, #wishlist {
  font-size: 21px !important;
  top: 28px !important;
  margin-left: 15px !important;
}

body.ltr .wrapper header.header .header-search input {
  background-color: transparent !important;
}

#search > div.search_field > input {
  height: 40px;
  border-radius: 0 !important;
  border: 0 !important;
  color: #fff !important;
  border-bottom: 2px solid #fff !important;
}

.header .header-search button {
  position: absolute;
  left: px;
  top: 6px;
  cursor: pointer;
  background-color: hsla(0,0%,100%,0);
  border: none;
  padding: 2px 8px;
  line-height: 30px;
  font-size: 18px !important;
  color: #fff !important;
}