@import './Burger/Burger.css';
@import './Buttons/Buttons.css';
@import './Logo/Logo.css';

.widgets_block {
  display: flex !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
}

body.ltr .wrapper header.header .cart-wrapper {
  background-color: transparent !important;
}

.header-cart .cart-wrapper {
  height: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  transition: border .3s;
}

body.ltr .cart-wrapper {
  margin-left: 0 !important;
  margin-right: auto;
}

.common-home .header-cart .cart-wrapper #cart {
  padding-left: 5px !important;
}

.header-cart .cart-wrapper #cart {
  background: 0;
  padding: 0;
  color: #fff !important;
  position: relative;
  top: 2px !important;
}

#login, #wishlist {
  font-size: 18px !important;
  top: 30px !important;
  margin-left: 15px !important;
}