@import './banner-button.css';
@import './caption.css';

.main-slider .img-bg .img-fluid {
  height: 460px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
}


body.information-information-3669 .content-area .page-section.titles {
  display: none;
}

.owl-wrapper-outer {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
