.main-slider .caption-content {
  margin: 0 auto 0 0 !important;
  text-align: left !important;
}

.main-slider > .owl-carousel > div > div > div > div > div > div {
  height: 100%;
  margin-left: 5%;
}

@media (max-width: 575px) {
  .main-slider .caption-content {
    margin-top: 70px !important;
    display: block !important;
  }

  body.common-home .div-cell {
    display: block !important;
  }
}
