@import './sf-menu/sf-menu.css';
@import './icons/icons.css';
@import './header-widgets/header-widgets.css';
/* @import './catalog/catalog.css'; */

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart,
.header_widgets a {
  color: black !important;
}
.common-home .header {
  position: absolute !important;
}

body.theme_11 .wrapper .header {
  width: 100% !important;
  z-index: 1111;
  padding: 2% 0;

}

body.theme_11 .wrapper .header {
  /* position: absolute;
  width: 100%; */
  z-index: 100;
}


.wrapper .header .header-wrapper .mobile-navigation-wrapper {
  max-width: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .header-wrapper .mobile-navigation-wrapper span {
  color: black !important;
  font-size: 18px !important;
  margin-left: 20px;
}

/*
body.theme_11.common-home .wrapper .header {
  background: -o-linear-gradient(top, rgba(0,0,0,.5), transparent);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,.5)), to(transparent));
  background: linear-gradient(180deg, rgba(0,0,0,.5), transparent);
} */

.wrapper .header .header-wrapper .header_widgets {
  top: 4px !important
}

.mobile-navigation-close {
  position: absolute;
  top: 30px;
  left: 10%;
  display: none;
}

.mobile-navigation-close i {
  font-size: 23px;
}

/* body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  margin: 0 auto 0 21% !important;
} */

header > div.header-wrapper > div > nav > ul > li.flexy.has_children {
  display: none !important;
}

body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
  right: auto !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  padding-top: 100px !important;
  z-index: 100 !important;
}

body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  z-index: 1 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  z-index: 999;
}

@media (max-width: 1199px) {
  /* body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 auto 0 10% !important;
  } */

  .header-wrapper > div {
    max-width: 100% !important;
  }
}

@media (max-width: 991px) {
  .mobile-navigation-close {
    display: inline;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: auto !important;
  }
}

@media (max-width: 591px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 145px;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .logo img {
    margin-top: 5%;
  }

  .wrapper .header .header-wrapper .mobile-navigation-wrapper span {
    display: none;
  }
}

