.page-section.subcategories_top {
    display: none;
}

.product-category section.page-section.titles > div {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1608896565/white-bedroom-interior-mockup_1_vvpjzt.png);
    height: 200px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-category section.page-section.titles > div > div > h1 {
    color: white;
    font-size: 37px;
    font-weight: 600;
}


.shop-sorting.mt-3.mt-lg-0.col-md-12 {
    display: none;
}