@import './navigation-wrapper/navigation-wrapper.css';
@import './header-widgets/header-ico.css';
@import './header/header.css';
@import './header-widgets/header-widgets.css';
@import './header/logo.css';

.common-home .header {
  position: absolute !important;

}

.header {
  border: none !important;
}

.header .header-wrapper {
  background: transparent;
}