@import './navigation-wrapper/navigation-wrapper.css';
@import './header-widgets/header-cart.css';
@import './navigation-wrapper/navigation-wrapper.css';

.header {
  position: absolute !important;
  border: none !important;
}

.header .header-wrapper {
  background: transparent;
}