.header_wishlist {
    display: none !important;
}

#home > div.wrapper.wrapper-closed > header > div.header-wrapper > div.container {
    max-width: 100% !important;
}

div#search {
    width: 28% !important;
    max-width: 100% !important;
}

.logo {
    width: 100%;
    left: 0px;
}

.logo img {
    width: 150px;
}

.header .header-search {
    max-width: 30% !important;
}

.d-lg-inline-block {
    display: none !important;
}

.dropdown.cart_drop_down {
    margin-left: 10px ;
}

#cart > span.cart-qty-circle.desktop.d-none.d-lg-block {
    display: block !important;
}