.header-wrapper > .container {
    max-width: 1400px !important; 
}

.sf-menu li:hover>a {
    color: black !important;
}

header > div.header-wrapper > div.container > ul > li:nth-child(1) {
    display: none;
}

.sf-menu>li>ul {
    width: inherit !important;
    z-index: 999 !important;
}

header > div.header-wrapper > div.container > ul > a {
    font-size: 18px !important;
    display: flex;
    align-items: center;
}