.header .header-search {
    max-width: inherit !important;
}

.wrapper .header .header-wrapper .header-search input {
    border-bottom: 1px solid black !important;
}

.header_login {
    display: none !important;
}