@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.thumbnail-banner .media-link .img-bg {
    height: 589px !important;
}

section.page-section.homefeatured_category > div > div > div > div > div > a > div {
    display: none;
}

section.page-section.homefeatured_category > div > div > div > div > div {
    width: 375px !important;
}


#home > div > div.content-area > section.page-section.homefeatured_category > div > div.container {
    text-align: center;
    margin-bottom: 20px
}

#home > div > div.content-area > section.page-section.homefeatured_category > div > div.container > span {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 {
    text-align: center !important;
    margin-top: 90px !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 {
    text-align: center !important;
    margin-top: 90px !important;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 40px;
    font-family: 'Lobster', cursive;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
    border-radius: 6px !important;
}

.thumbnail .add_to_wishlist button {
    border-radius: 6px !important;
}

body.theme-gray.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button:hover {
    background: #cacaca6e !important;
}