.common-home header {
    position: absolute;
}

body.theme_7.common-home header.header .header-wrapper {
    background-color: #ff000000 !important;
}

.common-home .header {
    border: none !important;
}

.common-home .header .navigation-wrapper {
    border-top: none !important;
}

.common-home .wrapper header.header .logo {
    margin: 0 auto !important;
}

.common-home header.header .header-search {
    width: 200px !important;
}

.common-home .wrapper header.header .header-search input {
    background: #ff000000 !important;
}

.common-home header.header .form-control {
    border: 0px !important;
}

.common-home .cart-norm-qty.d-none.d-lg-inline-block {
    display: none !important;
}

.common-home .wrapper header.header .cart-wrapper {
    border: none !important;
    background: transparent !important;
}

.common-home .header-wrapper .fas.fa-bars {
    color: #fff;
}

.common-home .header-wrapper.container > div.container-fluid > div.logo {
    margin-top: 20px !important;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky {
    display: flex;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist {
    display: flex;
    align-items: center;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    color: #fff;
    font-size: 16px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper {
    margin-left: 5px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper > div.dropdown.cart_drop_down > a > i {
    color: #fff;
}

.common-home .header .header-search button i {
    color: #fff;
}

.common-home .wrapper .header .header-wrapper .mobile-navigation-wrapper {
    top: 50px;
}



.common-home .header-cart .cart-wrapper #cart i {
    font-size: 25px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    font-size: 25px;
}

.common-home .header .header-search button i {
    font-size: 25px;
}










body.theme_7.common-home header.header .header-wrapper {
    background-color: #ff000000 !important;
}

.header {
    border: none !important;
}

.header .navigation-wrapper {
    border-top: none !important;
}

.wrapper header.header .logo {
    margin: 0 auto !important;
}

.header-search {
    width: 200px !important;
}

.wrapper header.header .header-search input {
    background: #ff000000 !important;
}

header.header .form-control {
    border: 0px !important;
}

.cart-norm-qty.d-none.d-lg-inline-block {
    display: none !important;
}

.wrapper header.header .cart-wrapper {
    border: none !important;
    background: transparent !important;
}

.header-wrapper .fas.fa-bars {
    color: #fff;
}

.header-wrapper.container > div.container-fluid > div.logo {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky {
    display: flex;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist {
    display: flex;
    align-items: center;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    color: #fff;
    font-size: 16px;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper {
    margin-left: 5px;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper > div.dropdown.cart_drop_down > a > i {
    color: #fff;
}

.header .header-search button i {
    color: #fff;
}

.wrapper .header .header-wrapper .mobile-navigation-wrapper {
    top: 50px;
}



.header-cart .cart-wrapper #cart i {
    font-size: 25px;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    font-size: 25px;
}

.header .header-search button i {
    font-size: 25px;
}








body.theme_7 .wrapper header.header {
    background: black;
}

body.theme_7 .wrapper header.header .header-wrapper {
    background: black;
}

.common-home .wrapper header.header {
    background: transparent !important;
}

.common-home .wrapper header.header .header-wrapper {
    background: transparent !important;
}


.common-home .wrapper.wrapper-closed > div > div.custom_section > div > div.container {
    display: flex;
    justify-content: center;
}

.common-home .wrapper.wrapper-closed > div > div.custom_section > div > div.container > span {
    font-size: 30px;
    font-weight: 600;
}

.common-home .wrapper.wrapper-closed > div > div.custom_section > div > div.container {
    margin-top: 20px;
    margin-bottom: 15px
}

.common-home .wrapper.wrapper-closed > div > section > div:nth-child(2) > h2 > span {
    font-size: 30px;
    text-transform: none;
    font-weight: 600;
}


/* .common-home header {
    position: absolute;
}

body.theme_7.common-home header.header .header-wrapper {
    background-color: #ff000000 !important;
}

.common-home body.theme-gray .header {
    border: none;
}

.common-home .header .navigation-wrapper {
    border-top: none !important;
}

.common-home body.ltr.theme_7 .wrapper header.header .logo {
    margin: 0 auto;
}

.common-home header.header .header-search {
    width: 200px;
}

.common-home body.theme_7 .wrapper header.header .header-search input {
    background: #ff000000;
}

.common-home header.header .form-control {
    border: 0px;
}

.common-home .cart-norm-qty.d-none.d-lg-inline-block {
    display: none !important;
}

.common-home body.theme_7 .wrapper header.header .cart-wrapper {
    border: none;
    background: transparent;
}

.common-home .header-wrapper .fas.fa-bars {
    color: #fff;
}

.common-home .header-wrapper.container > div.container-fluid > div.logo {
    margin-top: 20px !important;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky {
    display: flex;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist {
    display: flex;
    align-items: center;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    color: #fff;
    font-size: 16px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper {
    margin-left: 5px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper > div.dropdown.cart_drop_down > a > i {
    color: #fff;
}

.common-home .header .header-search button i {
    color: #fff;
}

.common-home .wrapper .header .header-wrapper .mobile-navigation-wrapper {
    top: 50px;
}



.common-home .header-cart .cart-wrapper #cart i {
    font-size: 25px;
}

.common-home .header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    font-size: 25px;
}

.common-home .header .header-search button i {
    font-size: 25px;
} */