.common-home header {
    position: absolute;
}

body.theme_7.common-home header.header .header-wrapper {
    background-color: #ff000000 !important;
}

body.theme-gray .header {
    border: none;
}

.header .navigation-wrapper {
    border-top: none !important;
}

body.ltr.theme_7 .wrapper header.header .logo {
    margin: 0 auto;
}

header.header .header-search {
    width: 200px;
}

body.theme_7 .wrapper header.header .header-search input {
    background: #ff000000;
}

header.header .form-control {
    border: 0px;
}

.cart-norm-qty.d-none.d-lg-inline-block {
    display: none !important;
}

body.theme_7 .wrapper header.header .cart-wrapper {
    border: none;
    background: transparent;
}

.header-wrapper .fas.fa-bars {
    color: #fff;
}

.header-wrapper.container > div.container-fluid > div.logo {
    margin-top: 20px !important;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky {
    display: flex;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist {
    display: flex;
    align-items: center;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.header_wishlist > a > i {
    color: #fff;
    font-size: 16px;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper {
    margin-left: 5px;
}

.header-wrapper.container > div.container-fluid > div.header-cart.sticky > div.cart-wrapper > div.dropdown.cart_drop_down > a > i {
    color: #fff;
}

.header .header-search button i {
    color: #fff;
}

.wrapper .header .header-wrapper .mobile-navigation-wrapper {
    top: 50px;
}