/* .homefeatured_category > div > div > div > .thumbnail {
  border: none !important;
} */

.wrapper .homefeatured_category>div>div>div .thumbnail {
  padding: 0 !important;
  max-width: 340px !important;
  border: none !important;
}

/* Hide btn in category */

.thumbnail .caption .btn {
  display: none !important;
}

/* END Hide btn in category */