div#search {
    margin: 0px !important;
}

.logo {
    margin: 0px !important
}

.header-wrapper .container-fluid {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-wrapper .container-fluid img {
    height: 50px
}

.main-slider.content_center {
    margin-top: 0px; 
}