.page-section .quote {
  background: transparent !important;
  margin: auto;
  max-width: 635px !important;
}

.page-section .quote p,
.page-section .quote cite {
  color: black !important;
}

.page-section .quote p {
  font-size: 18px !important;
}