@import './caption/caption.css';

body.ru.ltr .wrapper .homefeatured_category {
  margin: 90px 0;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .img-bg
  img {
  padding: 0 !important;
}

body.ru.ltr .wrapper .homefeatured_category > div > div > div {
  max-width: 560px !important;
  width: 100% !important;
}

body.ltr .wrapper .homefeatured_category > div > div > div > .thumbnail,
body.ltr .wrapper .homefeatured_category>div>div>div {
  border: none !important;
}

@media only screen and (max-width: 992px) {
  body.theme_11 .wrapper .homefeatured_category > div > div > div {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            margin-bottom: 35px !important;
  }

  
}



#home > div > div.content-area > section > div > h2 {
  margin-top: 60px !important;
}

.common-home > div > div.content-area > section.page-section.latest-section > div > h2 > span:before {
  content: " ";
  height: 50px;
  width: 111px;
  background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1614932652/Group_7423575_iltp5v.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: -7px 40px;
}

.common-home > div > div.content-area > section.page-section.latest-section > div > h2 > span:after {
  content: " ";
  height: 50px;
  width: 100px;
  background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1614932652/Group_7423575_iltp5v.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: -7px 40px;
}

#home > div > div.content-area > section > div > h2 {
  height: 50px;
}