.page-section__content {
  margin-bottom: 60px;
}

.page-section__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 20px;
}

.page-section__content_ph {
  font-size: 18px;
  margin-bottom: 50px;
}

.page-section__content_ph_b {
  font-weight: bold;
  font-size: 22px;
}
