.page-section__content {
  margin-bottom: 60px;
}

.page-section__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 20px;
}

.page-section__content_ph {
  margin-bottom: 50px;
}

.page-section__content_ph_b {
  font-weight: bold;
  font-size: 22px;
}

.page-section__ul li:before {
  color: #DA423E;
  content: "•";
}

.page-section__ul {
  padding-left: 20px;
}

.page-section__ul li {
  font-size: 16px;
  margin-bottom: 15px;
}
