@import './Menu/Menu.css';

body {
  background: url(https://res.cloudinary.com/sellavi-estarodubov/image/upload/v1612867804/sellavi/103506/Component_1_4_fcybcq.jpg) no-repeat center/cover;
}

.wrapper header.header {
  z-index: 999;
  width: 100%;
  position: absolute !important;
}

.header {
  border-bottom: 0 !important;
}

.header .navigation-wrapper {
  background-color: #f5f6f7;
  border-top: 0 !important;
}

.common-home header.header .header-wrapper {
  background-color: transparent !important;
  transition: background-color .5s ease-in-out;
  z-index: 999;
}