@import './Menu/Menu.css';

.header {
  border: none !important;
}

body .wrapper header.header .header-wrapper {
  background-color: transparent !important;
}

/* Header color  on !home pages */
body .wrapper header.header .header-wrapper.colored {
  background-color: #d9c5a4 !important;
}

.wrapper header.header {
  z-index: 999;
  width: 100%;
  position: absolute !important;
}

.header {
  border-bottom: 0 !important;
}

.header .navigation-wrapper {
  background-color: #f5f6f7;
  border-top: 0 !important;
}

body.common-home.ltr header.header .header-wrapper {
  background-color: transparent !important;
  transition: background-color .5s ease-in-out;
  z-index: 999;
}

#search > div.search_field > input::placeholder {
  color: white !important;
}
