.price_actions.d-flex.justify-content-between {
    flex-direction: column;
}

.buttons__container {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between
}

.add_to_cart {
    border: 1px solid black;
    width: 80%;
    height: 40px;
    text-align: center !important;
    padding-top: 10px
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
    width: 40px;
    height: 40px;
}

.caption-title > a {
    font-size: 15px;
}

.thumbnail .price {
    font-size: 15px !important;
    margin-bottom: 20px !important;
    margin-top: 18px !important;
}