.price_actions.d-flex.justify-content-between {
    flex-direction: column;
}

.buttons__container {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between
}

.add_to_cart {

    width: 80%;
    height: 40px;
    text-align: center !important;
    
}

button.btn.btn-theme.btn-theme-transparent.btn-wish-list {
    width: 47px;
    height: 47px;
}

.caption-title > a {
    font-size: 15px;
}

.thumbnail .price {
    font-size: 15px !important;
    margin-bottom: 20px !important;
    margin-top: 18px !important;
}

#home > div > div > section > div:nth-child(1) > h2 > span {
    border-bottom: 0px;
}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 65%;
        max-width: 33%;
    }
}

@media (min-width: 991px) {
    .product-item .thumbnail .media img {
        min-height: 300px !important;
        max-width: 400px !important;
        max-height: 400px !important;
    }
}

.row.products.grid {
    justify-content: center;
}