/* карта сайта */

.information-sitemap #content ul {
  list-style: none;
}

/*  */
.shop-sorting {
  margin-top: 20px !important;
}


/* */
.widget-title {
  line-height: 1.2;
}

.sf-menu ul {
  min-width: 0;
}

.nav {
  display: flex;
  flex-wrap: nowrap !important;
  width: 100%;
}
