.navigation .nav.sf-menu {
  justify-content: flex-start !important;
}

.sf-menu.nav>li>a {
  border-color: #E1B97B !important;
}

header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover > ul {
  border-top: 2px solid #E1B97B;
}