header > div.header-wrapper > div.container > ul > li:nth-child(1) > a {
    display: none;
}

#search > div.search_field > input {
    border-bottom: 0px !important;
}

.header_login {
    display: none !important;
}

body.ltr .wrapper .header .header-wrapper .logo {
    z-index: 1 !important;
}

.sf-menu .flexy.has_children ul {
    margin: 0px !important;
}

.sf-menu li:hover>a {
    color: black !important;
}

.sf-menu .flexy.has_children ul li > a {
    padding: 10px;
}

.sf-menu .flexy.has_children > ul {
    left: 0%;
}

body.ltr.ru .wrapper .latest-section h2.section-title {
    text-align: center !important;
}

#content > div > div > div.col-12.col-lg-8 > div > div {
    border: 0px
}

@media (max-device-width: 480px) {
    .main-slider .caption-content {
        display: block !important;
        height: 100% !important;
        margin-top: 40px !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > h3 > span {
        font-size: 15px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        line-height: 22px !important;
        text-align: center !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > p {
        display: flex !important;
        justify-content: center !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > p > a {
        font-size: 10px !important;
        padding: 10px 20px 10px 20px !important; 
    }
}