

#search > div.search_field > input {
    border-bottom: 0px !important;
}

.header_login {
    display: none !important;
}

body.ltr .wrapper .header .header-wrapper .logo {
    z-index: 1 !important;
}

.sf-menu .flexy.has_children ul {
    margin: 0px !important;
}

.sf-menu li:hover>a {
    color: black !important;
}

.sf-menu .flexy.has_children ul li > a {
    padding: 10px;
}

.sf-menu .flexy.has_children > ul {
    left: 0%;
}

body.ltr.ru .wrapper .latest-section h2.section-title {
    text-align: center !important;
}

#content > div > div > div.col-12.col-lg-8 > div > div {
    border: 0px
}

@media (max-device-width: 480px) {
    .main-slider .caption-content {
        display: block !important;
        height: 100% !important;
        margin-top: 40px !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > h3 > span {
        font-size: 19px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        line-height: 22px !important;
        text-align: center !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > p {
        display: flex !important;
        justify-content: center !important;
    }
    
    #banner0 > div > div > div > div > div > div > div > div > div > p > a {
        font-size: 10px !important;
        padding: 10px 20px 10px 20px !important; 
    }
}

#home > div > div > section > div > div > div.col-lg-6.register_wrapper > form > div > div.col-md-6.button_holder > a {
    border: 2px solid black !important;
}

body.theme-gray.theme_11.product-product .product-single.product-item .buttons .btn-wish-list:hover i {
    color: white !important;
}

.sf-menu.nav>li>a {
    font-size: 15px !important;
}

body.theme_11 .wrapper .header .header-wrapper .header-search button {
    max-width: 26px !important;
}

.header-cart.sticky .fa-shopping-cart.far{
    color: black !important;
}

body.sidenav-enabled .prevent_touch_banner, .mobile_side_nav > .mobile_side_nav_menu {
    height: 100% !important;
}

.sf-menu ul li {
    background: #fff;
    width: 200px;
}


@media (max-device-width: 480px) {
    .mobile_two_columns .products .thumbnail .caption {
        max-height: 54px;
        min-height: 45px;
    }

    .wrapper .page-section .products.grid .product-item .thumbnail .caption {
        display: flex !important;
        align-items: flex-start !important;
    }

    footer > div.footer-widgets > div.container > hr {
        display: none !important;
    }

    
}

header > div.header-wrapper > div.container {
    max-width: 1160px !important
}