.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-gap: 20px;
  margin-top: 3%;
  justify-content: center;
}

.thumbnail .caption-title {
  text-align: center !important;
  text-transform: uppercase;
  font-size: 14px;
}

.add_to_cart button span {
  display: none !important;
}

.buttons__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.buttons__container .add_to_wishlist, .buttons__container .remove_from_wishlist {
  position: relative !important;
  bottom: auto !important;
  right: auto !important;
  left: auto !important;
}

.buttons__container .add_to_wishlist {
  text-align: initial !important;
}

.thumbnail .price {
  margin: 0 !important;
}


@media (max-width: 768px) {
  .products {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 284px) !important;
    padding-top: 5%;
  }
}
