
body .content-delivery {
  margin-bottom: 80px;
}

body .content-delivery:last-child(3) {
  flex-direction: column !important;
}

@media(max-width: 768px) {
 body .content-delivery {
    flex-flow: column;
 }
}

body .delivery__right {
 max-width: 451px;
 width: 100%;
 padding-right: 20px;
}

body .delivery__content {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 width: 100%;
}

body .delivery__right-title {
 font-size: 60px;
 line-height: 60px;
}

@media(max-width: 375px) {
body .delivery__right-title {
 font-size: 48px;
 line-height: 48px;
}
}

delivery__right-small {
 color: rgb(112, 112, 112);
 font-size: 18px;
 line-height: 26px;
}

body .delivery__right-subtitle {
 color: rgb(17, 17, 17);
}

body .delivery__content-title {
 font-size: 18px;
 line-height: 26px;
}

body .delivery__content-label {
 margin: 0;
 font-size: 18px;
 line-height: 26px;
 color: rgb(130, 130, 130);
}
.pay__title {
 margin-bottom: 30px;
 font-size: 60px;
}


.faq__content--images {
  align-items: baseline;
  display: flex;
 margin: 32px auto;
 overflow: auto;
}

@media (max-width: 768px) {
 .faq__content--images {
      flex-wrap: wrap;
 }
}

.faq__content--images figure {
 margin-right: 50px;
 text-align: center;
}