body.theme_11 .wrapper .homefeatured_category>div>div>div {
  max-width: 380px !important;
  margin: 0 !important;
}

.thumbnail-banner .media-link .img-bg {
  height: 450px !important;
}

body#home .homefeatured_category .row {
  justify-content: space-between !important;
}

body .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
  height: inherit !important;
  width: inherit !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail {
  border: none !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
  padding: 0 !important;
  object-fit: cover !important;
}

.thumbnail.thumbnail-banner .media-link {
  display: flex;
  flex-direction: column-reverse;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title {
  text-align: left;
  height: 50px !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  font-size: 22px !important;
  padding: 0;
  font-weight: bold;
}

body .content-area .page-section {
  margin: 72px 0 0 0;
}