.main-slider ~ .page-section {
  margin-bottom: 35px;
}

body.ru.ltr .wrapper .homefeatured_category>div.container {
  max-width: 1140px !important;
}


body.theme_11 .wrapper .homefeatured_category>div>div>div {
  width: 360px !important;
  max-width: 100%;
  margin: 0 !important;
}

.thumbnail-banner .media-link .img-bg {
  height: 430px !important;
}

body#home .homefeatured_category .row {
  justify-content: space-between !important;
}

body .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
  height: inherit !important;
  width: inherit !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail {
  border: none !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
  padding: 0 !important;
  object-fit: cover !important;
}

.thumbnail.thumbnail-banner .media-link {
  display: flex;
  flex-direction: column-reverse;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title {
  text-align: left;
  height: 50px !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  font-size: 22px !important;
  padding: 0;
  font-weight: bold;
  min-height: auto !important;
  line-height: 1.2 !important;
}

body#home .homefeatured_category .row  {
  flex-wrap: nowrap !important;
}
/* body .content-area .page-section {
  margin: 72px 0 0 0;
} */


@media only screen and (max-width: 1373px) {
  body#home .homefeatured_category .row {
    justify-content: center !important;

  }

  body.theme_11 .wrapper .homefeatured_category>div>div>div {
    margin: 0 2% 60px !important;
  }
}


@media only screen and (max-width: 992px) {
  body.theme_11 .wrapper .homefeatured_category>div>div>div {
    flex: 0 0 auto;
    border: none !important;
  }

  body#home .homefeatured_category .row  {
    flex-wrap: wrap !important;
  }
}