@import '../../../fixes/js/FooterCopy/FooterCopy.css';
@import './pay-delivery/pay-delivery.css';
/* @import '../../../templates/TemplateTypeTwo/styles/index.css'; */
@import '../../../modules/ButtonContainerInProduct/btn-with-border.css';
@import './header/header.css';
@import './banners/main-banner.css';
@import './banners/others-banner.css';
@import './products/products.css';
@import './description/description.css';
@import './footer/footer.css';


@import '../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
/* @import '../../../components/HeaderTypeTwo/HeaderTypeTwo.css'; */
@import '../../../components/PictureCategories/PictureCategories.css';
@import '../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
/* @import '../../../templates/TemplateTypeTwo/styles/navigation/navigation.css'; */
@import '../../../templates/TemplateTypeTwo/styles/banner/banner.css';
@import '../../../templates/TemplateTypeTwo/styles/products/products.css';
@import '../../../templates/TemplateTypeTwo/styles/section-title/section-title.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../templates/TemplateTypeTwo/styles/logo/logo.css';
@import '../../../templates/TemplateTypeTwo/styles/cart-wrapper/cart-wrapper.css';
 
@import '../../../components/HeaderTypeTwo/styles/logo/logo.css';
@import '../../../components/HeaderTypeTwo/styles/search/search.css';
@import '../../../components/HeaderTypeTwo/styles/header-wishlist/header-wishlist.css';
@import '../../../components/HeaderTypeTwo/styles/header-login/header-login.css';
@import '../../../components/HeaderTypeTwo/styles/burger/burger.css';
@import '../../../components/HeaderTypeTwo/styles/sf-menu/sf-menu.css';


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;600;800&display=swap');