@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

.banner__caption {
  height: 100% !important;
  bottom: 0 !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px !important;
}

.banner__caption h1,
.banner__caption a {
  color: #fff;
  font-size: 62px;
  font-family: 'Playfair Display', serif;
}

.banner__caption a {
  font-size: 37px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .banner__image {
    background-position-x: center !important;
  }
}

@media (max-width: 495px) {
  .banner__image {
    background: url(https://res.cloudinary.com/depgheppz/image/upload/v1612246715/Group_7423501_1_f0kerf.png)
      no-repeat !important;
    background-size: cover !important;
  }
  .banner__caption {
    height: 200px !important;
    top: 70px !important;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 20px;
  }
  .banner__caption h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .banner__caption a {
    font-size: 25px;
  }
}
