@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.banner__caption {
  height: 100% !important;
  bottom: 0 !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 70px !important;
}

.banner__caption h1 {
  color: #000;
  font-size: 62px;
  font-family: Pacifico;
}

.banner__caption a {
  font-size: 37px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .banner__image {
    background-position-x: 86% !important;
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
  }
}
