.button__list {
  display: flex;
  align-items: center;
  margin: 0 !important;
}

.button__list_elem {
  padding: 8px;
}

.button__list .header-cart {
  display: block;
}

.cart-wrapper {
  margin: 0 !important;
  height: auto;
  border: none;
}