@import './caption-button.css';

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption {
  position: absolute !important;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner {
  width: 47%;
  border: none !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title
  span {
  background: transparent !important;
  color: black !important;
}

body.theme_11.common-home
  .wrapper
  .homefeatured_category
  > div
  > div
  > div:nth-child(1)
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title
  span,
body.theme_11.common-home
  .wrapper
  .homefeatured_category
  > div
  > div
  > div:nth-child(1)
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  .btn {
  color: white !important;
  border-color: white !important;
}

/*
body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div:nth-of-type(2)
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner {
  -webkit-filter: invert(1);
  filter: invert(1);
} */

@media only screen and (max-width: 992px) {
  body.ltr.common-home
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption {
    position: relative !important;
  }

  body.ru.ltr
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner {
    width: 100%;
  }

  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title,
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span {
    min-height: auto;
  }

  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title,
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span {
    width: 100% !important;
    text-align: left !important;
  }

  body.theme_11.common-home
    .wrapper
    .homefeatured_category
    > div
    > div
    > div:nth-child(1)
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span,
  body.theme_11.common-home
    .wrapper
    .homefeatured_category
    > div
    > div
    > div:nth-child(1)
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    .btn,
  body.common-home
    .wrapper
    .homefeatured_category
    > div
    > div
    > div:nth-child(1)
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    span.btn {
    color: black !important;
    border-color: black !important;
  }

  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span {
    margin: 16px 0 !important;
  }

  body.ru.ltr
    .wrapper
    .homefeatured_category
    > div
    > div
    > div:nth-of-type(2)
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner {
    -webkit-filter: none !important;
    filter: none !important;
  }
}
