.footer {
  border: none !important;
}

body .footer .footer-widgets {
  background: #a4dec780 !important;
}

#sellavi_logo {
  height: 25px !important;
  width: auto !important;
}

.footer_content_text {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

.widget-categories ul li a:before,
.footer-widgets .widget-title:before {
  display: none !important;
}

.footer-widgets .widget-title {
  padding: 0 !important;
  margin: 0 0 .5em 0 !important;

}

.footer-widgets div .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-categories>ul>li>a {
  padding: 0 !important;
}

.footer_content_wrapper {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.footer_content_wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* padding: 5%; */
}

.footer_content_wrapper ul li {
  font-size: 11px;
  margin-right: 10px;
}

.widget-categories ul li+li {
  border: none !important;
}

#home > div > footer > div.footer-widgets > div.container > .row > div:nth-child(1) {
  display: none !important;
}

.footer-widgets > div > div > .col-md-3 {
  margin: 0 0 30px;
}


@media (max-width: 768px) {
  .footer-widgets div .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer_content_wrapper ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }


  #home > div > div > footer > div.footer-meta > div {
    padding-left: 15px !important;
  }

  .footer_content_wrapper ul li {
    margin-right: 2em;
    margin-bottom: 1em;
  }

  .footer_content_text {
    margin-top: 20px;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

#home > div > div > section > div > div > div.col-lg-6.register_wrapper > form > div > div.col-md-12 {
  display: none;
}

@media (max-device-width: 480px) {
  #home > div > footer > div.footer-widgets > div.container > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }

  #home > div > footer > div.footer-meta {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      -ms-flex-item-align: center;
          align-self: center;
  }

  #home > div > footer > div.footer-meta > div {
      padding-left: 15px;
  }

  #home > div > footer > div.footer-meta > div > div.row.footer_content_wrapper > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
}

#home > div > footer > div.footer-meta > div {
  padding-top: 20px;
}

.content-area {
  padding-bottom: 0px !important;

}

#home > div > div > footer > div.footer-meta > div > div.row.footer_content_wrapper > ul {
  padding-top: 25px !important;

}

#home > div.wrapper.wrapper-closed > footer > div.footer-widgets > div.container-fluid > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
