.footer {
  border: none !important;
}

#sellavi_logo {
  height: 25px !important;
  width: auto !important;
}

.footer_content_text {
  justify-content: flex-start !important;
}

.widget-categories ul li a:before,
.footer-widgets .widget-title:before {
  display: none;
}



.widget-categories>ul>li>a {
  padding: 0 !important;
}

.footer_content_wrapper {
  justify-content: space-between !important;
}

.footer_content_wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.footer_content_wrapper ul li {
  font-size: 11px;
  margin-right: 10px;
}

.widget-categories ul li+li {
  border: none !important;
}