span.arrow {
    padding-left: 10px;
}

#home > div > div > div.custom_section {
    overflow: hidden;
}

#home > div > header > div.navigation-wrapper > div > nav > ul > li:nth-child(1) > i {
    display: none;
}

.sf-menu>.flexy.has_children {
    padding-left: 0px;
}

.widget.shop-categories ul .arrow, .widget.side-categories ul .arrow {
    margin-right: 10px;
}

.widget.shop-categories ul ul.children a, .widget.side-categories ul ul.children a {
    margin-left: 30px;
    font-weight: 500;
}