/*
body.theme_11 .wrapper .homefeatured_category>div>div>div {
  max-width: 450px !important;
}

.categories-title {
  margin-top: 25px;
  color: #113C59;
  padding: 1%;
}

#home > div > div.content-area > section.page-section.subcategories_top > div > img {
  margin-bottom: 25px;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  body.theme_11 .subcategories_top {
    display: flex !important;
    width: auto !important;
  }
}


@media (min-width: 320px) and (max-width: 978px) {
  #home > div > div.content-area > section > div > div > div:nth-child(1),
  #home > div > div.content-area > section > div > div > div:nth-child(2) {
    padding: 5% !important;
  }

  #home > div > div.content-area > section > div > div > div:nth-child(2) {
    margin-top: 15px !important;
  }

}*/

.wrapper .homefeatured_category > div > div > div > .thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title {
  text-align: left !important;
  padding: 5% !important;
  margin-top: 300px !important;
}