@media screen and (min-width: 775px) {
  .alert {
    padding: 45px 20px 12px 35px !important;
  }

  body.ltr .alert button.close {
    right: 15px !important;
    top: -5px !important;
  }
}

@media screen and (max-width: 414px) {
  .alert {
    border-radius: 0;
    padding: 30px 20px 12px 35px !important;
  }

  body.ltr .alert button.close {
    right: 15px !important;
    top: -5px !important;
  }
}



.alert-success {
  color: #666;
  background-color: #f3ffef;
  border-color: #e9e9e9;
  text-align: right;
  z-index: 999 !important;
  height: 120px !important;
}

body.ltr .alert button.close {
  position: absolute;
  right: 20px;
  left: auto;
  display: flex;
  align-items: center;
  height: 100%;
  top: -5px !important;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 0 !important;
  border: 1px solid transparent;
  border-radius: .25rem;
  z-index: 999 !important;
}

body .content-area .page-section.error-page h3 {
  margin: 15% 0 0 0 !important;
  color: #ea0000;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

@media screen and (min-width: 320px) {
  body.ltr .alert button.close {
    top: -50px !important;
  }
}

@media screen and (min-width: 375px) {
  body.ltr .alert button.close {
    top: -40px !important;
  }
}

@media screen and (min-width: 411px) {
  body.ltr .alert button.close {
    right: 15px !important;
    top: -40px !important;
  }
}

@media screen and (min-width: 414px) {
  body.ltr .alert button.close {
    right: 15px !important;
  }
}


@media screen and (max-width: 480px) {
  .alert-success {
    color: #666;
    background-color: #f3ffef;
    border-color: #e9e9e9;
    text-align: right;
    z-index: 999 !important;
    height: 150px !important;
  }

  body .content-area .page-section.error-page h3 {
    margin: 45px 0 0 15px !important;
    color: #ea0000;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }

}