@import '../../../fixes/js/FooterCopy/FooterCopy.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import './header/header.css';
@import './pay-delivery/pay-delivery.css';

/*@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');*/
@import url("https://use.typekit.net/szf7wnq.css");

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong,
.price,
.product-price,
.product-availability,
.product-product .product-single table .title,
.text-right,
.input-payment-firstname,
.input-payment-lastname,
.input-payment-email,
.input-payment-telephone,
.input-payment-address-1,
.input-payment-postcode,
label,
.input-payment-firstname,
.button,
.btn,
label,
label.placeholder,
.placeholder{
  font-family: myriad-pro, sans-serif !important;
  font-weight: 700;
}

body label.placeholder {
  font-weight: 700 !important;
}

.panel-options .panel-title .collapsed {
  font-weight: 700 !important;
}

body.checkout-checkout .radio.customized input[type=radio]:checked~label {
  font-weight: 700;
  color: #000 !important;
}

body.checkout-checkout label:not(.placeholder) {
  font-size: 14px;
  margin: 0;
  font-weight: 700 !important;
}

#home > div.content-area > section > div.flexwrap.checkout_form > div.register_block > div.form_checkout > div.checkbox.customized.clearfix > label > a {
  text-decoration: underline !important;
}

.contact-info .media-body {
  line-height: 22px;
  font-weight: 700;
}


/* Header */
.header_widgets {
  z-index: 9999 !important;
  position: relative !important;
}

body.theme-gray.theme_11 .btn.btn-theme:not(.btn-wish-list) {
  background: #c3c3c3 !important;
  border-color: #3c3c3c;
}

body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .item_data .name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
  color: #333 !important;
}

body.theme-gray.theme_11 .header-cart .cart_drop_down.dropdown .dropdown-menu .cart-items .cart-items-inner .cart-content .vouchers .media.buttons .media-body .media-links .button-wrapper.cart-button a:hover {
  background-color: #cfcfcf;
  color: #fff;
}


@media screen and (max-width: 480px) {
  .page-header h1 {
    font-size: 21px !important;
    font-weight: 900;
  }

  #content>div:nth-child(1) {
    padding: 25px;
  }

  .common-home .header {
    position: absolute;
  }


}

/* end */

/* Footer */

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: #000;
}

.widget-title {
  text-transform: capitalize !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a {
  font-weight: 700 !important;
}

/* End */

/* First element in menu */
#home > div > header > div.header-wrapper > div > nav > ul > li.flexy.no_children > a {
  display: none;
}
/* End */

/* Second Banner */
.second_banner {
  display: flex;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}
/* end */

/* Box Shadow */

.owl-wrapper-outer {
  border: 4px solid #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  /* -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); */
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}

/* end */

/* Categories block */
.categories_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  flex-wrap: wrap;
}



.cat_item {
  display: flex;
  width: 33.3%;
  padding: 15px;
}

.cat_item img {
  width: 300px;
}

@media screen and (min-width: 768px) {

  .cat_item {
    display: flex;
    width: auto !important;
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .categories_block {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .cat_item {
    display: flex;
    width: 100%;
    margin-top: 2%;
  }

  .cat_item img {
    width: 100%;
  }

  #home > div > header > div.header-wrapper > div > nav > ul > li:nth-child(2) > a {
    display: none;
  }
}

/* Contacts */
.contacts-title>span {
  font-size: 18px;
  font-weight: bold;
}

.contacts-title {
  margin-top: 10%;
}

.otherInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.number,
.email,
.address {
  display: flex;
  flex-direction: row;
}

.title-and-number,
.title-and-email,
.title-and-address {
  margin-left: 15px;
}

.number-title>span,
.email-title>span,
.address-title>span {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

.real-number>span,
.real-email>span,
.real-address>span {
  font-size: 16px;
  font-weight: 900;
}

.address-img img,
.number-img img,
.email-img img {
  width: 50px;
}


@media screen and (max-width: 768px) {
  .otherInfo {
    display: flex;
    flex-direction: column;
  }

  .number,
  .email,
  .address {
    margin: 10px;
  }

}


/* end */