@import '../../../fixes/js/FooterCopy/FooterCopy.css';
@import './header/header.css';
@import './pay-delivery/pay-delivery.css';

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong,
.price,
.product-price,
.product-availability,
.product-product .product-single table .title,
.text-right,
.input-payment-firstname,
.input-payment-lastname,
.input-payment-email,
.input-payment-telephone,
.input-payment-address-1,
.input-payment-postcode,
label,
.input-payment-firstname {
  font-family: 'Inter', sans-serif !important;
}

/* Footer */

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: #000;
}

/* End */

/* First element in menu */
#home > div > header > div.header-wrapper > div > nav > ul > li.flexy.no_children > a {
  display: none;
}
/* End */

/* Second Banner */
.second_banner {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}
/* end */