.contacts {
  max-width: 1100px;
  width: 100%;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin: 0 50px 35px 0;
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__item_text {
  font-weight: 400;
  margin-left: 30px;
}