header > div.header-wrapper > div.container {
    max-width: 1500px ;
}

.wrapper .header .header-wrapper .header-search input {
    border: 0px !important;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #wishlist {
    color: black;
}