/*@import "../../../../components/HeaderTypeThree/styles/HeaderTypeThree.css"; */

@import '../../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
/*@import '../../../../components/HeaderTypeThree/styles/cart/cart.css';*/
/*@import '../../../../components/HeaderTypeThree/styles/sf-menu/sf-menu.css';*/

/*@import '../../../../components/HeaderTypeThree/styles/header-widgets/header-widgets.css';
@import '../../../../components/HeaderTypeThree/styles/header-wishlist/header-wishlist.css';
@import '../../../../components/HeaderTypeThree/styles/header-login/header-login.css';*/
/*@import '../../../../components/HeaderTypeThree/styles/logo/logo.css';

@import '../../../../components/HeaderTypeThree/styles/header/catalog/catalog.css';*/

/*@import './navigation-wrapper/navigation-wrapper.css';*/


.navigation-wrapper {
  background: transparent !important;
  border: none !important;
}

.navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy > a,
.wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li[data-nav-part='home'] > a {
  border-right: none !important;
  border-left: none !important;
}

body .arrow {
  display: none !important;
}

body.ru.ltr
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li.flexy:hover
> ul,
body.ru.ltr
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li.flexy:hover
> ul
div,
body.ru.ltr
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li.flexy:hover
> ul
li {
  background: white !important;
  padding: 5px 5px !important;
  border-right: 0 !important;
  border-left: 0 !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover,
body.theme_11
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li[data-nav-part='home']:hover {
  position: relative  !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul>li>a {
  text-align: center !important;
}

body.theme_11
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li.flexy:hover
> ul,
body.theme_11
.wrapper
.header
.navigation-wrapper
nav.navigation
ul.nav.sf-menu
> li[data-nav-part='home']:hover
> ul {
  width: fit-content !important;
  /* left: -100% !important; */
  display: flex !important;
  flex-direction: column !important;
}

/*@import './header-widgets/header-ico.css';*/
.wrapper .header .header-wrapper .header_widgets .header-cart,
.wrapper .header .header-wrapper .header_widgets .header_login>a {
  background: none !important;
  min-width: 24px !important;
  height: auto;
}

.wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart i {
  margin: 0;
  font-size: 23px;
}

.cart-wrapper .dropdown {
  padding: 8% 0 !important;
  bottom: 10px;
}


.common-home .header-cart .cart-wrapper #cart {
  padding-left: 10px !important;
}

.header-cart .cart-wrapper .cart-qty-circle {
  line-height: 20px !important;
}

.header-wrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_wishlist,
.header_login {
  position: relative;
  padding: 0 5px 0 10px;
  top: 20px;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login {
  display: inline-block;
  margin: 0 auto !important;
}

/*@import './header-widgets/header-widgets.css';*/
.wrapper .header .header-wrapper .header_widgets {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

body
> div
> header
> div.header-wrapper
> div.container-fluid
> div.header_widgets
> div.header_login
> a.d-none.d-lg-block {
  display: none !important;
}

body
> div
> header
> div.header-wrapper
> div.container-fluid
> div.header_widgets
> div.header_login
> a.d-none.d-sm-block.d-lg-none {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .wrapper .header .header-wrapper .header_widgets {
    position: relative !important;
  }
}

/* END */



/* NEW STYLES */
/* ********* */

/* SF-MENU */
@media (max-width: 768px) {
  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    left: 5px;
    right: auto;
    /*position: relative;*/
    z-index: 999;
  }
}
.wrapper .header .header-wrapper .mobile-navigation-wrapper {
  position: absolute;
  right: 15px;
  top: 0;
  max-width: 21px;
}

/* CART */
body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart {
  padding: 25px 0 0;
}
body.theme_11.ltr .header-cart .cart_drop_down.dropdown .dropdown-menu {
  right: 0;
  left: auto;
}

/* SEARCH ON MOBILE */
body.sidenav-enabled.ltr .mobile_side_nav ul {
  direction: ltr;
}
@media only screen and (max-width: 991px) {
  body.theme_11 .wrapper .header .header-wrapper .header-search {
    display: none !important;
  }
}



/* END */

.header {
  border: none !important;
}

.header .header-wrapper {
  background: transparent;
}

body.theme-gray.theme_11:not(.common-home) .wrapper .header .header-wrapper .header-search button,
body.theme-gray.theme_11:not(.common-home) .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart,
body.theme-gray.theme_11:not(.common-home) .header_widgets a,
body.theme-gray.theme_11:not(.common-home) .wrapper .header .header-wrapper .header_widgets .header_login>a {
  color: black !important;
}

body.common-home .menu-toggle svg {
  stroke: white !important;
}

@media screen and (min-width: 768px) {
  .logo img {
    max-height: 50px !important;
  }

  .cat_item {
    display: flex;
    width: auto;
    padding: 15px;
  }
}

.logo img {
  max-height: 50px !important;
}


@media (max-width: 495px) {
  .logo img {
    max-height: 110px !important;
  }
}


.wrapper .header .header-wrapper .header-search input {
  border: none !important;
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
  border-radius: 0 !important;
}

.p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .header-search {
  max-width: 210px !important;
  position: relative;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

.wrapper .header .header-wrapper .header-search {
  margin: 0 0 0 auto !important;
}

.wrapper .header .header-wrapper .header-search input.form-control {
  padding: 0 2% !important;
  font-size: 16px !important;
  background: transparent !important;
}

.wrapper .header .header-wrapper .header-search input.form-control::-webkit-input-placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.wrapper .header .header-wrapper .header-search input.form-control::-moz-placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.wrapper .header .header-wrapper .header-search input.form-control:-ms-input-placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.wrapper .header .header-wrapper .header-search input.form-control::-ms-input-placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.wrapper .header .header-wrapper .header-search input.form-control::placeholder {
  color: rgba(0,0,0,.5) !important;
  font-size: 16px !important;
}

.search_black_screen {
  opacity: .2 !important;
}

body.ltr .wrapper .header .header-wrapper .header-search button {
  right: 23px !important;
  left: auto !important;
  top: 8px !important;
  color: #000 !important;
}

body.ltr .wrapper .header .header-wrapper .header-search button i {
  font-size: 23px !important;
}

body.ltr .wrapper .header .header-wrapper .header-search.opened #search_results {
  max-width: 450px !important;
  width: inherit !important;
}

body.theme-gray.theme_11 .wrapper .header .header-wrapper .header-search input.form-control {
  color: white !important;
  padding-right: 0 !important;
  width: 165px !important;
}


@media (max-width: 991px) {
  body.ltr .wrapper .header .header-wrapper .header-search {
    display: none !important;
  }
}

@media (max-width: 495px) {
  body.ltr.ru .wrapper .header .header-wrapper .header-search {
    display: none !important;
  }
}

body.common-home .header .header-wrapper .mobile-navigation-wrapper a {
  color: #000 !important;
  margin-left: 0!important;
  bottom: 10px !important;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login {
  display: inline-block;
  padding: 0 5px 0 10px !important;
}

.header .header-wrapper .mobile-navigation-wrapper a {
  font-size: 23px;
  color: #000;
  margin-left: 25px;
}

@media only screen and (min-width: 1024px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 700px) {
  .header_wishlist,
  .header_login {
    display: none !important;
  }
}

@media only screen and (min-width: 700px) {
  .header_widgets {
    z-index: 9999 !important;
    position: relative !important;
  }
}

body.ltr .header .header-wrapper .mobile-navigation-wrapper {
  display: block !important;
}

body.theme_11.ltr .wrapper .header .header-wrapper .logo {
  margin: 0 5% 0 15% !important;
}

/*@media (max-width: 991px) {
  .header .header-search, .header-wrapper .navigation > .nav > li.flexy,
  .header_widgets .header_login,
  .header .header-wrapper .header-search {
    display: none !important;
  }
}*/

@media only screen and (max-width: 992px) {
  body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login,
  body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_wishlist {
    display: none;
  }
}

span.d-none.d-lg-inline-block {
  display: none !important;
}

body.theme_11 .header-cart .cart_drop_down.dropdown .dropdown-menu .cart-items .cart-items-inner .cart-content .vouchers .media.buttons .media-body .media-links .button-wrapper {
  flex: 0 0 50%;
  padding: 0 5px;
  margin-top: 0!important;
  width: 30%;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart,
.header_widgets a {
  color: #000 !important;
}

body.theme_11 .wrapper .header {
  width: 100% !important;
  z-index: 1111;
  padding: 2% 0 1% 0;
}

.common-home .wrapper .header .header-wrapper .header_widgets .header_login>a,
.common-home .header-cart .cart-wrapper #cart {
  color: #000 !important;
}

/*.wrapper .header .header-wrapper .header_widgets .header-cart {
  padding: 0 !important;
}*/

body.sidenav-enabled .mobile_side_nav>ul {
  border: 1px solid lightgray;
}

body.sidenav-enabled .mobile_side_nav>ul>.flexy>.collapse {
  display: block;
}

@media (max-width: 991px) {
  body.sidenav-enabled.ltr .mobile_side_nav ul {
    border: none;
    display: block;
  }
}

.mobile-navigation-close {
  width: 23px;
  position: absolute;
  top: 30px;
  left: 10%;
}


@media only screen and (min-width: 1024px) {
  .mobile-navigation-wrapper>a{
    display: none !important;
  }
}

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper .cart-qty-circle {
  right: 0;
  left: auto;
}





/* Change logo position */

@media (min-device-width: 1024px) {
  .header-wrapper #search {
      margin: 0px;
  }

  header > div.header-wrapper > div > div.logo {
      width: 100% !important;
      display: flex !important;
      justify-content: center !important
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
      margin: auto;
      position: relative;
      left: 282px;
  }

  header > div.header-wrapper > div > div.header_widgets > div.header_wishlist {
    top: 25px;

}

.header_widgets #wishlist > i {
    font-size: 24px;
}
}





















@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

/* img {
  width: 300px;
} */

.cat-name {
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.cat-a {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Inter', sans-serif;
}

.cat-a:hover {
  background: #ab838354;
    color: #fff;
    transition: 0.4s;
}

.cat_item {
  width: 300px !important;
  height: 143px;
  border-radius: 20px;
  background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1614599384/Rectangle_453_fani5n.png);
}

.common-home > div > div.content-area > div > div.container.cat_block > div > div > a {
  width: 100%;
}

.common-home > div > div.content-area > div > div.container.cat_block > div > div {
  margin-right: 20px;
  margin-bottom: 20px;
}


#banner0 > div > div > div > div > div > div > div > div {
  padding-top: 140px !important;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a {
  background: transparent !important;
  border: 1px solid black;
  color: black;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 400;
  border-radius: 0;
  font-size: 10px;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a {
  text-transform: lowercase;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a:first-letter {
  text-transform: uppercase;;
}

#banner0 > div > div > div > div > div > div > div > div > div > p > a:hover {
  color: #fff;
  background: black !important;
}

@media (min-device-width: 480px) {
  #home > div > div.content-area > div > div.contactsSection > div > div.otherInfo {
      flex-direction: row
  }


  #home > div > div.content-area > div > div.contactsSection > div > div.otherInfo > div.address > div {
      width: 100px;
  }
} 

@media (min-device-width: 1024px) {
  .checkout-cart .wrapper .header .header-wrapper .logo {
      left: 0px !important;
  }
  }

  body.theme_11.checkout-checkout .logo>a img {
    padding: 0px;
    margin-top: 10px;
}