.navigation-wrapper {
    background: transparent !important;
}

header.header {
    border-bottom: 0px !important;
}

.owl-wrapper-outer {
    box-shadow: none;
    -webkit-box-shadow: 0px 6px 5px 0px rgb(217 217 217);
    -moz-box-shadow: 0px 6px 5px 0px rgb(217 217 217);
    box-shadow: 0px 6px 5px 0px rgb(217 217 217);
}

h2.caption-title {
    text-align: center !important;   
}

h2.caption-title span {
    background: #2b2b2b78 !important;   
    color: white; 
    padding: 10px 30px 10px 30px !important;
}

body .section-title span:after {
    display: none;
}

body .section-title span:before {
    display: none;
}

h2.section-title.mb-4.mt-4 {
    margin-top: 90px !important;
    display: flex;
}

#content > div > div > div:nth-child(1) {
    display: none !important
}