@import './row/row.css';

.table-sizes {
  width: 100%;
  height: auto;
  margin: 35px 0;
}

.table-sizes__btn {
  padding-left: 15px;
  border: none;
  outline: none !important;
  background: none;
}