body.ru.ltr .wrapper .homefeatured_category>div.container {
  max-width: 1140px !important;
}

body.ru.ltr .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  color: #887568 !important;
  text-transform: none !important;
}


@media (max-width: 495px) {
  .thumbnail-banner .media-link .img-bg {
    height: 150px !important;
  }

  body.theme_11 .wrapper .homefeatured_category>div>div>div {
    margin: 0 2% 7px !important;
  }
}