.sender {
  padding: 0;
  margin: 50px 0 0;
  max-width: 990px;
  width: 100%;
}

.sender__title {
  font-family: 'Rubic', 'Golos Text', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: white;
}

.sender__form {
  position: relative;
  display: flex;
  align-items: center;
  height: 78px;
  border-radius: 64px;
  margin-bottom: 90px;
  width: 90%;
}

.sender__form_input {
  max-width: 848px;
  width: 100%;
  border: none;
  border-radius: 64px;
  padding-left: 5%;
  height: 100%;
  background: #424242;
}

.sender__form_input::placeholder {
  color: white;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.sender__form_btn {
  position: absolute;
  background: #fff;
  border: none;
  padding: 0;
  max-width: 240px;
  height: 100%;
  right: 0;
  top: 0;
  border-radius: inherit;
  font-size: 24px;
  color: black;
  padding: 0 5%;
}
