@import './cart.css';
@import './logo.css';
@import './search.css';

header {
  border: none !important;
}

.header .header-wrapper>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navigation-wrapper {
  background: #0077b6 !important;
}

.nav a {
  color: white;
}