@import './cart.css';
@import './logo.css';
/*@import './search.css';*/
@import './navigation.css';

header {
  border: none !important;
}

.header .header-wrapper>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body .content-area {
  padding-bottom: 0px;
}

.owl-prev {
  width: 30px;
  height: 30px;
  text-align: center;
}

.owl-next {
  width: 30px;
  height: 30px;
  text-align: center;
} 

/* .fa-shopping-cart:before {
  color: rgb(255, 255, 255);
} */

@media (max-device-width: 480px) {
  #home > div.wrapper.wrapper-closed > header > div.header-wrapper > div.container > div.logo > a > img {
      position: relative;
      right: 10%;
  }

  #home > div.wrapper.wrapper-closed > header > div.top-bar > div > div > div.col-8.col-lg-5.order-1 > div > ul > li:nth-child(1) {
      right: 70% !important;
  }
}

.header-cart .cart-wrapper #cart, .header-cart .cart-wrapper #wishlist {
  color: #000000;
}

body .btn.btn-theme.btn-theme-transparent:hover {
  border-color: #fcbf4900 !important;
}

body .btn.btn-theme.btn-theme-transparent:hover i {
  color: white !important;
}

/* <script type="module" src="https://sellavi-front.github.io/Pages/shops/101977/index.js"></script> */
/* @import 'https://sellavi-front.github.io/Pages/shops/101977/blocks/index.css'
 */