.header .navigation-wrapper {
  background: #0077b6 !important;
}

.nav a {
  color: white;
}

.navigation .nav.sf-menu {
  justify-self: start !important;
}

.sf-menu>li {
  border-left: 1px solid rgba(0, 150, 199, .3);
}

.sf-menu>li:last-child {
  border-right: 1px solid rgba(0, 150, 199, .3);
}

.sf-menu>li>a {
  padding: 15px !important;
  display: flex;
  justify-content: space-between;
}

.sf-menu>.flexy.has_children {
    padding-left: 20px;

}

.sf-menu>.flexy.has_children > i {
  color: white;
  position: absolute;
  left: 8%;
  top: 38%;
}

.sf-menu li:hover,
.sf-menu.nav>li>a:focus, .sf-menu.nav>li>a:hover {
  background: rgb(0, 120, 200) !important;
}

.sf-menu ul a:hover {
  color: #ffffff;
  background-color: #0078c8;
}

#home > div.wrapper.wrapper-closed > header > div.top-bar > div > div > div.col-8.col-lg-5.order-1 > div > ul > li:nth-child(1) {
  font-family: 'Open Sans', sans-serif;
}


#home > div.out-container > div.closer {
  position: relative;
  left: 0px;
  color: white
}

.whats {
  background: white;
  border: 2px solid black;
  width: 20%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}



.out-container {
  background: #00000063;
  position: fixed;
  width: 1226px;
  left: 0px;
  top: 0px;
  height: 700px;
}

#home > div.out-container > div.whats > h3 {
  color: #3b77b6;
  margin-top: 20px
}

#home > div.out-container > div.whats > h6 {
  display: none;
}

#home > div.out-container > div.whats > button {
  margin-bottom: 10px;
}

