.header .navigation-wrapper {
  background: #0077b6 !important;
}

.nav a {
  color: white;
}

.sf-menu>li {
  border-left: 1px solid rgba(0, 150, 199, .3);
}

.sf-menu>li:last-child {
  border-right: 1px solid rgba(0, 150, 199, .3);
}

.sf-menu>li>a {
  padding: 15px 30px !important;
}

.sf-menu>.flexy.has_children > i {
  color: white;
  position: absolute;
  left: 8%;
}

.sf-menu li:hover,
.sf-menu.nav>li>a:focus, .sf-menu.nav>li>a:hover {
  background: rgb(2, 62, 138) !important;
}