.main-slider .caption-content {
  text-align: left !important;
  margin: 0 0 0 47% !important;
}

.main-slider .caption-subtitle {
  text-transform: none !important;
  line-height: 1 !important;
}

.caption-subtitle > span > span {
  font-size: 5vw;
}

.caption-text .btn-theme {
  background: linear-gradient(92.24deg, #7fadf4 -1.13%, #1271fd 99.7%) !important;
  border: none;
  font-weight: 500 !important;
  border-radius: 0 !important;
  max-width: 280px;
  width: 100%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

@media (max-width: 480px) {
  .main-slider .caption-content {
    display: block !important;
    margin-left: 27% !important;
  }

  .main-slider {
    margin-top: 0 !important;
  }


}
