.owl-wrapper-outer {
  border: 4px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}


body.theme-red-2.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price ins {
  font-size: 20px !important;
  color: red !important;
}

.cpation-text .btn.btn-theme path {
  fill: var(--color-theme);
}

#banner0 .caption-content img {
  width: 90%;
  margin: 0 auto;
}
body.theme-red-2.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price del {
  font-size: 14px !important;
}

#banner0 > div > div > div > div > picture > img {
  -o-object-fit: cover;
     object-fit: cover;
     height: 520px;
}

body .main-slider .owl-item:nth-child(2) .caption-content {
  margin: 0 auto 0 0 !important;
}

body .main-slider .caption-content h3.caption-subtitle span {
  text-transform: none !important;
  text-shadow: none !important;
  color: var(--color-theme) !important;
  font-weight: 700 !important;
}

body.theme-green-2 .main-slider .caption-subtitle {
  color: #000 !important;
}

@media (max-width: 575px) {
  #banner0 > div > div > div > div > picture > img {
    height: 600px ;
  }

  .main-slider .caption-subtitle {
    font-size: 32px !important;
  }
}
