body.theme-green-2.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
  color: #000 !important;
  background-color: transparent !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button {
  width: 100%;
  border: 1px solid #333;
  padding: 14px 30px;
  transition: unset;
}

.thumbnail .add_to_wishlist button, .thumbnail .remove_from_wishlist button {
  border-radius: 5px;
  height: 45px !important;
  width: 45px !important;
  color: #2d2d2d;
  border: 1px solid #333;
  background-color: hsla(0,0%,100%,.8);
  padding: 0 0 0 1px !important;
  font-size: 18px;
}

@media only screen and (max-width: 400px) {
  body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button>i {
    display: inline-block;
  }
}
