@import '../../../components/HeaderTypeTwo/HeaderTypeTwo.css';
@import './header.css';
@import './footer.css';
@import './banner.css';
@import './buttons.css';
@import './product-card.css';
@import './custom-section.css';
@import './body.css';
@import './../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
@import './../../../components/AdvantagesTypeTwo/AdvantagesTypeTwo.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import './../../../components/HeaderWithCatalog/HeaderWithCatalog.css';

body.account-login .alert-danger {
  margin-bottom: 10px;
}

.alert-danger {
  color: #666;
  background-color: #efe6e6;
  border-color: #e9e9e9;
  text-align: left !important;
  width: 100%;
}