.categories__container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__container__item {
  display: flex;
  padding: 25px;
}

.categories__title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px;
}

.categories__container__item .arrow {
  display: none;
}