.categories__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
}

.categories__title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px;
}

.categories__row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories__container__item_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.column__item_img {
  border: 1px solid #3c3c3c;
  border-radius: 5px;
  display: flex;
  width: 300px;
  max-width: 300px;
  padding: 20px 0;
  height: 216px;
}

.column__item_img img {
  margin: 0 auto;
  width: 150px;
  height: auto;
  object-fit: contain;
}

.column__item_img h5 {

}


.categories__container__item_column .arrow {
  display: none;
}