@import '../../../components/HeaderTypeTwo/HeaderTypeTwo.css';
@import './header.css';
@import './footer.css';
@import './banner.css';
@import './buttons.css';
@import './product-card.css';
@import './custom-section.css';
@import './body.css';
@import './../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
@import './../../../components/AdvantagesTypeTwo/AdvantagesTypeTwo.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import './../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import './../../../components/HeaderWithCatalog/HeaderWithCatalog.css';
@import './../categories/categories.css';

body.account-login .alert-danger {
  margin-bottom: 10px;
}

body.theme_11 .wrapper .latest-section h2.section-title {
  margin: 35px 0 0 0!important;
}

.hits {
  margin-left: 5px;
}


/* Search */
body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .item_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 4 !important;
}

body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .item_data .name {
  font-size: 12px !important;
  font-weight: 400;
  margin-bottom: 8px;
  color: #637381;
}

body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .add_to_cart {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1 !important;
  padding: 0 15px;
}


#search_results > a > div.add_to_cart > button > i {
  display: none !important;
}


body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .add_to_cart>button {
  position: static;
  border-radius: 2px;
  font-size: 10px !important;
  font-weight: 600;
  line-height: 1;
  padding: 14px 0;
  max-width: 200px;
}


/* end */

/* categories in categories */
.media_holder {
  margin: 15px;
}

body.theme_11 .wrapper .subcategories_top>div>div>.media_holder>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  font-size: 12px !important;
  line-height: 24px;
  display: block;
  margin: 10px 0;
  padding: 0 16px;
  color: #333;
  font-weight: 400;
}

body.theme_11 .wrapper .subcategories_top>div>div>.media_holder>.thumbnail .media .media-link .img_holder {
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  max-width: 200px;
  width: 100%;
  border: 0;
}

/* end */

#home > div > div.content-area > section > div:nth-child(2) > div {
  padding: 10px !important;
}

body h1 .fa, body h1 .glyphicon, body h2 .fa, body h2 .glyphicon, body h3 .fa, body h3 .glyphicon, body h4 .fa, body h4 .glyphicon, body h5 .fa, body h5 .glyphicon, body h6 .fa, body h6 .glyphicon {
  color: #83C452 !important;
}

.alert-danger {
  color: #666;
  background-color: #efe6e6;
  border-color: #e9e9e9;
  text-align: left !important;
  width: 100%;
}

body.ltr .float-left {
  float: left !important;
}

.panel-collapse {
  position: relative;
  top: 0 !important;
  width: 100%;
  max-width: 800px;
  left: 0 !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item {
  margin: 0!important;
  padding: 5px 10px 15px 5px !important;
  border-right: 1px solid rgba(223,227,232,.71);
  border-bottom: 1px solid rgba(223,227,232,.71);
}

body .section-title.section-title-lg {
  font-size: 24px;
  height: 40px !important;
}

body .content-area .page-section.error-page h3 {
  margin: 0 0 15px;
  color: #ea0000;
  font-size: 32px;
  line-height: 35px;
  font-weight: 900;
}

body .content-area .page-section.error-page h2 {
  margin: 0 0 30px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #232323;
}

.accordion .dot {
  display: none !important;
}

.checkbox>label {
    font-weight: 100 !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: #333 !important;
}

.read_doc {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
}

.payment {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.payment a {
    margin-right: 50px;
}

body.checkout-checkout .payment>#button-payment~a {
    line-height: 42px;
    margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 413px) {

  .advantages {
    display: none;
  }

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .desktop-added-to-cart {
    right: auto !important;
    left: 0 !important;
  }

  .cart-items .cart-items-inner .buttons-wrapper a {
    font-size: 22px;
    cursor: pointer;
    margin-top: 90px !important;
  }

  body label.placeholder {
    position: relative;
    padding: 10px !important;
  }

  body.ltr .checkbox.customized label, body.ltr .radio.customized label {
    padding: 0 0 0 32px;
    line-height: 25px;
  }

  body .arrow {
    display: block !important;
    transform: rotate(180deg);
    margin-left: -35px !important;
  }

  .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-transform: initial;
    color: #000;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  body.theme_11 .wrapper .page-section .products.grid .product-item {
    padding: 0 !important;
    margin-top: 20px !important;
  }

  body.theme_11 .wrapper .latest-section h2.section-title {
    margin: 25px 0 5px 0 !important;
  }

  body .section-title {
    text-align: center !important;
  }

  .categories-title {
    text-align: center;
    margin: 25px 0 25px 0 !important;
  }

  #home > div > div.content-area > div.main-slider.content_center > div.custom_banner > div,
  #home > div > div.content-area > div.custom_section > div:nth-child(2),
  #home > div > div.content-area > div.custom_section > div:nth-child(1) {
    width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
  }

  .categories__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
  }

  .categories__item {
    display: flex;
    width: 100%;
    margin-top: 5px;
  }

  .categories__item img {
    width: 100%;
  }

  .categories__item a {
    width: 100% !important;
  }

  .logo img {
    max-width: 120px;
    margin-top: 5px;
    margin-left: 0 !important;
  }
}