.product-item .thumbnail .media img {
  max-width: 100%;
}

.thumbnail .media-link,
.latest-section .product-layout .thumbnail .media,
.content-area .page-section .product-layout,
.thumbnail.no-padding {
  padding: 0;
  margin: 0;
}

.product-item .thumbnail {
  border: 1px solid #eee;
  padding: 5%;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption,
.price_actions {
  padding: 0 5%;
}

.products,
.featured-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  margin-top: 3%;
  justify-content: center;
}

.products {
  padding: 1% 5%;
  background: #f9f9fa;
  margin: 0 !important;
}

body .section-title span:after, body .section-title span:before {
  display: none;
}

.common-home .section-title {
  padding: 0 !important;
  margin: 0 !important;
  text-align: left;
  font-size: 28px;
}

