@import './header/header.css';
@import './category/category.css';
@import './banner/banner.css';
@import './advantages/advantages.css';
@import './about/about.css';
@import './sender/sender.css';
@import './footer/footer.css';

@import './productCategory/productCategory.css';
@import './programs/programs.css';
@import './pageSectionContent/pageSectionContent.css';
@import './charity/charity.css';

.button_link {
  background: #455C6B;
  width: 100%;
  max-width: 1140px;
  color: white !important;
  font-weight: bold;
  border-radius: 5px;
  text-align: center !important;
  padding: 22px 0;
}

.id_link {
  color: #35867B;
  font-size: 22px;
  text-decoration: underline !important;
}
.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25% !important;
}

.sect > .row > .col:first-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .col-md-6 {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 0 50% !important;
          flex: 0 0 50% !important;
  max-width: 50% !important;
}

body .col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333% !important;
} 

#sellavi_logo {
  margin: 20px auto 0;
}