@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@import '../../modules/Requisites/Requisites.css';
@import "./blocks/banner/banner.css";
@import "./blocks/header/header.css";

@import '../../fixes/css/ResetHeaderForMarketplace/ResetHeaderForMarketplace.css';
@import '../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
@import "../../fixes/js/FooterCopy/FooterCopy.css";

@import '../../components/HeaderTypeTwo/styles/cart/cart.css';
@import '../../components/HeaderTypeTwo/styles/search/search.css';
@import '../../components/HeaderTypeTwo/styles/header-mobile/header-mobile.css';
@import '../../components/HeaderTypeTwo/styles/header-widgets/header-widgets.css';
@import '../../components/HeaderTypeTwo/styles/header-wishlist/header-wishlist.css';
@import '../../components/HeaderTypeTwo/styles/header-login/header-login.css';
@import '../../components/HeaderTypeTwo/styles/logo/logo.css';
@import '../../components/HeaderTypeTwo/styles/burger/burger.css';

@import '../../components/HeaderTypeTwo/HeaderTypeTwo.css';
@import '../../components/PictureCategories/PictureCategories.css';
@import '../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';

@import '../../templates/TemplateTypeTwo/styles/navigation/navigation.css';
@import '../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import '../../templates/TemplateTypeTwo/styles/cart-wrapper/cart-wrapper.css';


body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong,
.price,
.product-price,
.product-availability,
.product-product .product-single table .title,
.text-right,
.input-payment-firstname,
.input-payment-lastname,
.input-payment-email,
.input-payment-telephone,
.input-payment-address-1,
.input-payment-postcode,
label,
.input-payment-firstname {
  font-family: 'Montserrat', sans-serif !important;
}


/* sf-menu */


.sf-menu.nav>li {
  margin: 5px 16px;
  transition: text-decoration 1s !important;
}

.sf-menu.nav>li>a {
  font-size: 14px !important;
  margin: 0 !important;
  padding: 5px 0 !important;
  transition: text-decoration 1s !important;
}

.sf-menu.nav>li>a:hover,
.sf-menu.nav>li:hover {
  background: transparent !important;
}

.sf-menu.nav>li:hover {
  border: none !important;
}

body.ltr .wrapper .header .navigation-wrapper .navigation .nav.sf-menu>li:hover>a:before {
  display: none !important;
}

@media screen and (max-device-width: 480px) {
  .sf-menu {
    display: none !important;
  }

  .header_wishlist {
    display: none !important;
  }
}

.sf-menu.nav>li:hover, .sf-menu.nav>li>a:hover  {
  text-decoration: underline !important;
}


/* reset container size for .navigation-wrapper*/

body.theme_11 .wrapper .header .navigation-wrapper>div.container {
  max-width: 1140px !important;
}

/* end reset */
/* end*/


/* Pay Delivery */
body .content-delivery {
  margin-bottom: 80px;
}

@media(max-width: 768px) {
  body .content-delivery {
    flex-flow: column;
  }
}

body .delivery__right {
  max-width: 451px;
  width: 100%;
  padding-right: 20px;
}

body .delivery__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

body .delivery__right-title {
  font-size: 60px;
  line-height: 60px;
}

@media(max-width: 375px) {
  body .delivery__right-title {
    font-size: 48px;
    line-height: 48px;
  }
}

.delivery__right-small {
  color: rgb(112, 112, 112);
  font-size: 18px;
  line-height: 26px;
}

body .delivery__right-subtitle {
  color: rgb(17, 17, 17);
}

body .delivery__content-title {
  font-size: 18px;
  line-height: 26px;
}

body .delivery__content-label {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  color: rgb(130, 130, 130);
}
.pay__title {
  margin-bottom: 30px;
  font-size: 60px;
}


.faq__content--images {
  align-items: baseline;
  display: flex;
  margin: 32px auto;
  overflow: auto;
}

@media (max-width: 768px) {
  .faq__content--images {
    flex-wrap: wrap;
  }
}

.faq__content--images figure {
  margin-right: 50px;
  text-align: center;
}

/* End */

#home>.wrapper>.footer>.footer-widgets>.container>.row>.col-md-3:nth-child(2)>.widget-categories>ul>li:last-child {
  display: none;
}

/* Product card */

body.theme-gray.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button, body.theme-gray.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper>button {
  color: #000 !important;
  background-color: transparent !important;
}

.add_to_cart {
  border: 1px solid;
  border-radius: 5px;
}

.add_to_wishlist {
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
  margin-left: 5px;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  position: static !important;
  margin-top: 10px !important;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: center !important;
  margin-bottom: 20px !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  border: none !important;
}

body .content-area .page-section.titles {
  border: none !important;
  background: transparent !important;
}

.page-header h1 {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

body .thumbnail .img-fluid, body .img-thumbnail {
  width: 100% !important;
  min-width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  padding-left: 0 !important;
}

body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
  padding-right: 0 !important;
}

@media (max-width: 1199px) {
  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px;
  }

  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 0 !important;
  }
}

@media (max-width: 768px) {
  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(4n) {
    padding-right: 30px !important;
  }

  body.ru.ltr:not(.mobile_two_columns) .wrapper .page-section .products.grid .product-item:nth-child(3n) {
    padding-left: 30px !important;
  }

  body.ru.ltr .wrapper .page-section .products.grid .product-item {
    padding: 30px !important;
  }
}

body.theme-gray.theme_11.product-product .product-single.product-item .buttons #button-booking, body.theme-gray.theme_11.product-product .product-single.product-item .buttons #button-cart {
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid !important;
  border-radius: 5px !important;
}

body.theme-gray.theme_11.product-product .product-single.product-item .buttons .btn-wish-list {
  border-color: #000 !important;
  color: #000 !important;
  border: 1px solid !important;
  border-radius: 5px !important;
}

body.ltr.ru .wrapper .latest-section h2.section-title {
  text-transform: none !important;
  text-align: center !important;
}

/* End */

/* Footer */

body.ltr.ru .wrapper footer.footer .footer-widgets .widget .widget-title {
  text-transform: none !important;
  font-size: 18px !important;
  margin-bottom: 10% !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a,
body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: black !important;
}

.footer-widgets .row {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
  width: 100% !important;
}

@media (max-width: 991px) {
  .footer-widgets .row {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
  }
}

@media (max-width: 767px) {
  .footer-widgets .row {
    margin: 0 !important;
  }

  body.ltr.ru .wrapper footer.footer .footer-widgets {
    border-top: 1px solid #c4c4c4 !important;
  }

  .footer-widgets .row .col-md-3:nth-child(1),
  .footer-widgets .row .col-md-3:nth-child(2) {
    margin-bottom: 20px !important;
  }

  .footer-widgets .row .col-md-3:nth-child(2),
  .footer-widgets .row .col-md-3:nth-child(3) {
    border-top: 1px solid #c4c4c4 !important;
    padding-top: 20px !important;
  }
}


.footer .footer-meta {
  padding: 15px 0 !important;
  border: none !important;
}

.footer_content_container {
  height: 15px;
  display: flex;

}

.footer_content_text::after {
  display: none !important;
}

.footer .copyright_row {
  display: none;
}

.footer_content_text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.footer_content_text > p {
  display: none !important;
}

#sellavi_logo {
  width: 70px !important;
}

#home > div.wrapper.wrapper-closed > footer > div.footer-widgets > div.container > div > div:nth-child(2) > div > ul > li:nth-child(7) {
  display: none!important;
}

@media (max-width: 450px) {
  #sellavi_logo {
    margin: 10px auto 0 auto;
  }

  footer>div.footer-meta>div {
    padding-left: 0px;
  }
}

.footer_content_text img {
  margin: 0 5px !important;
  height: 100%;
}

body footer .footer-meta .footer_content_wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.footer_content_wrapper ul {
  margin: 0 !important;
  padding: 8px;
}


/* End */

