.price_actions .buttons__container {
  margin-top: 30px !important;
}

body .hide_on_mobile {
  display: block !important;
}

body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button {
  color: #a68e7d !important;
  background-color: transparent !important;
  border: 1px solid #a68e7d !important;
  border-radius: 5px !important;
}

body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover,
body.ru.ltr.product-product .product-single.product-item .buttons #button-cart:hover {
  color: #887568 !important;
  background-color: #fff1ea !important;
  border: 1px solid #887568 !important;
}
/*
body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button,
body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart,
body.ltr.product-product  .thumbnail .add_to_wishlist button,
body.ltr.product-product  .thumbnail .add_to_wishlist,
body.ltr.product-product  .thumbnail .remove_from_wishlist {
  height: inherit;
} */
/*
body.ltr .thumbnail .add_to_wishlist button {
  width: 60px !important;
  margin-left: 10px !important;
} */

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity {
  border: 1px solid #a68e7d !important;
  height: 100% !important;
  border-radius: 5px;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i {
  display: flex;
  align-items: center;
  color: #887568 !important;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field {
  max-height: 100% !important;
  color: #887568 !important;
}
/*
.product-product .product-single .buttons .btn-cart,
.product-product .product-single .buttons .btn-compare, .product-product .product-single .buttons .btn-wish-list {
  margin-top: 0 !important;
} */