#home > div > div > section > div:nth-child(4) > div > div > div > div > h2 {
    font-family: Hauss,sans-serif;

}

#home > div > div > section > div:nth-child(4) > div > div > div > div > p:nth-child(2) {
width: 300px;
font-family: Hauss,sans-serif;
}

#home > div > div > section > div:nth-child(4) > div > div > div > div > p:nth-child(3) {
font-family: Hauss,sans-serif;
}

#home > div > div > section > div:nth-child(4) > div > div > div > img {
    filter: drop-shadow(0px 4px 4px rgb(0 0 0 / 0%));
}

#home > div > div > section > div:nth-child(4) > div > div > div > div > ul li:before { 
    content:"- ";
}

#home > div > div > section > div:nth-child(4) > div > div > div > div > ul { 
    position: relative;
    left: 20px;
    top: -20px;
}