body.ru.ltr .wrapper .homefeatured_category > div > div > div {
  max-width: 250px !important;
}

body.ru.ltr .wrapper .homefeatured_category > div > div > div > .thumbnail,
body.ru.ltr .wrapper .homefeatured_category > div > div > div:nth-of-type(odd) {
  border: none !important;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .img-bg
  img {
  padding: 0 !important;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption {
  position: absolute !important;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title
  span {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  color: white;
  font-weight: bolder;
  width: 90%;
  font-family: 'Montserrat', sans-serif;
}

body.ru.ltr .wrapper .homefeatured_category > div > div > div {
  margin: 0 45px 0 0;
}

/* body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title {
  margin-bottom: 12% !important;
} */

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.thumbnail.thumbnail-banner .caption-title span {
  background: rgba(0, 0, 0, 0.6) !important;
  text-transform: none !important;
}

body.theme_11.ltr .wrapper .homefeatured_category>div>div>div:nth-of-type(2n) {
  border: none !important;
}

@media (max-width: 495px) {
  body .md-style-active label.placeholder {
    font-size: 7px !important;
  }
}
