@import '../../../fixes/js/FooterCopy/FooterCopy.css';

@import './pay-delivery/pay-delivery.css';

@import '../../../templates/TemplateTypeTwo/styles/index-withoutbanner.css';

@import '../../../modules/ButtonContainerInProduct/btn-with-border.css';

@import '../font/11051.ttf'

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-weight: 700;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
}