@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Regular'), local('GolosText-Regular'), url('./Golostext/Golostextregular.woff2') format('woff2'), url('./Golostext/Golostextregular.woff') format('woff'), url('./Golostext/Golostextregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text DemiBold'), local('GolosText-DemiBold'), url('./Golostext/Golostextdemibold.woff2') format('woff2'), url('./Golostext/Golostextdemibold.woff') format('woff'), url('./Golostext/Golostextdemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Black'), local('GolosText-Black'), url('./Golostext/Golostextblack.woff2') format('woff2'), url('./Golostext/Golostextblack.woff') format('woff'), url('./Golostext/Golostextblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Medium'), local('GolosText-Medium'), url('./Golostext/Golostextmedium.woff2') format('woff2'), url('./Golostext/Golostextmedium.woff') format('woff'), url('./Golostext/Golostextmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: local('Golos Text Bold'), local('GolosText-Bold'), url('./Golostext/Golostextbold.woff2') format('woff2'), url('./Golostext/Golostextbold.woff') format('woff'), url('./Golostext/Golostextbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
