.about {
  padding: 80px 0;
}

.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  width: 100%;
  margin-bottom: 55px;
}

.about__item {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about__item_img {
  max-width: 580px;
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

.about__item_title {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 30px;
}

.about__item_text {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: 530px;
  width: 100%;
}


@media (max-width: 1200px) {
  .about__item {
    justify-content: center;
    flex-direction: column-reverse;
  }

  .about__item_img {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .about__item_title {
    font-size: 22px;
    line-height: 1.2;
  }
}