.thumbnail-banner .media-link .img-bg {
  height: 100% !important;
}

.thumbnail.thumbnail-banner .caption-inner {
  border: 0;
  padding: 15px;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: 360px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title {
  text-align: center !important;
  height: 50px !important;
}

body .div-cell, body .div-table {
  height: 100%;
  display: table!important;
}

.thumbnail.thumbnail-banner .caption-sub-title span, .thumbnail.thumbnail-banner .caption-title span {
  background-color: transparent;
}

.thumbnail.thumbnail-banner .caption-sub-title, .thumbnail.thumbnail-banner .caption-title {
  text-align: center;
  text-transform: unset;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  color: #fff;
}

.category__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.count__products {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 100;
}

.more__category {
  padding: 2%;
  border: 1px solid #fff;
  width: 200px;
  margin-top: 5%;
  color: #fff;
}

.more__category:hover {
  color: #fff !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
  margin: 5%;
}

.common-home .content-area>.page-section>.container>.row>div:nth-child(1) {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

.common-home .content-area>.page-section>.container>.row>div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.common-home .content-area>.page-section>.container>.row>div:nth-child(3) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.categories__block {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}