@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

input.form-control::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif !important;
}

input.form-control::-moz-placeholder {
  font-family: 'Montserrat', sans-serif !important;
}

input.form-control:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif !important;
}

input.form-control::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif !important;
}

html, body,
body span,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body ul,
body li,
.product-availability,
.product-price,
#button-cart,
.title,
.price,
input.form-control,
input.form-control::placeholder,
.form_checkout,
.order_list_section__total-lines,
.checkout_table {
  font-family: 'Montserrat', sans-serif !important;
}