.ico-cart, .ico-heart, .ico-cart-white {
  width: 21px;
}

.ico-cart-white {
  color: #fff !important;
}

.header_wishlist {
  margin: 0 20px 5px !important;
}

@media (max-width: 495px) {

  body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets {
    margin-right: 15px !important;
  }

  body.theme-black.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart {
    margin-left: 10px !important;
  }
}
