/*@import '../../../templates/TemplateTypeTwo/styles/index.css';*/

@import '../../../fixes/css/ResetHeaderForMarketplace/ResetHeaderForMarketplace.css';
@import '../../../fixes/css/ResetStylesFooter/ResetStylesFooter.css';
/* @import '../../../components/HeaderTypeTwo/styles/cart/cart.css'; */
@import '../../../components/HeaderTypeTwo/styles/sf-menu/sf-menu.css';
@import '../../../components/HeaderTypeTwo/styles/search/search.css';
/* @import '../../../components/HeaderTypeTwo/styles/header-widgets/header-widgets.css'; */
@import '../../../components/HeaderTypeTwo/styles/header-wishlist/header-wishlist.css';
@import '../../../components/HeaderTypeTwo/styles/header-login/header-login.css';
@import '../../../components/HeaderTypeTwo/styles/logo/logo.css';
/* @import '../../../components/HeaderTypeTwo/styles/burger/burger.css'; */

@import '../../../components/PictureCategories/PictureCategories.css';
/*@import '../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';*/

@import '../../../templates/TemplateTypeTwo/styles/navigation/navigation.css';
@import '../../../templates/TemplateTypeTwo/styles/banner/banner.css';
@import '../../../templates/TemplateTypeTwo/styles/section-title/section-title.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-widgets.css';
@import '../../../templates/TemplateTypeTwo/styles/footer/footer-list.css';
@import '../../../templates/TemplateTypeTwo/styles/cart-wrapper/cart-wrapper.css';

@import './categories.css';
@import './header.css';
@import './navigation.css';
@import './footer.css';
@import './product-page.css';
@import './cart.css';

@import './../../../components/AdvantagesTypeTwo/AdvantagesTypeTwo.css';
/*@import './../../../components/ContactsWithMap/ContactsWithMap.css';*/
@import './../../../fixes/fixes.css';

@import './fonts.css';
@import './checkout.css';
/*@import './../styles/content-area.css';*/

.buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.thumbnail .add_to_wishlist,
.thumbnail .remove_from_wishlist {
  position: relative;
  left: 3px !important;
  right: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
}

.thumbnail .price {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 !important;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  body.theme_11 .wrapper .page-section .products.grid {
    padding-bottom: 25px;
  }
}

.price_actions .buttons__container {
  height: 48px !important;
}

.buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

/*.thumbnail .add_to_wishlist, .thumbnail .remove_from_wishlist {
  position: absolute;
  left: 0 !important; right: 0 !important; bottom: 0 !important; top: 0 !important;
}*/

/*.thumbnail .add_to_wishlist, .thumbnail .remove_from_wishlist {
  position: absolute;
  bottom: 15px;
  z-index: 1 !important;

  right: 15px;
  cursor: pointer;
  outline: none;
}*/

body.theme-gray.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button,
body.theme-gray.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .more_details_btn_wrapper
  > button {
  color: #000 !important;
  background-color: transparent !important;
  border: 1px solid !important;
}

body.theme-black.theme_11.product-product .product-single.product-item .buttons #button-booking,
body.theme-black.theme_11.product-product .product-single.product-item .buttons #button-cart {
  background-color: transparent !important;
  color: #000 !important;
}

body.theme-black.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover,
body.theme-black.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .more_details_btn_wrapper
  > button:hover {
  background-color: #d9d9d9 !important;
}

body.theme_11 .wrapper .header .header-wrapper .header_widgets {
  font-size: 21px !important;
}

body.theme-black.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button,
body.theme-black.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .more_details_btn_wrapper
  > button {
  color: #000 !important;
  background-color: transparent !important;
  border: 1px solid !important;
}

body.theme-gray.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button {
  color: #000 !important;
  background-color: transparent !important;
}

.product-product .product-single .buttons .btn-cart {
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  max-width: 100%;
  background-color: #232323;
  border-color: #232323;
  border-width: 2px;
  color: #fff;
  height: 60px;
  width: 270px;
  border-radius: 0;
}

body.theme-gray.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover {
  background-color: #c9c9c9 !important;
  border-radius: 5px !important;
}

body .content-area .page-section.breadcrumb {
  display: block !important;
}

#content > div > div:nth-child(2) > ul > li:nth-child(1),
#content > div > div:nth-child(2) > ul > li:nth-child(6),
#content > div > div:nth-child(2) > ul > li:nth-child(2) > ul > li:nth-child(5) {
  display: none !important;
}

body.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  .buttons_added.quantity {
  border: 1px solid !important;
  border-radius: 4px !important;
}

#home
  > div
  > footer
  > div.footer-widgets
  > div.container
  > div
  > div:nth-child(3)
  > div
  > ul
  > li:nth-child(3) {
  display: none !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a,
body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: #333 !important;
}

.featured-products-carousel .bx-wrapper {
  margin: auto !important;
  max-height: 465px;
}

body .section-title {
  margin-top: 0;
  margin-bottom: 0 !important;
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #232323;
  overflow: hidden;
}

.thumbnail .price {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin: 0 !important;
  width: 100%;
}

.price_actions .buttons__container {
  height: 48px !important;
}

.price_actions .buttons__container {
  height: 35px !important;
}

.mobile_one_column .products .thumbnail .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  position: static !important;
  margin-top: 0 !important;
}

body.ltr.ru
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .caption
  h4.caption-title,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: left !important;
  margin-bottom: 15px !important;
}

body.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button
  > i {
  display: inherit !important;
}

body.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .caption
  h4.caption-title {
  line-height: 14px;
  min-height: unset;
  text-align: right !important;
  margin-top: 18px;
  font-size: 12px;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  font-size: 15px !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item {
  margin: 0 !important;
  padding: 30px;
  border-right: 0 !important;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.thumbnail.no-padding {
  padding: 0 5px 0 5px !important;
}

body.theme-gray.theme_11.account-login .create-account .button_holder .btn.btn-block {
  background-color: #3c3c3c;
  border-color: #3c3c3c !important;
  color: #fff !important;
}

.add_to_cart:hover {
  border-radius: 0 !important;
}

body.theme-gray.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover {
  background-color: #c9c9c9 !important;
}

#home footer .footer-widgets {
  position: relative;
  padding-bottom: 25px !important;
}

body.theme_11
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .price
  del {
  font-size: 14px !important;
  line-height: 1 !important;
  font-weight: 500;
  color: #6d6d6d;
}

body.theme_11 .featured-products-carousel .bx-wrapper .bx-viewport {
  height: 450px !important;
}

body.ltr .wrapper .header .header-wrapper .header-search button i {
  font-size: 21px !important;
}

/*body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login>a i {
  font-size: 21px !important;
}*/

.header_wishlist > a {
  font-size: 21px !important;
}

#home
  > div.content-area
  > section
  > div.flexwrap.checkout_form
  > div.register_block
  > div.form_checkout
  > div.checkbox.customized.clearfix
  > label
  > a {
  text-decoration: underline !important;
}

body.ltr
  > div
  > header
  > div.navigation-wrapper
  > div
  > nav
  > ul
  > li.flexy.has_children.megamenu
  > ul {
  margin: 30px 0 0 -5px !important;
}

body.theme_11 .wrapper .navigation_black_screen.active {
  position: relative !important;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  left: 0;
}
body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart,
body.theme_11
  .wrapper
  .header
  .header-wrapper
  .header_widgets
  .header-cart
  .cart-wrapper
  #wishlist {
  color: #000 !important;
  font-size: 21px !important;
}

body.theme_11
  .wrapper
  .header
  .header-wrapper
  .header-search
  #search_results
  > a
  .add_to_cart
  > button {
  font-size: 12px;
  background: #fff;
  border: 1px solid #000 !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

body .content-area .page-section {
  position: relative;
  padding: 5px !important;
  margin-bottom: 25px !important;
}

.thumbnail .media-link {
  padding: 0;
  display: block;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: auto !important;
}

body.theme_11 .wrapper .latest-section h2.section-title {
  margin-top: 50px !important;
  margin-bottom: 0 !important;
}

.page-header {
  margin-top: 10px !important;
}

@media (max-width: 768px) {
  body.theme_11.ltr .wrapper .header .header-wrapper .logo {
    margin: auto !important;
  }
}

@media only screen and (min-width: 320px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 375px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 340px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 414px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    margin-top: 380px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 768px) {
  .mobile_one_column .products .thumbnail .caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px 0;
  }

  body.theme_11
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .caption
    h4.caption-title {
    margin-top: 0;
  }

  body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    position: static !important;
    margin-top: 0 !important;
  }

  body.ltr.ru
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .caption
    h4.caption-title,
  body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    text-align: left !important;
    margin-bottom: 15px !important;
  }

  body.theme_11
    .wrapper
    .page-section
    .products.grid
    .product-item
    .thumbnail
    .price_actions
    .add_to_cart
    > button
    > i {
    display: inherit !important;
  }

  /*#home > div > div.content-area > section.page-section.latest-section > div:nth-child(1) {
    display: none;
  }*/

  /*.footer-widgets>.container>.footer__row>.col-md-3 {
    border-top: 1px solid #C4C4C4 !important;
    padding-top: 20px !important;
    margin-bottom: 20px !important;
  }*/

  body .content-area .page-section.error-page h3 {
    margin: 0 0 15px;
    color: #ea0000;
    font-size: 30px;
    line-height: 50px;
    font-weight: 700;
  }

  body .content-area .page-section {
    position: relative;
    padding: 5px !important;
    margin-bottom: 0;
  }

  body.theme_11 .wrapper .latest-section h2.section-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  /*#product .custom-control {
    padding: 0;
    margin-right: 5px !important;
    width: 100%;
    height: 28px;
    display: flex;
    justify-content: center;
  }*/

  body .section-title.section-title-lg {
    font-size: 24px;
    height: 50px;
  }
}

.product-item .thumbnail .media img {
  height: 150px !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 495px) {
  .product-item .thumbnail .media img,
  body#home.common-home .latest-section .col-sm-6 .media {
    height: 100px !important;
    min-height: 100px;
  }
  .product-item .thumbnail .media img {
    object-fit: cover !important;
  }
}

@media only screen and (max-width: 1372px) {
  .advantages {
    margin-top: 15px !important;
  }
}

.advantages {
  margin-top: 15px;
}

body.ltr .wrapper .header .header-wrapper .logo {
  margin: 0 15% 0 auto;
  z-index: 9999 !important;
}
