@import '../../../templates/TemplateTypeTwo/styles/index.css';
@import './../styles/categories.css';
@import './../styles/header.css';
@import './../styles/footer.css';
@import './../styles/product-page.css';
@import './../../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
/*@import './../../../modules/ButtonContainerInProduct/btn-with-border.css';*/
@import './../../../components/AdvantagesTypeTwo/AdvantagesTypeTwo.css';
/*@import './../../../components/ContactsWithMap/ContactsWithMap.css';*/
@import './../../../fixes/fixes.css';

@import './../styles/fonts.css';
@import './../styles/content-area.css';



@media only screen and (max-width: 320px) {
  body.theme_11 .wrapper .homefeatured_category > div > div > div > .thumbnail .media .media-link .caption {
    display: flex;
    position: absolute;
    margin-top: 300px;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (max-width: 768px) {
  .mobile_one_column .products .thumbnail .caption {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 0;
  }

  body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    position: static !important;
    margin-top: 0 !important;
  }
}
