.sf-menu > li.megamenu > ul > li.megaline > div > div > span > a {
  text-transform: capitalize !important;
  font-weight: bold;
  color: #000;
}



.sf-menu .flexy.has_children ul {
  margin: 0 !important;
}

.sf-menu .flexy.has_children > ul li ul li {
  display: flex !important;
  color: black !important;
  align-items: flex-end;
  margin-bottom: 0 !important;
}

body.sidenav-enabled .mobile_side_nav .flexy>.arrow {
  display: block !important;
}