@import './../../../components/ColorChoise/ColorChoise.css';

body .social-icons {
  display: none;
}

body.theme-gray.theme_11.product-product .product-single.product-item .buttons .quantity {
  display: none;
}

body.theme-gray.theme_11.product-product .product-single.product-item .buttons .quantity {
  background-color: transparent;
  color: #000;
  flex: inherit;
}

.table_holder {
  display: none;
}

body.theme_11.product-product .product-single.product-item #tab-description, body.theme_11.product-product .product-single.product-item #tab-description~.table_holder {
  border-top: 0;
  padding: 20px 0;
}