body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    text-align: center !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
    color: black;
}

.footer-widgets .row {
    justify-content: flex-start;
}

body.ltr.ru .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title, body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    margin-bottom: 20px !important;
}


.title-socIcon {
    font-size: 18px;
    font-weight: 700;
    position: relative;
    top: -12px;
}

.wrapper.wrapper-closed > footer > div.footer-widgets > div.container > div > div > div > h4 {
    font-weight: 600 !important;
    font-size: 18px !important;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #878787 !important;
}