.footer .footer-meta {
  padding: 15px 0 !important;
}

.footer_content_container {
  height: 25px;
  display: flex;

}

.footer_content_text::after {
  display: none !important;
}

.footer .copyright_row {
  display: none;
}

.footer_content_text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@media (max-width: 450px) {
  #sellavi_logo {
    margin: 10px auto 0 auto;
  }

  footer>div.footer-meta>div {
    padding-left: 0px;
  }
}

.footer_content_text img {
  margin: 0 5px !important;
  height: 100%;
}

body footer .footer-meta .footer_content_wrapper {
  margin: 0;
  padding: 0;
}