body .btn.dropdown-toggle,
body.ru.ltr.product-product .product-single.product-item .buttons #button-cart {
  border: 1px solid #D0A995 !important;
  background: transparent !important;
  color: #887568 !important;
}


body .btn.dropdown-toggle {
  color: #D0A995 !important;
}