@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.banner__image {
    background-size: cover !important;
}



#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption {
    position: absolute;
    display: flex;
    align-items: flex-start;
    bottom: 240px;
    left: 100px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > h1 {
    background: #0000008f;
    width: 43%;
    text-align: left;
    padding-left: 20px;
    font-size: 3.7em;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > a {
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-size: 35px;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > h1 > div {
    font-size: 20px;
    font-weight: 100;
}

.mini-flex {
    display: flex;
    position: relative;
    top: 60px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.second-mini-flex {
    display: flex;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.second-mini-flex > div.flex-image.images {
    width: 50px;
    height: 38px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606831309/Vector_aj5iwn.png);
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.second-mini-flex > div.flex-image.texto {
    margin-left: 20px;
    padding-top: 10px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.second-mini-flex > div.flex-image.texto {
    width: 200px;
    text-align: left;
    line-height: 15px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.flex-item-i.quality > div {
    display: flex;
    position: relative;
    top: 30px;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.flex-item-i.quality > div > div.flex-image.images {
    width: 46px;
    height: 46px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606831309/Vector_1_vxcboe.png);
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > div > div > div.flex-item-i.quality > div > div.flex-image.texto {
    padding-left: 20px;
    padding-top: 10px
}

body .section-title span:before {
    display: none;
}

body .section-title span:after {
    display: none;
}

#home > div > div > section > div > h2 {
    display: flex;
}

.outer-container {
    height: 800px;
}

#search > button {
    top: 3px;
    right: 20px;
}

.header-cart .cart-wrapper #cart i {
    font-size: 19px;
    
}

.dropdown.cart_drop_down {
    left: 15px;
}

.banner__image {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgb(0 0 0 / 86%) ), url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606724800/jan-kopriva-sh_7sFEFICI-unsplash_1_gc6uba.png) !important;
}

#home > div > div > div.main-slider.content_center > div.custom_banner > div > div > div.banner__caption > h1 {
    background: #00000005;
}