.leader {
    height: 430px;
    background:linear-gradient( rgba(0, 0, 0, 0.5), rgb(0 0 0 / 66%) ), url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606903507/matthew-t-rader-1shWwOrkxEM-unsplash_1_h9dfln.png);
    background-size: cover;
}

#home > div > div > section > div.leader > div {
    color: white;
    font-size: 3em;
    width: 100%;
    position: relative;
    left: 90px;
    margin-bottom: 48px;
    top: 60px;
    font-weight: 600;
    line-height: 50px
}

#home > div > div > section > div.leader > div.leader-title > p {
    font-size: 1em;
    font-weight: 600;
}

.three-flex-block {
    display: flex;
    font-size: 15px !important;
    font-weight: 100 !important;
}

.first-block {
    display: flex;
}

.left-side.block1 {
    width: 40px;
    height: 40px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606905952/Vector_2_xxu9kz.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right-side.block1 {
    margin-right: 100px;
    margin-left: 20px
}

.second-block {
    display: flex;
}

.left-side.block2 {
    width: 45px;
    height: 45px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606905952/Vector_3_rk6ma3.png);
    background-size: contain;
    background-repeat: no-repeat;  
}

.right-side.block2 {
    margin-right: 100px;
    margin-left: 20px;
}

.third-block {
    display: flex;
}

.left-side.block3 {
    width: 40px;
    height: 40px;
    background: url(https://res.cloudinary.com/dtqqfmyqb/image/upload/v1606905952/Vector_4_vgmtzi.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.right-side.block3 {
    margin-left: 20px;
}

button.be-leader {
    border: 0px;
    color: white;
    background: #007735;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    left: 90px;
    top: 60px;
}