@import '../../templates/TemplateTypeOne/style/index.css';
@import './blocks/banner/banner.css';
@import './blocks/footer/footer.css';
@import './blocks/custom-section-banner/custom-section-banner.css';
@import '../../components/css-components/HeaderTransparent.css';
@import '../../components/FormBasic/FormBasic.css';
@import '../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
@import '../../modules/ButtonContainerInProduct/btn-with-border.css';
@import './mobile-version.css';

.distributors__list,
.product-availability,
.media {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.section-title span, .title {
  font-weight: 600 !important;
  font-size: 25px !important;
  line-height: 30px !important;
  text-align: center !important;
  border-bottom: 3px solid black;
  border-bottom: 5px solid linear-gradient(90.02deg, #90744c 0%, #d7bca1 99.99%);
  text-transform: none;
}

.nav {
  display: flex;
  flex-wrap: nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

.sf-menu.nav>li>a {
  padding: 13px 15px !important;
}

.sf-menu ul {
  min-width: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  margin-right: 0;
  padding-right: 0;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header-search button {
  right: 80px !important;
  left: auto;
}

body.sidenav-enabled.ltr .wrapper-opened {
  position: relative !important;
}

body.sidenav-enabled.ltr .mobile_side_nav ul {
  direction: ltr !important;
}