@import '../../templates/TemplateTypeOne/style/index.css';
@import './blocks/banner/banner.css';
@import './blocks/footer/footer.css';
@import './blocks/custom-section-banner/custom-section-banner.css';
@import '../../components/css-components/HeaderTransparent.css';
@import '../../components/FormBasic/FormBasic.css';
@import '../../modules/ButtonContainerInProduct/ButtonContainerInProduct.css';
@import '../../modules/ButtonContainerInProduct/btn-with-border.css';
@import './mobile-version.css';

.distributors__list,
.product-availability,
.media {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.section-title span, .title {
  font-weight: 600 !important;
  font-size: 25px !important;
  line-height: 30px !important;
  text-align: center !important;
  border-bottom: 3px solid black;
  text-transform: none;
}

.nav {
  display: flex;
  flex-wrap: nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
}

.sf-menu.nav>li>a {
  padding: 13px 15px !important;
}

.sf-menu ul {
  min-width: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  margin-right: 0;
  padding-right: 0;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header-search button {
  right: 25px !important;
  left: auto;
}

body.sidenav-enabled.ltr .wrapper-opened {
  position: relative !important;
}

body.sidenav-enabled.ltr .mobile_side_nav ul {
  direction: ltr !important;
}

body.theme_11 .wrapper .header .header-wrapper .header-search #search_results>a .add_to_cart>button {
  position: static;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 10px 0;
  max-width: 250px;
}

body.theme-gray.theme_11 .wrapper .header .header-wrapper .header-search #search_results .add_to_cart>button {
  color: #333;
  background: #fff;
  border: 1px solid;
}

body.theme-gray.theme_11 .wrapper .header .header-wrapper .header-search #search_results .add_to_cart>button:hover {
  background-color: #c9c9c9;
}

body.theme_11 .wrapper .header .header-wrapper .header-search #search_results {
  top: 60px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.5);
  max-width: 450px !important;
  width: inherit;
}

body.theme_11.ltr .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper, body.theme-gray.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header_login {
  display: flex;
  align-items: center;
  margin-right: 20% !important;
}

.cart_drop_down #cart > span:first-child {
  display: none !Important;
}

body.ltr.ru .header-cart .cart-wrapper .cart-qty-circle {
  width: 18px !important;
  height: 18px !important;
  font-size: 14px !important;
  line-height: 1.2 !important;
}

.alert {
  position: relative;
  padding-top: 0;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  z-index: 99 !important;
}

body.theme_11.ltr .header-cart .cart_drop_down.dropdown .dropdown-menu {
  right: -49px !important;
  left: auto !important;
}

.cart-items .cart-items-inner .buttons-wrapper {
  left: 0;
  top: 50% !important;
}

