@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .photo__custom_banner {
    display: none;
  }

  .section__banner_row {
    padding-top: 15%;
  }

  .dropdown.cart_drop_down {
    padding-top: 8% !important;
    margin-left: 4%;
  }

  .description__section {
    padding: 5%;
    margin-top: 30%;
  }

  .img__on__banner {
    position: absolute;
    left: 10%;
  }

  .banner__social {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }

  .banner__column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .banner__phone {
    margin-left: 0;
  }

  .h1, h1 {
    font-size: 1.5rem !important;
  }

}

@media (min-width: 768px) {
  .section__banner_row {
    padding-top: 15%;
  }
}
