@media (min-width: 1200px) {
  body .container {
    max-width: 1340px !important;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 1260px !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 920px !important;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 740px !important;
  }
}
