@import '../assets/fonts/fonts.css';
@import '../../../modules/ButtonListInHeader/style.css';

@import './header/header.css';

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body a,
body span,
body b,
body strong {
  font-family: 'Golos Text';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}
