.thumbnail .price_actions .add_to_cart button {
  border: 1px solid black;
  padding: 5% 25%;
}

.thumbnail .add_to_wishlist button {
  border: 1px solid black !important;
  background: transparent !important;
  padding: 0 !important;
  width: 72px;
  height: 100%;
}