.thumbnail .add_to_wishlist {
  position: initial !important;
}

.thumbnail .add_to_wishlist button {
  border-radius: 0 !important;
  border: 1px solid black !important;
  background: transparent !important;
  width: 72px;
  height: 52px;
  padding: 0 !important;
}

body .btn.btn-theme.btn-theme-transparent:hover i {
  color: black !important;
}

.thumbnail .caption-title {
  min-height: inherit !important;
  font-size: 20px;
}

.section-title span,
.title {
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 43px !important;
  text-align: left !important;
  border-bottom: 3px solid black;
  text-align: left;
  border-bottom: 5px solid linear-gradient(90.02deg, #90744c 0%, #d7bca1 99.99%);
  text-transform: none;
}

body .section-title {
  text-align: left !important;
}

.thumbnail .price {
  font-size: 22px !important;
}

.thumbnail .price {
  align-self: center;
  margin: 0 0 15px !important;
  width: 100%;
}

h2.section-title > span::after {
  content: ' ';
  display: flex;
  height: 5px;
  background: linear-gradient(90.02deg, #90744c 0%, #d7bca1 99.99%);
  width: 100%;
}

@media (max-width: 352px) {
  .thumbnail .add_to_wishlist button {
    padding: 12% 25%;
    height: auto !important;
  }
}
