.thumbnail .add_to_wishlist {
  position: initial !important;
  height: 100%;
}

.thumbnail .add_to_wishlist button {
  width: 72px;
  padding: 0 !important;
}

.thumbnail .add_to_cart .quantity,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart>button,
.thumbnail .add_to_wishlist button {
  border-radius: 0 !important;
  background: transparent !important;
  height: 100%;
  border: 1px solid lightgray !important;
  color: black !important;
  font-weight: 100;
}

.thumbnail .price_actions .add_to_cart {
  max-width: 276px !important;
  width: 100%;
  height: 100% !important;
  margin-right: 10px;
  background: transparent !important;
}

.thumbnail .price_actions .add_to_cart button {
  padding: 5% 25%;
}


body .btn.btn-theme.btn-theme-transparent:hover i {
  color: black !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field {
  height: 100% !important;
  max-height: 100% !important;
}

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumbnail .caption-title {
  min-height: inherit !important;
  font-size: 16px;
}
/* 
.section-title span,
.title {
  font-weight: 600 !important;
  font-size: 36px !important;
  line-height: 43px !important;
  text-align: left !important;
  text-align: left;
  text-transform: none;
} */

body .section-title {
  text-align: left !important;
}

.thumbnail .price {
  font-size: 22px !important;
}

.thumbnail .price {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 15px !important;
  width: 100%;
}

/* h2.section-title > span::after {
  content: ' ';
  display: flex;
  height: 5px;
  background: linear-gradient(90.02deg, #90744c 0%, #d7bca1 99.99%);
  width: 100%;
} */


@media (max-width: 495px) {
  .thumbnail .price_actions .add_to_cart {
    max-width: 276px !important;
  }

  .thumbnail .add_to_wishlist button  {
    display: block !important;
    width: 42px !important;
  }
}