body.ltr .thumbnail .add_to_wishlist button:hover,
body.ltr .thumbnail .remove_from_wishlist button:hover,
body.wide.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .add_to_cart
  > button:hover,
body.wide.ltr
  .wrapper
  .page-section
  .products.grid
  .product-item
  .thumbnail
  .price_actions
  .more_details_btn_wrapper
  > button:hover {
  background: rgba(23, 43, 37, 1) i !important;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-transition: all 0.4s ease !important;
  -o-transition: all 0.4s ease !important;
  transition: all 0.4s ease !important;
}
