@import './priceActions.css';
@import './btn-wishList.css';
@import './add_to_cart.css';
@import './colorBtns.css';

.product-item.product-layout {
  border: none !important;
}

body .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  top: -40px !important;

}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  margin: 20px 0 30px !important;
}

body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .caption h4.caption-title,
body.ru.ltr .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
  text-align: center !important;
}

.caption-title a {
  font-weight: normal;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  min-height: 85px;
  max-height: 85px;
}

@media (max-width: 576px) {
  body .product-item .hide_on_mobile {
    display: block !important;
  }

  body.theme_11.mobile_two_columns .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .price {
    top: -100px !important;
  }

  body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .caption {
    margin-bottom: 23px !important;
  }
}