@media (min-width: 992px) {
  .header-catalog {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin: 6px 0 0;
  }

  .wrapper .header .header-wrapper .mobile-navigation-wrapper {
    position: absolute;
    right: 15px;
    top: 23px;
    max-width: 150px !important;
  }

  .catalog-title {
    margin-left: 5px;
  }

  body.sidenav-enabled .mobile_side_nav {
    width: 100vw;
    height: 100vh;
    background: rgba(100,100,100,.2);
  }


  body.sidenav-enabled .mobile_side_nav>ul {
    background: white;
    max-width: 1140px;
    width: 100%;
    overflow: visible !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin: 0 auto;
  }

  body.sidenav-enabled.ltr .mobile_side_nav ul a {
    direction: rtl !important;
  }

  body.sidenav-enabled .mobile_side_nav .flexy>.arrow {
    position: absolute;
    top: 3px !important;
    height: 100%;
    max-height: 40px;
    max-width: 300px !important;
    width: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }

  body .arrow {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  body.sidenav-enabled .mobile_side_nav .flexy>.arrow.clicked {
    background: transparent;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  }

  body.sidenav-enabled .mobile_side_nav > ul a {
    border: none;
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
  }

  body.sidenav-enabled .mobile_side_nav > ul a {
    border: none;
    text-align: end;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
  }

  .mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
    color: #000;
  }

  .panel-collapse {
    position: relative;
    top: -40px;
    width: 100%;
    max-width: 800px;
  }
}

@media (max-width: 991px) {
  body.ltr .header .header-wrapper .mobile-navigation-wrapper {
    left: auto;
    right: 15px;
    z-index: 999;
  }
}