#home > div > div.content-area > section.page-section.homefeatured_category > div > div > div > div > div > a > div > div > div > span {
    display: none;
}

a.media-link {
    flex-direction: column !important;
}

.thumbnail-banner .media-link .img-bg {
    height: 255px !important;
}

body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption .caption-wrapper .caption-inner h2.caption-title span {
    color: black;   
    margin-top: 30px; 
}

.info-info {
    margin-top: 50px;
}

#home > div > div.content-area > div.info-info > div > div > span {
    font-size: 27px;
    font-weight: 800;
}

#home > div > div.content-area > div.info-info > div > div > div {
    margin-top: 20px;
}

.images-cat {
    display: flex;
    justify-content: space-between;
}

#home > div > div.content-area > div.container {
    margin-top: 100px;
}

#home > div > div.content-area > div.container > span {
    font-size: 37px;
    font-weight: 800;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 {
    margin-top: 60px !important;;
}

#home > div > div.content-area > section.page-section.latest-section > div > h2 > span {
    font-size: 37px;
    font-weight: 800;
    color: black;
}

#home > div > div.content-area > section.page-section.homefeatured_category > div > div > div {
    margin: 0px 10px 0px 10px !important;
}

#home > div > div.content-area > section.page-section.homefeatured_category > div > div > div {
    margin: 0px 10px 0px 10px !important;
}

.header_login {
    display: none !important;
}

.header-cart.sticky {
    margin-left: 0px !important;
    padding-left: 10px !important;
} 

@media (max-device-width: 480px) {
    body .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .img-bg img {
        height: auto !important;
        width: auto !important;
    }

    body.theme_11 .wrapper .homefeatured_category>div>div>div>.thumbnail .media .media-link .caption {
        position: relative !important;
        top: 45px !important;
    }

    .thumbnail-banner .media-link .img-bg {
        height: 80px !important;
    }
}