body.ltr.ru .wrapper footer.footer,
body.ltr.ru .wrapper footer.footer .footer-widgets {
  background: transparent !important;
  border: none !important;
}

/* body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
  color: #A1A1A1 !important;
} */

body.theme-gray .footer .footer-widgets .widget-title {
  margin: 0 0 10px !important;
  padding: 0 !important;
}

.widget-categories ul li a {
  padding: 0 !important;
  margin: 0 !important;
}

.footer .footer-widgets .widget-title:before,
body.ltr .widget-categories ul li a:before {
  display: none !important;
}

body:not(.common-home) footer.footer .footer-widgets>.container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin: auto !important;
  padding: auto !important;
  height: auto !important;
  width: auto !important;
  overflow: visible !important;
}


.wrapper footer.footer .footer-widgets .widget-categories ul li+li,
.footer-widgets .widget ul li {
  border: none !important;
}

.bs-menu-toggle {
  display: none !important;
}

