body.sidenav-enabled.ltr .wrapper-opened {
  left: 0 !important;
}

body#home .mobile_side_nav .sidenav_search {
  display: none !important;
}

body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
  left: 0 !important;
  right: 0 !important;
  box-shadow: none !important;
  border: none !important;
}

body.sidenav-enabled .mobile_side_nav {
  width: 50% !important;
}

body.sidenav-enabled .mobile_side_nav>ul {
  height: 800px !important;
}

body.sidenav-enabled .mobile_side_nav>ul {

  border-right: 1px solid lightgray;
}

body.sidenav-enabled .mobile_side_nav > ul a {
  border: none;
  text-align: start;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

body.sidenav-enabled.ltr nav.navigation.nav-opened.mobile_side_nav {
  background: transparent !important;
}

body.sidenav-enabled.ltr .wrapper-opened {
  position: static !important;
}

body.sidenav-enabled.ltr .mobile_side_nav .mobile_side_nav_menu {
  top: 90px;
  position: relative;
  background: white !important;
}

body.ltr .header .header-wrapper .mobile-navigation-wrapper {
  left: auto;
  right: 15px;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul {
  margin-bottom: 30px;
}

body.sidenav-enabled.ltr .flexy > .arrow {
  border: none !important;
  left: 1% !important;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #8f8f8f;
}

.mobile_side_nav_menu > .flexy > .panel-collapse > ul > .flexy > .arrow {
  display: none !important;
}

.mobile_side_nav_menu
  > .flexy
  > .panel-collapse
  > ul
  > .flexy
  > .panel-collapse
  > ul
  > li
  > a:after {
  content: '\f054' !important;
  font-family: Font awesome\5 Pro;
  font-weight: 300;
  margin-left: 10px;
}

.fa-caret-right:before {
  content: '\f054' !important;
}

@media (max-width: 991px) {
  .header .header-search,
  .header-wrapper .navigation,
  .header_widgets .header_wishlist,
  .header .header-wrapper .header-search {
    display: none !important;
  }
}

@media (max-width: 768px) {
  body.sidenav-enabled .prevent_touch_banner,
  .mobile_side_nav > .mobile_side_nav_menu {
    height: 70vh !important;
  }

  body.sidenav-enabled .prevent_touch_banner {
    width: 80vw !important;
  }

  body.sidenav-enabled .mobile_side_nav {
    width: 80% !important;
  }

  body.sidenav-enabled.ltr .navigation.nav-opened.mobile_side_nav {
    top: 80px !important;
  }

  body.sidenav-enabled.ltr nav.navigation.nav-opened.mobile_side_nav {
    background: white !important;
  }
}

@media (max-width: 495px) {
  body.sidenav-enabled.ltr .mobile_side_nav .mobile_side_nav_menu {
    top: auto !important;
  }
}

@media (max-width: 375px) {
  body.ltr .header-cart .cart_drop_down .dropdown-menu.dropdown-menu-right {
    right: -15px !important;
  }
}





@media (max-device-width: 480px) {
    .mobile-navigation-wrapper {
        left: auto !important;
    }

    body.theme_11 .wrapper .header .header-wrapper .logo {
        height: auto;
    }

    .button__list_elem {
        display: none !important;
    }

    .dropdown.cart_drop_down {
        display: none !important;
    }

    .logo {
        left: 0 !important;
    }
}
