
.content-area .products .product-item,
.featured-products .product-item,
.bx_product_featured .product-item {
  max-width: 412px !important;
  max-height: 750px;
  width: 100% !important;
  margin: 0 20px 90px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none !important;
  padding: 0 !important;
}

.thumbnail .price_actions {
  flex-direction: column !important;
}

.thumbnail .price_actions .add_to_cart {
  text-align: left !important;
  width: 100% !important;
}

.thumbnail .price_actions .add_to_cart button {
  border: 1px solid black;
  padding: 5% 25%;
  border-radius: 0;
}

.product-item .thumbnail .caption, .product-layout .thumbnail .caption {
  max-height: initial !important;
  min-height: initial !important;
  margin: 20px 0 !important;
  overflow: hidden !important;
}

.thumbnail .caption-title {
  min-height: inherit !important;
}

.thumbnail .media-link,
.latest-section .product-layout .thumbnail .media {
  margin: 0 !important;
  height: 370px;
}

.thumbnail .media-link {
  width: 100%;
}

.thumbnail .price {
  font-size: 22px !important;
  position: static !important;
}

.product-item .thumbnail .media img {
  min-height: inherit !important;
  max-width: inherit !important;
  max-height: inherit !important;
  height: inherit;
  object-fit: cover;
}