/* @import './title.css';
@import './card.css';
@import './buttons/bth-whishlist.css';
@import './buttons/button-container.css';
@import './buttons/buttons.css';
@import './page/product-page.css';
@import './page/reviews.css';
@import './buttons/add-to-cart.css';
@import './page/registration.css';

.products:not(.featured-products-carousel),
.featured-products:not(.featured-products-carousel) {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  grid-column-gap: 5%;
  grid-row-gap: 50px;
  margin-top: 3%;
  justify-content: center;
} */

body.theme_11 .wrapper .page-section .products.grid {
  justify-content: space-between;
}

.fa-stack {
  width: 20px !important;
}

.shop-sorting {
  display: none !important;
}

#product .form-group .text-danger {
  position: relative !important;
}

#product .form-group {
  align-items: flex-start;
  flex-direction: column !important;
}

#product .form-group > div {
  margin: 10px 0;
}
/*
@media (max-width: 995px) {
  .products:not(.featured-products-carousel),
  .featured-products:not(.featured-products-carousel) {
    grid-template-columns: repeat(auto-fit, 400px);
  }
} */
