@import './../../../style/style.css';

@media screen and (max-width: 480px) {
  body .content-area .page-section.titles {
    text-align: center;
    min-height: 80px;
    border-top: 0 !important;
    border-bottom: 0 !important;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    -webkit-box-orient: vertical;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
}